Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

chore: upgrade @supabase/supabase-js from 2.90.1 to 2.92.0 (#1657)
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: sync lock files with dependency upgrade
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade posthog-js from 1.327.0 to 1.335.2 (#1656)
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade @polar-sh/sdk from 0.41.5 to 0.42.2 (#1660)
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(perf): optimize initial repo data fetch with basic mode (#1661)
  src/hooks/use-progressive-repo-data.ts
  src/lib/supabase-pr-data-smart-deduped.ts
  src/lib/supabase-pr-data-smart.ts
  src/lib/validation/supabase-response-schemas.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.47.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e7/863023d61e59f8d32367cb0c12ed2e24e9ee48
Due: none

feat: remove email from Unkey metadata to avoid PII transmission (#1636)
  src/lib/supabase-pr-data-smart.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.48.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  35/d2d35d6c27198def43e00419bbebe8db8745d6
Due: none

chore: replace argo-cd with papercomputeco/tapes in example repos
  netlify/edge-functions/ssr-home.ts
  src/components/features/repository/example-repos.tsx
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: replace argo-cd with papercomputeco/tapes in example repos (#1664)
  netlify/edge-functions/ssr-home.ts
  src/components/features/repository/example-repos.tsx
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add StarSearch AI chat panel to repository pages
  .env.example
  netlify.toml
  netlify/functions/chat.mts
  package-lock.json
  package.json
  src/components/chat/chat-cards/health-card.tsx
  src/components/chat/chat-cards/pr-alert-card.tsx
  src/components/chat/chat-cards/recommendation-card.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
  src/components/chat/index.ts
  src/components/chat/types.ts
  src/components/common/layout/layout.tsx
  src/components/features/repository/repo-view.tsx
  src/index.css
  src/styles/cls-fixes.css
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove pnpm-lock.yaml to fix Netlify deploy
  pnpm-lock.yaml
Due: prettier --write

chore: npm audit fix for non-breaking dependency updates
  package-lock.json
Due: prettier --write

fix(security): validate owner/repo input in chat function
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: eliminate redundant query in get_repo_summary tool
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: require login for StarSearch chat and show user avatar
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use toUIMessageStreamResponse for AI SDK v6 compatibility
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add error handling and logging to StarSearch chat
  netlify/functions/chat.mts
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: enable ESM format for chat function to fix V2 routing
  netlify.toml
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: convert UIMessage to ModelMessage for AI SDK v6 compatibility
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: show chat errors in desktop view and improve error UX
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: await async convertToModelMessages before passing to streamText
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use explicit JSON Schema for tools with no parameters
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: rename parameters to inputSchema for AI SDK v6 tool API
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address code review findings for StarSearch chat
  netlify/functions/chat.mts
  src/components/chat/chat-cards/recommendation-card.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
  src/components/chat/types.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: override ajv to >=8.18.0 to resolve security audit failures
  package-lock.json
  package.json
Due: prettier --write

fix: resolve chat 502, XSS avatar vulnerability, and eslint/ajv conflict
  .github/workflows/compliance-secure.yml
  .github/workflows/compliance.yml
  netlify/functions/chat.mts
  package-lock.json
  package.json
  src/components/chat/chat-message.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: break CodeQL taint chain by returning parsed URL href
  src/components/chat/chat-message.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: scope chat system prompt to actual tool capabilities
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add StarSearch AI chat panel to repository pages (#1665)
  .env.example
  .github/workflows/compliance-secure.yml
  .github/workflows/compliance.yml
  netlify.toml
  netlify/functions/chat.mts
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/chat/chat-cards/health-card.tsx
  src/components/chat/chat-cards/pr-alert-card.tsx
  src/components/chat/chat-cards/recommendation-card.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
  src/components/chat/index.ts
  src/components/chat/types.ts
  src/components/common/layout/layout.tsx
  src/components/features/repository/repo-view.tsx
  src/index.css
  src/styles/cls-fixes.css
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.49.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  43/662767c32cee071d1a8e668c7a556ca97fde8d
Due: none

fix: add decimal precision, boundary rollover, and negative support to humanizeNumber
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: optimize humanizeNumber with integer comparisons (#1662)
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.50.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ab/c476a857e838e68dd6a43346891fff340dab65
Due: none

Delete .continue directory
  .continue/agents/conventional-title.md
  .continue/agents/deploy-checklist.md
  .continue/doc-templates/README.md
  .continue/doc-templates/api-template.md
  .continue/doc-templates/architecture-template.md
  .continue/doc-templates/feature-template.md
  .continue/doc-templates/migration-template.md
  .continue/rules/build-verification.md
  .continue/rules/console-log-security.md
  .continue/rules/context-aware-review.md
  .continue/rules/copywriting.md
  .continue/rules/create-prd.md
  .continue/rules/documentation-scannable-format.md
  .continue/rules/enhanced-contextual-insights.md
  .continue/rules/environment-variables.md
  .continue/rules/fix-ci-build-errors.md
  .continue/rules/generate-tasks.md
  .continue/rules/gh-cli.md
  .continue/rules/magic-numbers.md
  .continue/rules/no-premature-optimization.md
  .continue/rules/performance-optimization.md
  .continue/rules/process-task-list.md
  .continue/rules/react-component-file-naming.md
  .continue/rules/test-organization.md
  .continue/rules/testing-framework.md
  .continue/rules/typescript-no-any.md
  .continue/rules/ux-standards.md
  .continue/rules/verification-before-claims.md
Due: none
