Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

Notes added by 'git notes add'
  16a881921ef903e850cfab00ef33d36c0ada6d4f
Due: none

fix: re-assign sorted array to Map to ensure sort persistence
  src/lib/workspace-hover-card-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e15ad3f4a3f68fb04acae41d0ffc45dfd11f0692
Due: none

perf: cache fetchUserOrganizations calls (#1462)
  package-lock.json
  package.json
  src/lib/github.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.13.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ad241ed0471e76ae738be6ba01f62d9a94f8d8ef
Due: none

chore: remove unused Calendar component and react-day-picker dependency
  package-lock.json
  package.json
  src/components/ui/calendar.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: apply schwartzian transform to remaining sort operations in hover-card-utils
  src/lib/workspace-hover-card-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: webhooks-server/package.json & webhooks-server/package-lock.json to reduce vulnerabilities
  webhooks-server/package-lock.json
  webhooks-server/package.json
Due: prettier --write

fix: webhooks-server/package.json & webhooks-server/package-lock.json to reduce vulnerabilities (#1463)
  webhooks-server/package-lock.json
  webhooks-server/package.json
Due: prettier --write

chore(release): 4.13.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  edcbe2c4fb19b82eeb7532eecc117cd02ac2004d
Due: none

Notes added by 'git notes add'
  d919319af42e425875f66769dc1eaa685ffdbfbb
Due: none

chore(release): 4.13.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

perf: remove unused cache infrastructure from workspace hover cards
  src/lib/workspace-hover-card-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: optimize date sorting using schwartzian transform in workspace-… (#1461)
  src/lib/workspace-hover-card-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: update react-day-picker and palette learning entry
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.14.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  973a1a21985b9a656991639a0a5ec031165abd33
Due: none

fix: sync package-lock.json with package.json
  package-lock.json
Due: prettier --write

fix: sync pnpm-lock.yaml for Netlify deployment
  pnpm-lock.yaml
Due: prettier --write

perf: remove unused cache infrastructure from workspace hover cards (#1469)
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/lib/workspace-hover-card-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.15.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b8e872add1ec89efedc8e522813c8fa86dc3ed62
Due: none

feat: add database schema for GitHub Action usage tracking
  supabase/migrations/20260106_action_usage_tracking.sql
  supabase/migrations/20260106_add_action_usage_setting.sql
Due: none

feat: add database schema for GitHub Action usage tracking (#1473)
  supabase/migrations/20260106_action_usage_tracking.sql
  supabase/migrations/20260106_add_action_usage_setting.sql
Due: none

chore(release): 4.16.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e4b1f7397140dd202c3fbbf06697c828a7b19c7
Due: none

perf: optimize ChartStyle with memoization to prevent unnecessary re-renders
  src/components/ui/chart.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: eliminate useLayoutEffect blocking with createPortal
  src/components/ui/chart.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: document useLayoutEffect performance impact in Jules palette
  .jules/palette.md
Due: none

chore(release): 4.17.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.18.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  00/66f521ef03ff789c014a31cbff7609fe1275d8
Due: none

perf: move TooltipProvider to App root for better performance
  src/App.tsx
  src/components/features/activity/activity-item.tsx
  src/components/features/activity/issue-volume-calendar-card.tsx
  src/components/features/activity/spam-aware-activity-item.tsx
  src/components/features/admin/maintainer-management.tsx
  src/components/features/contributor/contributor-card-with-role.tsx
  src/components/features/contributor/contributor-card-wrapper.tsx
  src/components/features/contributor/contributor-card.tsx
  src/components/features/health/confidence-breakdown-tooltip.tsx
  src/components/features/health/lottery-factor.tsx
  src/components/features/health/quadrant-chart.tsx
  src/components/features/repository/manual-sync-button.tsx
  src/components/features/repository/unified-sync-button.tsx
  src/components/features/spam/spam-indicator.tsx
  src/components/features/workspace/ActivityChart.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/AddToWorkspaceButton.tsx
  src/components/features/workspace/ContributorsList.tsx
  src/components/features/workspace/ContributorsTable.tsx
  src/components/features/workspace/MetricCard.tsx
  src/components/features/workspace/TimeRangeSelector.tsx
  src/components/features/workspace/TrendChart.tsx
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceBackfillButton.tsx
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
  src/components/features/workspace/components/ActivityTableRow.tsx
  src/components/ui/repository-inline-metadata.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: fix ActivityTableRow tests with TooltipProvider and remove async patterns
  src/components/features/workspace/__tests__/analytics-components.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Repository Insights TUI settings tab with Teams+ gating
  src/components/features/workspace/settings/TUISetupTab.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/lib/copy/upgrade-messages.ts
  src/services/polar/subscription.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: simplify TUI settings to single card with link
  src/components/features/workspace/settings/TUISetupTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
