Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix(workspace): correct trend icon direction and color logic for Avg Review Time
  docs/performance/maintainer-roles-caching.md
  src/components/features/activity/avg-time-card.tsx
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/activity/pr-count-card.tsx
  src/components/features/activity/velocity-card.tsx
  src/components/features/workspace/WorkspaceMetricsAndTrends.tsx
  src/lib/insights/trends-metrics.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): integrate GitHub events cache for rich analytics
  docs/integrations/github-events-cache-integration.md
  src/components/features/workspace/WorkspaceEventsMetrics.tsx
  src/hooks/use-workspace-events.ts
  src/services/workspace-events.service.ts
  supabase/migrations/20250905_workspace_events_integration.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(trending): add GitHub events insights dashboard
  src/components/features/trending/TrendingEventsInsights.tsx
  src/components/features/trending/TrendingPage.tsx
  src/components/features/trending/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve TypeScript errors in CI build
  src/components/features/trending/TrendingPage.tsx
  src/services/workspace-events.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): integrate GitHub events cache for rich analytics (#688)
  docs/integrations/github-events-cache-integration.md
  src/components/features/trending/TrendingEventsInsights.tsx
  src/components/features/trending/TrendingPage.tsx
  src/components/features/trending/index.ts
  src/components/features/workspace/WorkspaceEventsMetrics.tsx
  src/hooks/use-workspace-events.ts
  src/services/workspace-events.service.ts
  supabase/migrations/20250905_workspace_events_integration.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address workspace events security and quality issues
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/__tests__/use-workspace-events.test.ts
  src/hooks/use-workspace-events.ts
  src/pages/workspace-page.tsx
  src/services/__tests__/workspace-events.service.test.ts
  src/services/workspace-events.service.ts
  supabase/migrations/20250905_workspace_events_integration.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve metric naming inconsistency for PR Completion Rate
  src/components/features/workspace/WorkspaceMetricsAndTrends.tsx
  src/lib/insights/trends-metrics.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): correct trend icon direction and color logic (#687)
  docs/performance/maintainer-roles-caching.md
  src/components/features/activity/avg-time-card.tsx
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/activity/pr-count-card.tsx
  src/components/features/activity/velocity-card.tsx
  src/components/features/workspace/WorkspaceMetricsAndTrends.tsx
  src/lib/insights/trends-metrics.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): optimize mobile navigation and repository list
  scripts/backfill-workspace-events.py
  src/components/features/workspace/RepositoryList.tsx
  src/components/features/workspace/WorkspaceTabNavigation.tsx
  src/lib/feature-flags/posthog-client.ts
  src/lib/feature-flags/types.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

remove weird fule :
  scripts/backfill-workspace-events.py
Due: none

fix: improve mobile responsiveness for workspace components (#697)
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/ContributorsList.tsx
  src/components/features/workspace/RepositoryList.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/features/workspace/WorkspaceTabNavigation.tsx
  src/lib/feature-flags/posthog-client.ts
  src/lib/feature-flags/types.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement workspace creation feature flag controls (#691)
  e2e/workspace-creation-feature-flag.spec.ts
  netlify/functions/__tests__/api-workspaces-feature-flag.test.ts
  netlify/functions/api-workspaces.mts
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/WorkspaceCreationDisabled.tsx
  src/components/features/workspace/WorkspaceOnboarding.tsx
  src/components/features/workspace/__tests__/WorkspaceCreateModal.feature-flag.test.tsx
  src/components/features/workspace/__tests__/WorkspaceCreationDisabled.test.tsx
  src/components/features/workspace/__tests__/WorkspaceOnboarding.feature-flag.test.tsx
  src/lib/feature-flags/posthog-client.ts
  src/lib/feature-flags/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve systemic data integrity issues causing chart failures (#694)
  docs/postmortems/github-issue-694-self-selection-contributor-confidence-fix.md
  src/components/features/admin/data-integrity-monitor.tsx
  src/lib/database-validation.test.ts
  src/lib/sync-validation.test.ts
  supabase/migrations/20250908000000_fix_total_pull_requests_systemically.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: address continue-agent security and performance feedback
  src/components/features/admin/data-integrity-monitor-error-boundary.tsx
  src/components/features/admin/data-integrity-monitor.tsx
  src/lib/database-validation.test.ts
  src/lib/sync-validation.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace async database tests with bulletproof unit tests
  src/lib/database-validation.test.ts
  src/lib/sync-validation.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Create triage team guide in TRIAGE.md
  TRIAGE.md
Due: none

Update CONTRIBUTING.md with TRIAGE.md reference
  CONTRIBUTING.md
Due: none

Fix link to TRIAGE.md in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update Discord channel name in triage guide
  TRIAGE.md
Due: none

Update links and title in TRIAGE.md
  TRIAGE.md
Due: none

fix: resolve pull_request_count and total_pull_requests data inconsistency
  supabase/migrations/20250908000000_fix_total_pull_requests_consistency.sql
Due: none

fix: resolve PR count data inconsistency causing chart failures #694
  supabase/migrations/20250908000001_fix_pr_count_data_consistency.sql
Due: none

fix: sync PR count columns to resolve chart failures #694
  supabase/migrations/20250908000002_sync_pr_count_columns.sql
Due: none

feat: production-based consolidated migration to support local setup script
  supabase/migrations-local/001_production_based_consolidated.sql
Due: none

feat: enhance local migration setup with consolidated migration support
  supabase/migrations-local/setup-local.mjs
Due: none

fix: add sync status cleanup to resolve frontend loading states
  supabase/migrations/20250908000002_sync_pr_count_columns.sql
Due: none

fix: improve migration restoration process and ensure proper exit code handling
  supabase/migrations-local/setup-local.mjs
Due: none

remove old consolidation file
  supabase/migrations-local/000_consolidated_local_safe.sql
Due: none

feat: add consolidated migration script for local Supabase setup and update README for automation details
  package.json
  supabase/migrations-local/README.md
Due: prettier --write

fix: add security audit overrides for known false positives
  .npmrc
  package-lock.json
  package.json
  scripts/security-audit.sh
Due: prettier --write

fix: add Socket Security ignore config for safer-buffer false positive
  .socket.yml
  package.json
Due: prettier --write

fix: update ansi-regex version to resolve test runner compatibility
  package-lock.json
  package.json
Due: prettier --write

fix: restore clean dependency state by removing npm overrides
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

fix: restore package-lock.json to main branch state
  package-lock.json
Due: prettier --write

feat: implement seed file management during consolidated migration to prevent seeding errors
  supabase/migrations-local/setup-local.mjs
Due: none

feat: update CONTRIBUTING.md to recommend consolidated migration setup for local development
  CONTRIBUTING.md
Due: none
