Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: convert supabase.ts to shim for lazy initialization
  src/lib/supabase.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: migrate AuthButton to async getSupabase() pattern
  src/components/features/auth/auth-button.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: migrate critical auth hooks to async Supabase pattern
  src/hooks/use-current-user.ts
  src/hooks/use-github-auth.ts
  src/hooks/useAuth.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: migrate remaining critical hooks to async Supabase pattern
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/hooks/use-subscription-sync.ts
  src/hooks/use-user-workspaces.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: restore synchronous Supabase client for backwards compatibility
  src/components/common/layout/home.tsx
  src/hooks/use-has-paid-workspace.ts
  src/hooks/use-notifications.ts
  src/lib/supabase-lazy.ts
  src/lib/supabase.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve Best Practices score drop from CSP and PostHog issues
  public/_headers
  src/lib/feature-flags/posthog-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: cleanup dead code and improve error handling
  src/components/features/auth/auth-button.tsx
  src/lib/supabase-lazy.ts
  src/lib/supabase.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: defer Supabase client initialization for faster LCP (#1282)
  public/_headers
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/App.tsx
  src/components/common/layout/home.tsx
  src/components/common/layout/layout.tsx
  src/components/features/auth/auth-button.tsx
  src/hooks/__tests__/use-user-workspaces.integration.test.ts
  src/hooks/__tests__/use-user-workspaces.test.ts
  src/hooks/use-current-user.ts
  src/hooks/use-github-auth.ts
  src/hooks/use-has-paid-workspace.ts
  src/hooks/use-notifications.ts
  src/hooks/use-subscription-sync.ts
  src/hooks/use-user-workspaces.ts
  src/hooks/useAuth.ts
  src/lib/__tests__/auth-helpers.integration.test.ts
  src/lib/auth/__tests__/safe-auth.test.ts
  src/lib/auth/safe-auth.ts
  src/lib/feature-flags/posthog-client.ts
  src/lib/supabase-lazy.ts
  src/lib/supabase.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

perf: fix markdown bundle lazy loading to reduce initial page size
  src/components/common/layout/index.ts
  src/components/features/repository/repository-summary-card.tsx
  src/components/insights/sections/repository-summary.tsx
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Limit Issue Assignee Distribution to 5 visible items
  src/components/features/workspace/charts/AssigneeDistributionChart.tsx
  src/components/features/workspace/charts/AssigneeDistributionChartOptimized.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix maxVisible override in WorkspaceIssuesTab
  src/components/features/workspace/WorkspaceIssuesTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: fix markdown bundle lazy loading to reduce initial page size (#1287)
  src/components/common/layout/index.ts
  src/components/features/repository/repository-summary-card.tsx
  src/components/insights/sections/repository-summary.tsx
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Limit Issue Assignee Distribution to 5 visible items (#1288)
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/charts/AssigneeDistributionChart.tsx
  src/components/features/workspace/charts/AssigneeDistributionChartOptimized.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: defer repo-view and chart bundle loading for faster LCP
  src/App.tsx
  src/components/common/layout/home.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct mock paths and remove async in home tests
  src/components/common/layout/__tests__/home.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: Optimize chart bundle loading to reduce initial load (#1289)
  src/App.tsx
  src/components/common/layout/__tests__/home.test.tsx
  src/components/common/layout/home.tsx
  src/services/__tests__/workspace.service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: document analytics chunk separation rationale
  docs/performance/analytics-chunk-separation-2025-12-10.md
Due: none

docs: document analytics chunk separation rationale (#1290)
  docs/performance/analytics-chunk-separation-2025-12-10.md
Due: none

fix: update tests for async getSupabase() migration
  src/hooks/__tests__/useWorkspaceIssues.test.ts
  src/hooks/__tests__/useWorkspacePRs.test.ts
  src/services/__tests__/discussion-summary.service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: implement request deduplication for auth and workspace hooks
  src/hooks/__tests__/use-user-workspaces.test.ts
  src/hooks/use-cached-auth.ts
  src/hooks/use-current-user.ts
  src/hooks/use-user-workspaces.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add QueryClientProvider wrapper to integration tests
  src/hooks/__tests__/use-user-workspaces.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add error handling for JSON.parse in test auth
  src/hooks/use-cached-auth.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: implement request deduplication for auth and workspace hooks (#1292)
  src/hooks/__tests__/use-user-workspaces.integration.test.ts
  src/hooks/__tests__/use-user-workspaces.test.ts
  src/hooks/use-cached-auth.ts
  src/hooks/use-current-user.ts
  src/hooks/use-user-workspaces.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update RLS policy for repository_confidence_history table
  supabase/migrations/20251210_fix_confidence_history_rls.sql
Due: none

fix: update RLS policy for repository_confidence_history table (#1298)
  supabase/migrations/20251210_fix_confidence_history_rls.sql
Due: none

feat: upgrade to React 19
  package-lock.json
  package.json
  src/components/features/workspace/hooks/useAccessibility.ts
  src/components/navigation/WorkspaceSwitcher.tsx
  src/components/ui/optimized-avatar-simple.tsx
  src/components/ui/optimized-avatar.tsx
  src/components/ui/permission-upgrade-cta.tsx
  src/hooks/use-intersection-loader.ts
  src/hooks/use-intersection-observer.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add S3 persistent storage for edge functions
  supabase/functions/.env.example
  supabase/functions/_shared/s3-storage.test.ts
  supabase/functions/_shared/s3-storage.ts
  supabase/functions/inngest-prod/index.ts
  supabase/functions/tests/checkpoint-recovery.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: add missing database table types for React 19 upgrade
  src/types/database.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use supabase.ts types and fix type strictness issues
  src/hooks/use-spam-filtered-feed.ts
  src/lib/analytics/rising-stars-data.ts
  src/lib/api/pr-activity-adapter.ts
  src/lib/api/spam-filtered-feed.ts
  src/lib/insights/__tests__/confidence-history.integration.test.ts
  src/lib/insights/confidence-history.service.ts
  src/lib/insights/health-metrics.ts
  src/services/workspace-aggregation.service.ts
  src/services/workspace-confidence.service.ts
  src/types/supabase.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: upgrade to React 19 (#1299)
  package-lock.json
  package.json
  src/components/features/workspace/hooks/useAccessibility.ts
  src/components/navigation/WorkspaceSwitcher.tsx
  src/components/ui/optimized-avatar-simple.tsx
  src/components/ui/optimized-avatar.tsx
  src/components/ui/permission-upgrade-cta.tsx
  src/hooks/use-intersection-loader.ts
  src/hooks/use-intersection-observer.ts
  src/hooks/use-spam-filtered-feed.ts
  src/lib/analytics/rising-stars-data.ts
  src/lib/api/pr-activity-adapter.ts
  src/lib/api/spam-filtered-feed.ts
  src/lib/insights/__tests__/confidence-history.integration.test.ts
  src/lib/insights/confidence-history.service.ts
  src/lib/insights/health-metrics.ts
  src/lib/snapdom-capture.ts
  src/services/workspace-aggregation.service.ts
  src/services/workspace-confidence.service.ts
  src/types/database.ts
  src/types/supabase.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: migrate forwardRef to React 19 ref-as-prop pattern (#1293)
  src/components/features/analytics/ChartErrorBoundary.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/alert.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/carousel.tsx
  src/components/ui/chart.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/circular-progress.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/drawer.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/hover-card.tsx
  src/components/ui/icon.tsx
  src/components/ui/input-otp.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/optimized-image.tsx
  src/components/ui/pagination.tsx
  src/components/ui/popover.tsx
  src/components/ui/progress.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/table.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toast.tsx
  src/components/ui/toggle.tsx
  src/components/ui/tooltip.tsx
  src/components/ui/virtualized-list.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: migrate forwardRef to React 19 ref-as-prop pattern (#1293) (#1295)
  src/components/features/analytics/ChartErrorBoundary.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/alert.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/carousel.tsx
  src/components/ui/chart.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/circular-progress.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/drawer.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/hover-card.tsx
  src/components/ui/icon.tsx
  src/components/ui/input-otp.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/optimized-image.tsx
  src/components/ui/pagination.tsx
  src/components/ui/popover.tsx
  src/components/ui/progress.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/table.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toast.tsx
  src/components/ui/toggle.tsx
  src/components/ui/tooltip.tsx
  src/components/ui/virtualized-list.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

style: fix deno formatting (import order + trailing commas)
  supabase/functions/_shared/s3-storage.test.ts
  supabase/functions/_shared/s3-storage.ts
  supabase/functions/codeowners/index.ts
  supabase/functions/inngest-prod/index.ts
  supabase/functions/slack-oauth-callback/index.ts
  supabase/functions/slack-test-integration/index.ts
  supabase/functions/sync-discussions/index.ts
  supabase/functions/tests/checkpoint-recovery.test.ts
  supabase/functions/workspace-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: address security and reliability issues from PR review
  supabase/functions/_shared/s3-storage.ts
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: add warning log for malformed audit log entries
  supabase/functions/_shared/s3-storage.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add S3 persistent storage for edge functions (#1300)
  supabase/functions/.env.example
  supabase/functions/_shared/s3-storage.test.ts
  supabase/functions/_shared/s3-storage.ts
  supabase/functions/codeowners/index.ts
  supabase/functions/inngest-prod/index.ts
  supabase/functions/slack-oauth-callback/index.ts
  supabase/functions/slack-test-integration/index.ts
  supabase/functions/sync-discussions/index.ts
  supabase/functions/tests/checkpoint-recovery.test.ts
  supabase/functions/workspace-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add Sentry error tracking to edge functions
  supabase/functions/.env.example
  supabase/functions/_shared/sentry.ts
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'
