Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

feat: show full bio in tooltip on hover for star/fork events
  src/components/features/activity/activity-item.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/AnalyticsDashboard.tsx
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/hooks/use-combined-activity.ts
  src/hooks/use-repository-events.ts
  src/lib/types.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use default tooltip style for bio tooltips
  src/components/features/activity/activity-item.tsx
  src/components/features/workspace/ActivityTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use native title attribute for bio tooltips
  src/components/features/activity/activity-item.tsx
  src/components/features/workspace/ActivityTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: restore detailed tooltip for non-bio items, bump abbreviation to 50 chars
  src/components/features/workspace/ActivityTable.tsx
  src/lib/llm/abbreviate-bios.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: polish activity feed UX (#1716)
  .gitignore
  src/components/features/activity/activity-item.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/AnalyticsDashboard.tsx
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/hooks/use-combined-activity.ts
  src/hooks/use-repository-events.ts
  src/lib/llm/abbreviate-bios.ts
  src/lib/types.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove bolt optimization comments and update Jules guide
  src/components/features/workspace/ActivityTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: add no-comment rule to Jules bolt guide
  .jules/bolt.md
Due: none

perf: optimize date parsing in tight loops (#1719)
  .jules/bolt.md
  src/components/embeddable-widgets/badge-generator.tsx
  src/components/features/activity/__tests__/contributions-wrapper.test.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/ui/__tests__/user-avatar.test.tsx
  src/hooks/__tests__/use-progressive-repo-data.test.ts
  src/lib/utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

⚡ Bolt: optimize Avatar rendering in ContributorLeaderboard (#1718)
  .jules/bolt.md
  public/changelog-atom.xml
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/ContributorLeaderboard.tsx
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

feat: add StarSearch session memory with tapes integration
  netlify/functions/chat.mts
  netlify/functions/inngest.mts
  netlify/functions/tapes-ingest.mts
  src/lib/inngest/functions/distill-session-knowledge.ts
  src/lib/inngest/functions/index-without-embeddings.ts
  src/lib/inngest/functions/index.ts
  src/types/supabase.ts
  supabase/migrations/20260304000000_tapes_sessions.sql
  supabase/migrations/20260304000001_tapes_knowledge.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address code review feedback and add validation tests
  netlify/functions/chat.mts
  netlify/functions/tapes-ingest.mts
  src/lib/inngest/functions/distill-session-knowledge.ts
  src/lib/tapes/__tests__/validation.test.ts
  src/lib/tapes/validation.ts
  supabase/migrations/20260304000000_tapes_sessions.sql
  supabase/migrations/20260304000001_tapes_knowledge.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: report actual processed count instead of total found in distillation cron
  src/lib/inngest/functions/distill-session-knowledge.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: StarSearch session memory with tapes integration (#1720)
  .gitignore
  netlify/functions/chat.mts
  netlify/functions/inngest.mts
  netlify/functions/tapes-ingest.mts
  src/lib/inngest/functions/distill-session-knowledge.ts
  src/lib/inngest/functions/index-without-embeddings.ts
  src/lib/inngest/functions/index.ts
  src/lib/tapes/__tests__/validation.test.ts
  src/lib/tapes/validation.ts
  src/types/supabase.ts
  supabase/migrations/20260304000000_tapes_sessions.sql
  supabase/migrations/20260304000001_tapes_knowledge.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use single column layout for metrics and trends on mobile
  src/components/features/activity/metrics-and-trends-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: refresh star/fork events in daily metrics cron
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: on-demand star/fork event backfill on page view
  src/components/features/activity/pr-activity.tsx
  src/hooks/use-combined-activity.ts
  src/hooks/use-repository-events.ts
  src/lib/inngest/client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: declutter mobile nav for logged-in users
  src/components/common/layout/layout.tsx
  src/components/features/auth/auth-button.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use single column layout for metrics and trends on mobile (#1721)
  src/components/features/activity/metrics-and-trends-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: conditionally render NotificationDropdown to avoid wasted subscription on mobile
  src/components/common/layout/layout.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: declutter mobile nav for logged-in users (#1724)
  src/components/common/layout/layout.tsx
  src/components/features/auth/auth-button.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: refresh star/fork events in daily metrics cron (#1722)
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent duplicate backfill triggers from useEffect dependency changes
  src/hooks/use-repository-events.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: on-demand star/fork event backfill on page view (#1723)
  src/components/features/activity/pr-activity.tsx
  src/hooks/use-combined-activity.ts
  src/hooks/use-repository-events.ts
  src/lib/inngest/client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: route event backfill through server-side Netlify function
  netlify/functions/trigger-event-backfill.ts
  src/hooks/use-repository-events.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: route event backfill through server-side Netlify function (#1725)
  netlify/functions/trigger-event-backfill.ts
  src/hooks/use-repository-events.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: preserve page location after OAuth login redirect
  src/hooks/use-github-auth.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: set redirectAfterLogin in AuthButton to prevent stale values
  src/components/features/auth/auth-button.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: preserve page location after OAuth login redirect (#1726)
  src/components/features/auth/auth-button.tsx
  src/hooks/use-github-auth.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

investigate: workspace pages unusable on 2G networks
  tasks/investigate-workspaces-2g-loading.md
Due: none

fix: progressive loading for workspace pages on slow networks
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address review feedback on progressive loading
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: progressive loading for workspace pages on slow networks (#1732)
  src/pages/workspace-page.tsx
  tasks/investigate-workspaces-2g-loading.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

fix: replace deprecated meta tag and secure console.log template literals
  index.html
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/ssr-home.ts
  netlify/edge-functions/ssr-repo.ts
  netlify/functions/_shared/supabase-client.ts
  netlify/functions/api-discover-repository.mjs
  netlify/functions/api-fetch-codeowners.mts
  netlify/functions/api-suggest-reviewers.mts
  netlify/functions/api-suggested-codeowners.mts
  netlify/functions/api-track-repository.mts
  netlify/functions/docs-content.mts
  netlify/functions/inngest-local.mts
  netlify/functions/lib/config.mts
  netlify/functions/lib/reviewer-cache.mts
  netlify/functions/src/lib/env.js
  netlify/functions/widget-badge.mjs
  netlify/functions/widget-stat-card.mjs
  netlify/functions/workspace-sync.ts
  src/components/error-boundaries/ai-feature-error-boundary.tsx
  src/components/error-boundaries/data-loading-error-boundary.tsx
  src/components/features/debug/sync-tracked-repos.tsx
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/settings/MembersTab.tsx
  src/hooks/use-my-work.ts
  src/hooks/useWorkspaceIssues.ts
  src/lib/feature-flags/context.tsx
  src/lib/feature-flags/monitoring.tsx
  src/lib/inngest/functions/compute-embeddings.ts
  src/lib/inngest/helpers/job-status-updater.ts
  src/lib/utils/url-builders.ts
  src/scripts/sync-continue-prs.ts
  src/services/discussion-summary.service.ts
  src/services/github-api.service.ts
  src/services/github-profile.ts
  src/services/social-enrichment.ts
  src/services/topic-clustering.ts
  src/services/workspace-confidence.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: resolve open Sentry errors across client and edge functions
  netlify/functions/api-track-repository.mts
  src/hooks/use-monthly-contributor-rankings.ts
  src/lib/llm/faq-service.ts
  src/lib/service-worker-client.ts
  supabase/functions/insights/index.ts
  supabase/functions/repository-summary/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: keep both mobile-web-app-capable and apple-mobile-web-app-capable
  index.html
  netlify/edge-functions/_shared/html-template.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: replace deprecated meta tag and secure console.log template literals (#1737)
  index.html
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/ssr-home.ts
  netlify/edge-functions/ssr-repo.ts
  netlify/functions/_shared/supabase-client.ts
  netlify/functions/api-discover-repository.mjs
  netlify/functions/api-fetch-codeowners.mts
  netlify/functions/api-suggest-reviewers.mts
  netlify/functions/api-suggested-codeowners.mts
  netlify/functions/api-track-repository.mts
  netlify/functions/docs-content.mts
  netlify/functions/inngest-local.mts
  netlify/functions/lib/config.mts
  netlify/functions/lib/reviewer-cache.mts
  netlify/functions/src/lib/env.js
  netlify/functions/widget-badge.mjs
  netlify/functions/widget-stat-card.mjs
  netlify/functions/workspace-sync.ts
  src/components/error-boundaries/ai-feature-error-boundary.tsx
  src/components/error-boundaries/data-loading-error-boundary.tsx
  src/components/features/debug/sync-tracked-repos.tsx
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/settings/MembersTab.tsx
  src/hooks/use-my-work.ts
  src/hooks/useWorkspaceIssues.ts
  src/lib/feature-flags/context.tsx
  src/lib/feature-flags/monitoring.tsx
  src/lib/inngest/functions/compute-embeddings.ts
  src/lib/inngest/helpers/job-status-updater.ts
  src/lib/utils/url-builders.ts
  src/scripts/sync-continue-prs.ts
  src/services/discussion-summary.service.ts
  src/services/github-api.service.ts
  src/services/github-profile.ts
  src/services/social-enrichment.ts
  src/services/topic-clustering.ts
  src/services/workspace-confidence.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: resolve open Sentry errors across client and edge functions (#1738)
  netlify/functions/api-track-repository.mts
  src/hooks/use-monthly-contributor-rankings.ts
  src/lib/llm/faq-service.ts
  src/lib/service-worker-client.ts
  supabase/functions/insights/index.ts
  supabase/functions/repository-summary/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: regenerate package-lock.json for dompurify upgrade
  package-lock.json
Due: prettier --write
