Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix(slack): properly configure JWT verification for OAuth callback (#1207)
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  supabase/config.toml
  supabase/functions/.env.example
  supabase/functions/slack-oauth-callback/config.toml
  supabase/functions/slack-oauth-callback/index.ts
  supabase/migrations/20251111000000_fix_slack_integrations_created_by_nullable.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): always use NULL for created_by in OAuth callbacks
  supabase/functions/slack-oauth-callback/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): correct RLS policies to join through app_users table
  supabase/migrations/20251111000000_fix_slack_integrations_rls_policies.sql
Due: none

feat(slack): add backend Edge Function for listing channels
  src/services/slack-integration.service.ts
  supabase/functions/slack-list-channels/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

docs(slack): add README for slack-list-channels function
  supabase/functions/slack-list-channels/README.md
Due: none

security: fix critical Slack integration vulnerabilities
  src/services/slack-integration.service.ts
  supabase/functions/slack-list-channels/README.md
  supabase/functions/slack-list-channels/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

chore: remove extra blank line from linter
  src/services/slack-integration.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(slack): correct RLS policies to join through app_users table (#1209)
  src/services/slack-integration.service.ts
  supabase/functions/slack-list-channels/README.md
  supabase/functions/slack-list-channels/index.ts
  supabase/functions/slack-oauth-callback/index.ts
  supabase/migrations/20251111000000_fix_slack_integrations_rls_policies.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): update CORS headers for slack-list-channels Edge Function
  supabase/functions/slack-list-channels/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): disable JWT verification for slack-list-channels
  supabase/config.toml
Due: none

fix(slack): use shared corsHeaders for consistent CORS handling
  supabase/functions/slack-list-channels/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): inline CORS headers for dashboard deployment compatibility
  supabase/functions/slack-list-channels/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): correct workspace membership authorization logic
  scripts/utilities/format-deno.sh
  supabase/functions/slack-list-channels/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(format-deno): add slack-list-channels to Docker fmt targets
  scripts/utilities/format-deno.sh
Due: none

fix(slack): update CORS headers for slack-list-channels Edge Function (#1210)
  scripts/utilities/format-deno.sh
  supabase/config.toml
  supabase/functions/slack-list-channels/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat(slack): add channel search and disconnect integration button
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  supabase/functions/slack-list-channels/README.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(slack): add proper input attributes to prevent extension errors
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(slack): add password manager ignore attributes to search inputs
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(slack): add channel search and disconnect integration button (#1211)
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  supabase/functions/slack-list-channels/README.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(sentry): add centralized error logging with Sentry integration
  src/lib/error-logging.ts
  src/services/slack-integration.service.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs(sentry): add comprehensive error logging guide
  docs/error-handling/sentry-error-logging.md
Due: none

feat(sentry): add centralized error logging integration (#1218)
  docs/error-handling/sentry-error-logging.md
  src/lib/error-logging.ts
  src/services/slack-integration.service.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(error-handling): complete Sentry error logging migration in workspace.service.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(error-handling): complete Sentry error logging migration in workspace.service.ts (#1221)
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Migrate React components to centralized Sentry error logging (#1219)
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/components/insights/PullRequestInsights.tsx
  src/components/insights/insights-drawer.tsx
  src/components/insights/sections/needs-attention.tsx
  src/components/insights/sections/project-faq.tsx
  src/components/insights/sections/recommendations.tsx
  src/components/insights/sections/repository-health-insights.tsx
  src/components/insights/sections/repository-summary.tsx
  src/components/insights/sections/trends.tsx
  src/components/performance-monitoring-dashboard.tsx
  src/components/ui/lazy-dialog.tsx
  src/contexts/WorkspaceContext.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): prevent infinite loading timeout with Promise.race
  src/contexts/WorkspaceContext.tsx
  src/hooks/use-user-workspaces.ts
  src/lib/workspace-config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(csv-export): add working CSV export with comprehensive tests
  package-lock.json
  package.json
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/features/workspace/WorkspaceContributorsTab.tsx
  src/lib/utils/__tests__/csv-export.test.ts
  src/lib/utils/csv-export.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: add comprehensive test coverage for timeout fixes
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/contexts/WorkspaceContext.tsx
  src/contexts/__tests__/WorkspaceContext.retry-timer.test.tsx
  src/hooks/use-current-user.ts
  src/hooks/use-github-auth.ts
  src/hooks/use-user-workspaces.ts
  src/lib/auth-helpers.ts
  src/lib/auth/__tests__/safe-auth.test.ts
  src/lib/auth/safe-auth.ts
  src/lib/notifications/notification.service.ts
  src/lib/supabase.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): improve button layout responsiveness for mobile
  src/components/features/workspace/WorkspaceContributorsTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: fix WorkspaceContext retry timer cleanup test
  src/contexts/__tests__/WorkspaceContext.retry-timer.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: refactor WorkspaceContext tests to focus on behavior
  src/contexts/__tests__/WorkspaceContext.retry-timer.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(tests): correct retry timer test to match actual implementation behavior
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/contexts/__tests__/WorkspaceContext.retry-timer.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): prevent infinite loading timeout with Promise.race (#1222)
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/contexts/WorkspaceContext.tsx
  src/contexts/__tests__/WorkspaceContext.retry-timer.test.tsx
  src/hooks/use-current-user.ts
  src/hooks/use-github-auth.ts
  src/hooks/use-user-workspaces.ts
  src/lib/auth-helpers.ts
  src/lib/auth/__tests__/safe-auth.test.ts
  src/lib/auth/safe-auth.ts
  src/lib/notifications/notification.service.ts
  src/lib/supabase.ts
  src/lib/workspace-config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): replace Slack channel search with live-updating Command component
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/components/ui/channel-search-command.stories.tsx
  src/components/ui/channel-search-command.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(ui): improve channel selection UX with popover and clear feedback
  src/components/ui/channel-search-command.stories.tsx
  src/components/ui/channel-search-command.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Replace Slack channel search with live-updating Command component (#1227)
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/components/ui/channel-search-command.stories.tsx
  src/components/ui/channel-search-command.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add side-by-side charts with expand/collapse in TrendChart story
  src/components/features/workspace/TrendChart.stories.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(slack): move test integration to edge function to avoid CORS
  src/services/slack-integration.service.ts
  supabase/functions/slack-test-integration/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): register sendSlackAssigneeReportCron with Inngest handler
  netlify/functions/inngest.mts
  src/lib/inngest/functions/index-without-embeddings.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(slack): resolve ambiguous relationship in workspace membership check
  supabase/functions/slack-test-integration/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'
