Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: update workspaces RLS policies to use app_users.id instead of auth.uid()
  supabase/migrations/20260312_fix_workspace_update_rls.sql
Due: none

refactor: extract duplicated calculateHealthMetricsFromStats into shared module
  src/components/insights/sections/repository-health-core.tsx
  src/components/insights/sections/repository-health-factors.tsx
  src/components/insights/sections/repository-health-overall.tsx
  src/lib/insights/health-metrics.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update workspaces RLS policies to use app_users.id instead of auth.uid() (#1739)
  supabase/migrations/20260312_fix_workspace_update_rls.sql
Due: none

fix: guard against invalid dates in useTimeFormatter
  src/hooks/use-time-formatter.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: guard against invalid dates in useTimeFormatter (#1740)
  src/hooks/use-time-formatter.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

[Snyk] Security upgrade dompurify from 3.3.1 to 3.3.2 (#1733)
  package-lock.json
  package.json
Due: prettier --write

fix: address review feedback on useTimeFormatter optimization
  .jules/bolt.md
  src/hooks/__tests__/use-time-formatter.test.ts
  src/hooks/use-time-formatter.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: extract sort helper, remove duplication, and optimize createDataHash
  src/lib/workspace-hover-card-utils.ts
  src/services/workspace-events.service.ts
  src/services/workspace-metrics.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: extract sortDescByKey helper and use Date.parse
  src/lib/workspace-hover-card-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

⚡ Bolt: Optimize ISO 8601 timestamp sorting using native operators (#1734)
  src/lib/workspace-hover-card-utils.ts
  src/services/workspace-events.service.ts
  src/services/workspace-metrics.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove hardcoded path from lint-staged deno format script
  .lintstagedrc.json
Due: prettier --write

fix: extract sort helper, remove duplication, and optimize createDataHash
  src/lib/workspace-hover-card-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address review regressions in test mocks and analytics metadata
  src/__tests__/app-redirects.test.tsx
  src/__tests__/github-auth-hook.test.tsx
  src/app/webhooks/__tests__/issue-comment.test.ts
  src/components/features/repository/repo-stats-summary.tsx
  src/components/features/sharing/shareable-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: actions/continue-triage/package.json to reduce vulnerabilities
  actions/continue-triage/package.json
Due: prettier --write

docs: rewrite mintlify docs with sweeper, add workspaces and StarSearch sections
  AGENTS.md
  CLAUDE.md
  mintlify-docs/docs.json
  mintlify-docs/features/activity-feed.mdx
  mintlify-docs/features/authentication.mdx
  mintlify-docs/features/contribution-analytics.mdx
  mintlify-docs/features/contributor-confidence.mdx
  mintlify-docs/features/contributor-of-month.mdx
  mintlify-docs/features/distribution-charts.mdx
  mintlify-docs/features/github-app-setup.mdx
  mintlify-docs/features/hover-cards.mdx
  mintlify-docs/features/lottery-factor.mdx
  mintlify-docs/features/repository-health.mdx
  mintlify-docs/features/repository-search.mdx
  mintlify-docs/images/features/activity-feed.png
  mintlify-docs/images/features/contribution-analytics.png
  mintlify-docs/images/features/contributor-confidence.png
  mintlify-docs/images/features/contributor-of-month.png
  mintlify-docs/images/features/distribution-charts.png
  mintlify-docs/images/features/health-tab-full.png
  mintlify-docs/images/features/home-search.png
  mintlify-docs/images/features/hover-cards.png
  mintlify-docs/images/features/lottery-factor.png
  mintlify-docs/images/features/pr-activity.png
  mintlify-docs/images/features/repository-health-full.png
  mintlify-docs/images/features/repository-health.png
  mintlify-docs/images/features/repository-search.png
  mintlify-docs/images/features/starsearch.png
  mintlify-docs/images/features/workspace.png
  mintlify-docs/insights/needs-attention.mdx
  mintlify-docs/insights/pr-activity.mdx
  mintlify-docs/insights/recommendations.mdx
  mintlify-docs/insights/repository-health.mdx
  mintlify-docs/starsearch/overview.mdx
  mintlify-docs/workspaces/overview.mdx
  mintlify-docs/workspaces/priority-indexing.mdx
  mintlify-docs/workspaces/repository-tracking.mdx
  mintlify-docs/workspaces/slack-integration.mdx
  scripts/lint-docs.sh
Due: prettier --write

fix: address code review findings on docs PR
  mintlify-docs/README.md
  mintlify-docs/docs.json
  mintlify-docs/features/activity-feed.mdx
  mintlify-docs/features/contribution-analytics.mdx
  mintlify-docs/features/contributor-of-month.mdx
  mintlify-docs/features/repository-health.mdx
  mintlify-docs/introduction.mdx
  scripts/lint-docs.sh
Due: prettier --write

fix: address remaining review comments from Devin and CodeRabbit
  AGENTS.md
  CLAUDE.md
  mintlify-docs/features/activity-feed.mdx
  mintlify-docs/features/contribution-analytics.mdx
  mintlify-docs/features/contributor-confidence.mdx
  mintlify-docs/features/contributor-of-month.mdx
  mintlify-docs/features/hover-cards.mdx
  mintlify-docs/features/lottery-factor.mdx
  mintlify-docs/features/repository-health.mdx
  mintlify-docs/features/repository-search.mdx
  package.json
Due: prettier --write

docs: add git workflow, environment, code review, and general rules to AGENTS.md
  AGENTS.md
Due: none

feat: add inline docs links with PostHog tracking and module-level JSDoc
  src/components/chat/chat-panel.tsx
  src/components/features/activity/contributions.tsx
  src/components/features/activity/pr-activity.tsx
  src/components/features/contributor/contributor-hover-card.tsx
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/distribution/distribution.tsx
  src/components/features/health/contributor-confidence-card.tsx
  src/components/features/health/lottery-factor.tsx
  src/components/features/health/repository-health-card.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/ui/learn-more-link.tsx
  src/hooks/use-analytics.ts
  src/hooks/use-cached-github-api.ts
  src/hooks/use-cached-pr-activity.ts
  src/hooks/use-cached-repo-data.ts
  src/lib/contribution-analyzer.ts
  src/lib/edge-function-circuit-breaker.ts
  src/lib/edge-function-concurrency-manager.ts
  src/lib/github.ts
  src/lib/insights/health-metrics.ts
  src/lib/insights/issue-metrics.ts
  src/lib/insights/trends-metrics.ts
  src/lib/llm/llm-service.ts
  src/lib/snapdom-capture.ts
  src/lib/workspace/workspace-client.ts
  src/services/persona-detection.ts
  src/services/quality-scoring.ts
  src/services/topic-clustering.ts
  src/services/trend-analysis.ts
  src/services/workspace-aggregation.service.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct docs URL for contributor-of-month, document route conventions in AGENTS.md
  AGENTS.md
  src/components/features/contributor/contributor-of-the-month.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: actions/continue-triage/package.json to reduce vulnerabilities (#1743)
  actions/continue-triage/package.json
Due: prettier --write

fix: address review feedback — icon sprite, data guard, JSDoc accuracy
  src/components/features/activity/contributions.tsx
  src/components/ui/learn-more-link.tsx
  src/lib/github.ts
  src/lib/snapdom-capture.ts
  src/services/trend-analysis.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: move LearnMore links to after feature descriptions
  src/components/features/activity/pr-activity.tsx
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/health/contributor-confidence-card.tsx
  src/components/features/health/lottery-factor.tsx
  src/components/features/health/repository-health-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: inline docs links with PostHog tracking and module-level JSDoc (#1746)
  AGENTS.md
  src/components/chat/chat-panel.tsx
  src/components/features/activity/contributions.tsx
  src/components/features/activity/pr-activity.tsx
  src/components/features/contributor/contributor-hover-card.tsx
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/distribution/distribution.tsx
  src/components/features/health/contributor-confidence-card.tsx
  src/components/features/health/lottery-factor.tsx
  src/components/features/health/repository-health-card.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/ui/learn-more-link.tsx
  src/hooks/use-analytics.ts
  src/hooks/use-cached-github-api.ts
  src/hooks/use-cached-pr-activity.ts
  src/hooks/use-cached-repo-data.ts
  src/lib/contribution-analyzer.ts
  src/lib/edge-function-circuit-breaker.ts
  src/lib/edge-function-concurrency-manager.ts
  src/lib/github.ts
  src/lib/insights/health-metrics.ts
  src/lib/insights/issue-metrics.ts
  src/lib/insights/trends-metrics.ts
  src/lib/llm/llm-service.ts
  src/lib/snapdom-capture.ts
  src/lib/workspace/workspace-client.ts
  src/services/persona-detection.ts
  src/services/quality-scoring.ts
  src/services/topic-clustering.ts
  src/services/trend-analysis.ts
  src/services/workspace-aggregation.service.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve infinite recursion in workspaces RLS policy (42P17)
  supabase/migrations/20260319_fix_rls_infinite_recursion.sql
Due: none

fix: allow owner-role passthrough in admin update WITH CHECK
  supabase/migrations/20260319_fix_rls_infinite_recursion.sql
Due: none

feat: add universal setup script for first-time contributors (#550)
  package.json
  scripts/setup/README.md
  scripts/setup/first-time-setup.mjs
  scripts/setup/reset-setup.mjs
  scripts/setup/verify-setup.mjs
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: reference npm run setup in AGENTS.md and CONTRIBUTING.md
  AGENTS.md
  CONTRIBUTING.md
Due: none

fix: drop 5 additional stale workspace_members policies found on prod
  supabase/migrations/20260319_fix_rls_infinite_recursion.sql
Due: none

fix: address review feedback on setup scripts
  scripts/setup/first-time-setup.mjs
  scripts/setup/reset-setup.mjs
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: reference npm run setup in AGENTS.md and CONTRIBUTING.md (#1753)
  AGENTS.md
  CONTRIBUTING.md
Due: none

feat: add universal setup script for first-time contributors (#1752)
  package.json
  scripts/setup/README.md
  scripts/setup/first-time-setup.mjs
  scripts/setup/reset-setup.mjs
  scripts/setup/verify-setup.mjs
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: refresh workspace switcher after settings update
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/contexts/WorkspaceContext.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve infinite recursion in workspaces RLS policy (42P17) (#1751)
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/contexts/WorkspaceContext.tsx
  supabase/migrations/20260319_fix_rls_infinite_recursion.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: auto-sync workspace_tracked_repositories and refresh stale repo metadata
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
  supabase/migrations/20260319_sync_workspace_tracked_repos_trigger.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: auto-sync workspace_tracked_repositories and refresh stale repo metadata (#1754)
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
  supabase/migrations/20260319_sync_workspace_tracked_repos_trigger.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve Inngest step replay bug and incorrect DELETE trigger guard
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
  supabase/migrations/20260319_sync_workspace_tracked_repos_trigger.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
