Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: identify and label bot accounts in lottery factor card (#1165) (#1166)
  src/components/features/health/lottery-factor.tsx
  src/lib/utils/bot-detection.ts
  supabase/functions/_shared/bot-detection.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: address PR review feedback - tab counts and loading skeleton
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add pagination to my work (#1167)
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(api): add optional supabaseClient parameter to validateRepository
  netlify/functions/lib/repository-validation.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(api): add optional supabaseClient parameter to validateRepository (#1169)
  netlify/functions/lib/repository-validation.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add confidence tracking over time infrastructure
  docs/features/confidence-tracking.md
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/lib/insights/confidence-history.service.ts
  src/lib/insights/health-metrics.ts
  src/services/workspace-confidence.service.ts
  supabase/migrations/20251027221935_confidence_history.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(health): implement contributor confidence trend indicators (Phase 1)
  docs/features/contributor-confidence-trend.md
  src/components/features/health/contributor-confidence-card.tsx
  src/components/features/health/repository-health-card.tsx
  src/lib/insights/__tests__/confidence-trend.test.ts
  src/lib/insights/health-metrics.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @supabase/supabase-js from 2.57.4 to 2.75.0
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: resolve workspace permission errors for repository management
  docs/debugging/workspace-permission-errors.md
  src/components/features/workspace/AddRepositoryModal.tsx
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve workspace permission errors for repository management (#1175)
  docs/debugging/workspace-permission-errors.md
  src/components/features/workspace/AddRepositoryModal.tsx
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve confidence tracking implementation with validation and performance fixes
  docs/data-fetching/phase3-phase4-summary.md
  docs/data-fetching/rate-limiting-fixes.md
  docs/debugging/supabase-single-vs-maybesingle.md
  docs/features/confidence-tracking-audit.md
  docs/implementations/lighthouse-optimizations.md
  docs/mock-isolation-fix.md
  docs/performance/bundle-optimization-2025.md
  docs/performance/performance-best-practices.md
  docs/performance/performance-checklist.md
  docs/performance/tree-shaking-optimization-success-2025.md
  docs/performance/tree-shaking-re-enabled-2025.md
  docs/postmortem/mobile-fixes-summary.md
  docs/pricing-structure.md
  docs/setup/architecture-2025-06-26.md
  docs/setup/database-migrations.md
  docs/setup/local-development.md
  docs/setup/seed-data-implementation.md
  docs/setup/seed-data.md
  docs/setup/windows-setup.md
  docs/supabase/dev-setup.md
  docs/supabase/implementation-guide.md
  docs/supabase/migration-guide.md
  docs/supabase/quick-reference.md
  docs/supabase/rls-policies.md
  docs/supabase/workspace-queries.md
  docs/testing/bulletproof-testing-guidelines.md
  docs/testing/phase5-cleanup-summary.md
  docs/testing/test-rules-summary.md
  docs/testing/test-simplification-strategy.md
  docs/user-experience/summary.md
  scripts/load-testing/readme-idempotency.md
  src/lib/insights/__tests__/confidence-history.integration.test.ts
  src/lib/insights/__tests__/confidence-trend.test.ts
  src/lib/insights/confidence-history.service.ts
  src/lib/insights/health-metrics.ts
  src/services/workspace-confidence.service.ts
  src/vite-env.d.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: skip integration tests in CI environment
  src/lib/insights/__tests__/confidence-history.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add integration test documentation and skip message
  src/lib/insights/__tests__/README.md
  src/lib/insights/__tests__/confidence-history.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent Supabase client creation when integration tests are skipped
  src/lib/insights/__tests__/confidence-history.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @supabase/supabase-js from 2.57.4 to 2.75.0 (#1174)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix(workspace): construct html_url for issues from repository data
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): construct html_url for PRs missing database value
  docs/api/README.md
  docs/architecture/README.md
  docs/database/README.md
  docs/deployment/README.md
  docs/design-patterns/README.md
  docs/edge-functions/README.md
  docs/fixes/README.md
  docs/guides/README.md
  docs/infrastructure/README.md
  docs/integrations/README.md
  docs/migrations/README.md
  docs/operations/README.md
  docs/patterns/README.md
  docs/postmortems/README.md
  docs/solutions/README.md
  docs/technical-debt/README.md
  docs/user-guide/README.md
  docs/ux-improvements/README.md
  docs/webhooks/README.md
  docs/workspace/README.md
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): improve star and fork event links
  src/components/features/workspace/WorkspaceActivityTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add heatmap visualizations for file activity tracking
  docs/product-requirements/prd-file-activity-heatmap.md
  package-lock.json
  package.json
  src/components/ui/charts/heatmap/Heatmap.stories.tsx
  src/components/ui/charts/heatmap/HeatmapNivo.tsx
  src/components/ui/charts/heatmap/HeatmapRecharts.tsx
  src/components/ui/charts/heatmap/heatmap-mock-data.ts
  src/components/ui/charts/heatmap/heatmap-utils.ts
  src/components/ui/charts/heatmap/index.ts
  src/components/ui/charts/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: remove Recharts implementation and simplify heatmap to Nivo-only
  src/components/ui/charts/heatmap/Heatmap.stories.tsx
  src/components/ui/charts/heatmap/HeatmapNivo.tsx
  src/components/ui/charts/heatmap/HeatmapRecharts.tsx
  src/components/ui/charts/heatmap/heatmap-utils.ts
  src/components/ui/charts/heatmap/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add heatmap visualization for file activity tracking (#1181)
  docs/product-requirements/prd-file-activity-heatmap.md
  package-lock.json
  package.json
  src/components/ui/charts/heatmap/Heatmap.stories.tsx
  src/components/ui/charts/heatmap/HeatmapNivo.tsx
  src/components/ui/charts/heatmap/heatmap-mock-data.ts
  src/components/ui/charts/heatmap/heatmap-utils.ts
  src/components/ui/charts/heatmap/index.ts
  src/components/ui/charts/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: create RPC function for assignee distribution (#1187)
  src/hooks/useAssigneeDistribution.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: create RPC function for assignee distribution (#1187) (#1191)
  src/hooks/useAssigneeDistribution.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: rename test file to .tsx and fix Supabase mock chaining
  src/hooks/__tests__/zz-use-user-workspaces.integration.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Slack integration for workspace issue assignee reports
  .env.example
  docs/integrations/slack-assignee-reports.md
  public/changelog-atom.xml
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/hooks/useSlackIntegrations.ts
  src/lib/encryption.ts
  src/lib/inngest/functions/index.ts
  src/lib/inngest/functions/send-slack-assignee-report-cron.ts
  src/services/slack-integration.service.ts
  src/types/workspace.ts
  supabase/migrations/20250207_slack_integration.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: refactor Slack integration to support OAuth 2.0 app installation
  .env.example
  docs/integrations/slack-app-manifest.json
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/lib/inngest/functions/send-slack-assignee-report-cron.ts
  src/services/slack-api.service.ts
  src/services/slack-integration.service.ts
  src/types/workspace.ts
  supabase/functions/slack-oauth-callback/index.ts
  supabase/migrations/20250207_slack_integration_oauth.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: add OAuth state validation and apply lint fixes
  actions/continue-docs-review/index.ts
  src/components/ErrorBoundary.tsx
  src/components/error-boundary.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/RepositoryFilter.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/charts/AssigneeDistributionChartOptimized.tsx
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/hooks/use-my-work.ts
  src/hooks/useWorkspaceContributors.ts
  src/lib/error-tracker.ts
  src/lib/inngest/client-safe.ts
  src/lib/utils/time-range.ts
  src/pages/billing/BillingDashboard.tsx
  src/services/slack-api.service.ts
  src/services/slack-integration.service.ts
  src/services/workspace-metrics.service.ts
  supabase/functions/slack-oauth-callback/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add official Slack 'Add to Slack' button and fix manifest for distribution
  docs/integrations/slack-app-manifest.json
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: remove webhook support for Slack integration
  docs/deployment/NETLIFY_ENV_VAR_CLEANUP.md
  docs/deployment/QUICK_FIX_NETLIFY_4KB.md
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/hooks/useSlackIntegrations.ts
  src/lib/inngest/functions/send-slack-assignee-report-cron.ts
  src/services/slack-integration.service.ts
  src/types/workspace.ts
  supabase/migrations/20250208_remove_webhook_support.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

cleanup: remove Netlify env var documentation
  docs/deployment/NETLIFY_ENV_VAR_CLEANUP.md
  docs/deployment/QUICK_FIX_NETLIFY_4KB.md
Due: none

fix: address critical security and functionality issues in Slack integration
  .env.example
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/hooks/useSlackIntegrations.ts
  src/lib/inngest/functions/send-slack-assignee-report-cron.ts
  src/services/slack-api.service.ts
  src/services/slack-integration.service.ts
  src/types/workspace.ts
  supabase/functions/slack-oauth-callback/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: upgrade @supabase/supabase-js from 2.75.0 to 2.75.1
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade inngest from 3.41.0 to 3.44.3
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-tooltip from 1.2.7 to 1.2.8
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-collapsible from 1.1.11 to 1.1.12
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-accordion from 1.2.11 to 1.2.12
  package-lock.json
  package.json
Due: prettier --write

fix: remove webhook support entirely as requested
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/hooks/useSlackIntegrations.ts
  src/lib/inngest/functions/send-slack-assignee-report-cron.ts
  src/services/slack-integration.service.ts
  src/types/workspace.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

security: improve CSP configuration
  public/_headers
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  src/lib/encryption.ts
  src/lib/inngest/functions/send-slack-assignee-report-cron.ts
  supabase/functions/slack-oauth-callback/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

cleanup: remove 'any' types from use-repository-summary hook
  CLEANUP_ANALYSIS.md
  CLEANUP_DETAILED_FINDINGS.md
  CLEANUP_QUICK_REFERENCE.md
  CLEANUP_README.md
  src/hooks/use-repository-summary.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
