Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: add onRespondClick handler to WorkspaceIssuesTable
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: change Polar.sh link to /billing route
  src/components/features/health/contributor-confidence-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove console logs from data fetching and service worker
  public/sw-enhanced.js
  src/hooks/use-my-work.ts
  src/hooks/useWorkspacePRs.ts
  src/lib/github-graphql-stats.ts
  src/lib/service-worker-client.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: connect respond button to similarity search modal on issues tab
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add missing modal props for issue respond button
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add respond modal to discussions tab
  docs/patterns/optimistic-updates.md
  src/pages/workspace-page.tsx
  supabase/migrations/20251009_add_responded_tracking.sql
  supabase/migrations/20251009_add_responded_update_policy.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: allow workspace invitation lookup by token
  supabase/migrations/20250110_fix_invitation_token_lookup.sql
Due: none

fix: restrict respond RLS policies to only update respond columns
  supabase/migrations/20251010012413_add_respond_logic_issues_discussions.sql
Due: none

fix: remove unused variables from console log cleanup
  src/hooks/use-my-work.ts
  src/hooks/useWorkspacePRs.ts
  src/lib/github-graphql-stats.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add respond tracking for issues and discussions (#1060)
  docs/patterns/optimistic-updates.md
  src/components/features/workspace/ResponsePreviewModal.tsx
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
  supabase/migrations/20251009_add_responded_tracking.sql
  supabase/migrations/20251009_add_responded_update_policy.sql
  supabase/migrations/20251010012413_add_respond_logic_issues_discussions.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: patch critical RLS security vulnerability in workspace invitations
  supabase/migrations/20250110_fix_invitation_token_lookup_security.sql
Due: none

feat: improve Continue AI code review accuracy (#1069)
  .continue/rules/verification-before-claims.md
  actions/continue-review/codebase-analyzer.ts
  actions/continue-review/enhanced-prompt-generator.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: allow workspace invitation lookup by token (#1068)
  supabase/migrations/20250110_fix_invitation_token_lookup.sql
Due: none

lint: logging and metrics tests for consistency and readability
  supabase/functions/_shared/MIGRATION_GUIDE.md
  supabase/functions/_shared/README.md
  supabase/functions/_shared/bot-detection.ts
  supabase/functions/_shared/confidence-scoring.ts
  supabase/functions/_shared/database.test.ts
  supabase/functions/_shared/database.ts
  supabase/functions/_shared/event-detection.ts
  supabase/functions/_shared/github.test.ts
  supabase/functions/_shared/github.ts
  supabase/functions/_shared/logger.test.ts
  supabase/functions/_shared/logger.ts
  supabase/functions/_shared/metrics.test.ts
  supabase/functions/_shared/metrics.ts
  supabase/functions/_shared/responses.test.ts
  supabase/functions/_shared/responses.ts
  supabase/functions/_shared/spam-detection-integration.ts
  supabase/functions/_shared/spam-detection-service.test.ts
  supabase/functions/_shared/spam-detection-service.ts
  supabase/functions/health/index.ts
  supabase/functions/tests/setup.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: enable unstable sloppy imports for type checking in edge functions
  .github/workflows/edge-functions-quality.yml
Due: prettier --write

fix: update spam detection tests to use undefined instead of null for profile fields
  supabase/functions/_shared/metrics.test.ts
  supabase/functions/_shared/spam-detection-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add deno.lock file for dependency management and update metrics tests for error handling
  deno.lock
  supabase/functions/_shared/metrics.test.ts
  supabase/functions/_shared/responses.ts
  supabase/functions/deno.lock
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update version in deno.lock and add missing import in import_map.json; enhance error handling in health check
  supabase/functions/deno.lock
  supabase/functions/health/index.ts
  supabase/functions/import_map.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove deno.lock file as it is no longer needed for dependency management
  supabase/functions/deno.lock
Due: none

fix: format error handling in health check function
  supabase/functions/health/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: ensure consistent bot detection across PR activity hooks
  src/hooks/use-cached-pr-activity.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add GitHub avatar URLs to activity table on workspace page
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Supabase avatar caching for PR authors in activity feed
  src/hooks/use-cached-pr-activity.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): implement server-side pagination and debounced search for contributor search
  src/hooks/useDebouncedValue.ts
  src/hooks/useWorkspaceContributors.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add Node.js process type declarations for Deno compatibility
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove unused table imports
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add linked PRs support for issues
  src/hooks/useWorkspaceIssues.ts
  supabase/migrations/20250110_add_linked_prs_to_issues.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add GitHub Actions workflow for inngest-prod deployment
  .github/workflows/deploy-inngest-prod.yml
Due: prettier --write

docs: add integration notes for useWorkspaceIssues hook
  INTEGRATION_NOTES.md
Due: none

Revert "fix: add Node.js process type declarations for Deno compatibility"
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

do: comment out global process declaration
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor(workspace): extract tab components from workspace-page
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspacePRsTab.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve edge function deployment workflow
  .github/workflows/deploy-inngest-prod.yml
Due: prettier --write

fix: suppress Deno process errors with @ts-expect-error directives
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add GitHub Actions workflow for inngest-prod deployment (#1073)
  .github/workflows/deploy-inngest-prod.yml
Due: prettier --write

Update src/components/features/workspace/WorkspacePRsTab.tsx
  src/components/features/workspace/WorkspacePRsTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
