Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

Backfill GitHub App installation and remove debug logging
  src/components/features/workspace/RepositoryList.tsx
  src/hooks/use-workspace-github-app-status.ts
  supabase/migrations/20250131000000_backfill_github_app_installation.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Replace GitHub App CTA box with Sparkle button and modal
  src/components/features/github-app/github-app-install-modal.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Use GitHub App modal for sparkle icons in overview tab
  src/components/features/workspace/RepositoryList.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix CheckRunManager API and add EventRouter memory bounds
  app/services/check-runs/check-run-manager.ts
  app/webhooks/event-router.ts
  app/webhooks/pr-check-runs.ts
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix 15 critical issues from Cubic code review
  .github/workflows/snyk-security.yml
  app/services/check-runs/__tests__/check-run-manager.test.ts
  app/services/webhook/similarity-updater.ts
  app/webhooks/event-router.ts
  app/webhooks/pr-check-runs.ts
  app/webhooks/pull-request.ts
  docs/features/similarity-webhook-testing.md
  src/hooks/use-workspace-github-app-status.ts
  webhooks-server/Dockerfile
  webhooks-server/package-lock.json
  webhooks-server/src/server.ts
  webhooks-server/tsconfig.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix Similarity button modal context
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix critical Cubic code review issues
  app/services/webhook/data-service.ts
  app/webhooks/event-router.ts
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Implement type safety and memory management improvements
  app/services/embeddings.ts
  app/services/webhook-metrics.ts
  app/services/webhook/similarity-updater.ts
  app/webhooks/event-router.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix test failures in codeowners, event-router, and pull-request tests
  app/services/codeowners.ts
  app/webhooks/__tests__/event-router.test.ts
  app/webhooks/__tests__/pull-request.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix test failures in codeowners, event-router, and pull-request tests
  app/services/codeowners.ts
  app/webhooks/__tests__/event-router.test.ts
  app/webhooks/__tests__/pull-request.test.ts
  public/changelog-feeds.json
  public/changelog-rss.xml
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Update Snyk security workflow triggers
  .github/workflows/snyk-security.yml
Due: prettier --write

fix: Use service role key in Inngest functions to bypass RLS
  src/lib/inngest/functions/capture-issue-comments.ts
  src/lib/inngest/functions/capture-pr-comments.ts
  src/lib/inngest/functions/capture-pr-details-graphql.ts
  src/lib/inngest/functions/capture-pr-details.ts
  src/lib/inngest/functions/capture-pr-reviews.ts
  src/lib/inngest/functions/capture-repository-events.ts
  src/lib/inngest/functions/capture-repository-issues.ts
  src/lib/inngest/functions/capture-repository-sync-enhanced.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/functions/capture-repository-sync.ts
  src/lib/inngest/functions/classify-repository-size.ts
  src/lib/inngest/functions/compute-embeddings.ts
  src/lib/inngest/functions/factory.ts
  src/lib/inngest/functions/generate-embeddings.ts
  src/lib/inngest/functions/update-pr-activity.ts
  src/lib/inngest/supabase-server.ts
  supabase/functions/_shared/confidence-scoring.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: change PR query to order by CREATED_AT instead of UPDATED_AT
  src/lib/inngest/graphql-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: increase concurrency limit to prevent queue backlog
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: clarify comment about createdAt filtering change
  src/lib/inngest/graphql-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: add regression tests for permission bugs
  src/lib/inngest/functions/__tests__/permissions-integration.test.ts
  src/lib/inngest/functions/__tests__/permissions-regression.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: skip anon key test when env var not available
  src/lib/inngest/functions/__tests__/permissions-integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: remove brittle permission tests, keep regression tests
  src/lib/inngest/functions/__tests__/permissions-integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Use service role key in Inngest functions to bypass RLS (#873)
  src/lib/inngest/functions/__tests__/permissions-integration.test.ts
  src/lib/inngest/functions/__tests__/permissions-regression.test.ts
  src/lib/inngest/functions/capture-issue-comments.ts
  src/lib/inngest/functions/capture-pr-comments.ts
  src/lib/inngest/functions/capture-pr-details-graphql.ts
  src/lib/inngest/functions/capture-pr-details.ts
  src/lib/inngest/functions/capture-pr-reviews.ts
  src/lib/inngest/functions/capture-repository-events.ts
  src/lib/inngest/functions/capture-repository-issues.ts
  src/lib/inngest/functions/capture-repository-sync-enhanced.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/functions/capture-repository-sync.ts
  src/lib/inngest/functions/classify-repository-size.ts
  src/lib/inngest/functions/compute-embeddings.ts
  src/lib/inngest/functions/factory.ts
  src/lib/inngest/functions/generate-embeddings.ts
  src/lib/inngest/functions/update-pr-activity.ts
  src/lib/inngest/graphql-client.ts
  src/lib/inngest/supabase-server.ts
  supabase/functions/_shared/confidence-scoring.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve merge conflicts and improve error handling
  app/services/webhook/data-service.ts
  app/webhooks/pull-request.ts
  src/components/features/workspace/reviewer-suggestions/ReviewerSuggestionsModal.tsx
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: normalize contributor foreign keys handling across PRs (#845)
  .github/workflows/posthog-session-analysis.yml
  app/lib/webhook-contributor-utils.ts
  app/services/webhook/data-service.ts
  app/webhooks/pull-request.ts
  scripts/data-sync/sync-historical-prs.js
  scripts/progressive-capture/capture-pr-comments.js
  scripts/progressive-capture/capture-pr-details.js
  scripts/progressive-capture/capture-pr-reviews.js
  scripts/progressive-capture/lib/contributor-utils.js
  scripts/setup/generate-seed-data.js
  src/components/features/workspace/reviewer-suggestions/ReviewerSuggestionsModal.tsx
  src/hooks/useWorkspaceContributors.ts
  src/services/reviewer-suggestions.service.ts
  supabase/functions/backfill-pr-stats/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add github_id columns to pull_requests for DLT sync
  supabase/migrations/20251001000000_add_github_id_columns_to_pull_requests.sql
Due: none

feat: Add github_id columns to pull_requests for DLT sync (#876)
  supabase/migrations/20251001000000_add_github_id_columns_to_pull_requests.sql
Due: none

fix: Make author_id and repository_id nullable in pull_requests
  supabase/migrations/20251001000001_make_pr_uuid_columns_nullable.sql
Due: none

fix: Make author_id and repository_id nullable in pull_requests (#878)
  supabase/migrations/20251001000001_make_pr_uuid_columns_nullable.sql
Due: none

fix: Make foreign key constraints deferrable for DLT merge compatibility
  supabase/migrations/20251001000002_make_fk_constraints_deferrable.sql
Due: none

fix: Make foreign key constraints deferrable for DLT merge compatibility (#880)
  supabase/migrations/20251001000002_make_fk_constraints_deferrable.sql
Due: none

fix(email): correct workspace invitation URL format in emails (#864)
  actions/continue-review/index.ts
  e2e/workspace-invitation.spec.ts
  src/lib/email/workspace-invitation-email.test.ts
  src/pages/invitation-acceptance-page.tsx
  supabase/functions/workspace-invitation-email/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Disable client-side telemetry to prevent 403 errors
  src/lib/progressive-capture/queue-telemetry.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update social card meta tags to use correct Fly.io endpoints
  index.html
Due: npm run verify:csp

docs: Add Inngest webhook switch instructions and monitoring scripts
  INNGEST_SWITCH_INSTRUCTIONS.md
  scripts/cleanup-stuck-jobs.sql
  scripts/monitor-inngest-sync.sql
Due: none

fix: Disable client-side telemetry to prevent 403 errors (#881)
  INNGEST_SWITCH_INSTRUCTIONS.md
  scripts/cleanup-stuck-jobs.sql
  scripts/monitor-inngest-sync.sql
  src/lib/progressive-capture/queue-telemetry.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add automated monitoring and cleanup for Inngest jobs
  INNGEST_SWITCH_INSTRUCTIONS.md
  supabase/functions/cleanup-stuck-jobs/index.ts
  supabase/functions/health-inngest/index.ts
  supabase/migrations/20251001000003_automated_stuck_job_cleanup.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Allow comments job without specific prNumber
  src/lib/inngest/types/event-data.ts
  supabase/migrations/20251001000003_automated_stuck_job_cleanup.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Handle RPC errors in health check endpoint
  supabase/functions/health-inngest/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add automated monitoring and cleanup for Inngest jobs (#884)
  INNGEST_SWITCH_INSTRUCTIONS.md
  src/lib/inngest/types/event-data.ts
  supabase/functions/cleanup-stuck-jobs/index.ts
  supabase/functions/health-inngest/index.ts
  supabase/migrations/20251001000003_automated_stuck_job_cleanup.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
