Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

security: add manual JWT verification to 5 frontend-callable edge functions
  .lintstagedrc.json
  src/lib/inngest/functions/send-user-slack-monthly-leaderboard-cron.ts
  supabase/functions/_shared/auth.ts
  supabase/functions/_shared/spam-detection-integration.ts
  supabase/functions/calculate-monthly-rankings/index.ts
  supabase/functions/github-sync/index.ts
  supabase/functions/insights/index.ts
  supabase/functions/repository-summary/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

security: set verify_jwt = false on 8 frontend-callable functions
  supabase/config.toml
Due: none

Delete .github/workflows/continue-triage.yml
  .github/workflows/continue-triage.yml
Due: prettier --write

Delete .github/workflows/continue-triage.yml (#1801)
  .github/workflows/continue-triage.yml
Due: prettier --write

fix: resolve Inngest step replay bug and incorrect DELETE trigger guard (#1756)
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
  supabase/migrations/20260319_sync_workspace_tracked_repos_trigger.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

chore: regenerate package-lock.json after dompurify and inngest bumps
  package-lock.json
Due: prettier --write

docs: document npm as the package manager in AGENTS.md
  AGENTS.md
Due: none

chore(deps): override uuid to ^14 to patch transitive vuln from inngest 3.54
  package-lock.json
  package.json
Due: prettier --write

chore(deps): replace @xenova/transformers with @huggingface/transformers
  app/services/__tests__/issue-similarity.test.ts
  app/services/embeddings.ts
  app/services/issue-similarity.ts
  netlify/functions/inngest-embeddings.mts
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(deps): bump dompurify to 3.4.2 and inngest to 3.54.2 for 5 snyk vulns (#1787)
  app/services/__tests__/issue-similarity.test.ts
  app/services/embeddings.ts
  app/services/issue-similarity.ts
  netlify/functions/inngest-embeddings.mts
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

security: drop unused monitoring schema (2 search_path warnings to 0)
  docs/database/README.md
  docs/database/rls-monitoring-guide.md
  supabase/migrations/20260707000001_drop_monitoring_schema.sql
  supabase/templates/rls-policy-templates.sql
Due: none

security: drop 30 dead SECURITY DEFINER functions, restrict EXECUTE on the rest
  AGENTS.md
  supabase/migrations/20260707000002_drop_and_restrict_definer_functions.sql
Due: none

fix: restore trending functions dropped by the definer triage
  supabase/migrations/20260707000003_restore_trending_functions.sql
Due: none

Swap continuedev/continue for anomalyco/opencode in example repos
  src/components/features/repository/example-repos.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: unblock workspace delete and repository add/remove for owners
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
  supabase/migrations/20260711120000_fix_workspace_write_triggers.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: opt in private repositories via the GitHub App
  app/webhooks/installation.ts
  docs/product-requirements/prd-private-repo-opt-in.md
  fly-social-cards/src/chart-data-fetchers.js
  fly-social-cards/src/server.js
  netlify/functions/api-repository-status.mts
  netlify/functions/api-track-repository.mts
  netlify/functions/github-app-installation-status.mts
  netlify/functions/widget-badge.mjs
  netlify/functions/widget-stat-card.mjs
  scripts/sitemap/generate-sitemap.js
  src/components/features/workspace/AddRepositoryModal.tsx
  src/lib/github-app/installation-token.ts
  src/lib/inngest/functions/capture-issue-comments.ts
  src/lib/inngest/functions/capture-pr-comments.ts
  src/lib/inngest/functions/capture-pr-details.ts
  src/lib/inngest/functions/capture-pr-reviews.ts
  src/lib/inngest/functions/capture-repository-issues.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/github-client.ts
  src/lib/inngest/graphql-client.ts
  src/lib/progressive-capture/commit-processor.ts
  supabase/migrations/20260713000000_private_repo_read_protection.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use Web Crypto in installation-token so the client bundle builds
  src/lib/github-app/installation-token.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: opt in private repositories via the GitHub App (#1805)
  app/webhooks/installation.ts
  docs/product-requirements/prd-private-repo-opt-in.md
  fly-social-cards/src/chart-data-fetchers.js
  fly-social-cards/src/server.js
  netlify/functions/api-repository-status.mts
  netlify/functions/api-track-repository.mts
  netlify/functions/github-app-installation-status.mts
  netlify/functions/widget-badge.mjs
  netlify/functions/widget-stat-card.mjs
  scripts/sitemap/generate-sitemap.js
  src/components/features/workspace/AddRepositoryModal.tsx
  src/lib/github-app/installation-token.ts
  src/lib/inngest/functions/capture-issue-comments.ts
  src/lib/inngest/functions/capture-pr-comments.ts
  src/lib/inngest/functions/capture-pr-details.ts
  src/lib/inngest/functions/capture-pr-reviews.ts
  src/lib/inngest/functions/capture-repository-issues.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/github-client.ts
  src/lib/inngest/graphql-client.ts
  src/lib/progressive-capture/commit-processor.ts
  supabase/migrations/20260713000000_private_repo_read_protection.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): pin flyctl setup action to @master
  .github/workflows/deploy-github-webhooks.yml
Due: prettier --write

fix(ci): pin flyctl setup action to @master (#1806)
  .github/workflows/deploy-github-webhooks.yml
Due: prettier --write

fix(webhooks): resurrect the Fly webhook-server build and deploy
  .github/workflows/deploy-github-webhooks.yml
  webhooks-server/Dockerfile
  webhooks-server/package-lock.json
  webhooks-server/package.json
  webhooks-server/src/server.ts
  webhooks-server/tsconfig.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: workspaces-first system tray app (Tauri v2)
  desktop/.gitignore
  desktop/README.md
  desktop/index.html
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/build.rs
  desktop/src-tauri/icons/128x128.png
  desktop/src-tauri/icons/128x128@2x.png
  desktop/src-tauri/icons/32x32.png
  desktop/src-tauri/icons/64x64.png
  desktop/src-tauri/icons/Square107x107Logo.png
  desktop/src-tauri/icons/Square142x142Logo.png
  desktop/src-tauri/icons/Square150x150Logo.png
  desktop/src-tauri/icons/Square284x284Logo.png
  desktop/src-tauri/icons/Square30x30Logo.png
  desktop/src-tauri/icons/Square310x310Logo.png
  desktop/src-tauri/icons/Square44x44Logo.png
  desktop/src-tauri/icons/Square71x71Logo.png
  desktop/src-tauri/icons/Square89x89Logo.png
  desktop/src-tauri/icons/StoreLogo.png
  desktop/src-tauri/icons/icon.icns
  desktop/src-tauri/icons/icon.ico
  desktop/src-tauri/icons/icon.png
  desktop/src-tauri/src/api.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/src/settings.rs
  desktop/src-tauri/src/supabase.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src/App.tsx
  desktop/src/main.tsx
  desktop/src/styles.css
  desktop/tsconfig.json
  desktop/vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

docs: document the desktop tray app
  docs/features/desktop-tray-app.md
Due: none

fix(ci): use webhooks-scoped Fly token for the deploy
  .github/workflows/deploy-github-webhooks.yml
Due: prettier --write

fix(webhooks): resolve dependency vulnerabilities (npm audit fix)
  webhooks-server/package-lock.json
Due: prettier --write

refactor: drop trending from the tray — workspaces only
  desktop/README.md
  desktop/src-tauri/src/api.rs
  desktop/src-tauri/src/lib.rs
  desktop/src/App.tsx
  desktop/src/styles.css
  docs/features/desktop-tray-app.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(webhooks): override brace-expansion to patched 5.0.7 (Snyk high)
  webhooks-server/package-lock.json
  webhooks-server/package.json
Due: prettier --write

fix(webhooks): resurrect the Fly webhook-server build + route installation events (#1807)
  .github/workflows/deploy-github-webhooks.yml
  webhooks-server/Dockerfile
  webhooks-server/package-lock.json
  webhooks-server/package.json
  webhooks-server/src/server.ts
  webhooks-server/tsconfig.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: GitHub sign-in for private workspaces (Supabase PKCE)
  desktop/README.md
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/auth.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/supabase.rs
  desktop/src/App.tsx
  desktop/src/styles.css
  docs/features/desktop-tray-app.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(desktop): normalize workspace slugs; mark metrics as deferred
  desktop/README.md
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/settings.rs
  desktop/src-tauri/src/supabase.rs
  desktop/src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(webhooks): use service-role client for installation writes
  app/webhooks/installation.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(desktop): live workspace metrics via api-workspace-metrics endpoint
  desktop/README.md
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/supabase.rs
  desktop/src/App.tsx
  netlify/functions/api-workspace-metrics.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(desktop): allow overriding the site base via VITE_CONTRIBUTOR_SITE
  desktop/src-tauri/src/lib.rs
Due: none

feat(desktop): live workspace metrics via api-workspace-metrics endpoint (#1810)
  desktop/README.md
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/supabase.rs
  desktop/src/App.tsx
  netlify/functions/api-workspace-metrics.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(webhooks): backfill missing installation row on repo add
  app/webhooks/installation.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
