Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

feat: update LOCAL_DEVELOPMENT.md to streamline local setup with consolidated migration instructions
  docs/setup/LOCAL_DEVELOPMENT.md
Due: none

feat: update README.md to include instructions for running consolidated migrations
  supabase/migrations-consolidated/README.md
Due: none

feat: remove outdated local migration instructions from README.md
  supabase/migrations-consolidated/README.md
Due: none

feat: remove debug output from Supabase running check
  supabase/migrations-local/setup-local.mjs
Due: none

fix: simplify condition for restoring existing migrations
  supabase/migrations-local/setup-local.mjs
Due: none

fix: update exit codes for SIGINT and SIGTERM signals
  supabase/migrations-local/setup-local.mjs
Due: none

feat: enhance Supabase command resolution and execution for better compatibility
  supabase/migrations-local/setup-local.mjs
Due: none

chore: remove unnecessary security audit script
  scripts/security-audit.sh
Due: none

fix: add security audit overrides for known false positives (#705)
  .socket.yml
Due: prettier --write

fix: sync PR count columns to resolve chart failures #694 (#703)
  supabase/migrations/20250908000002_sync_pr_count_columns.sql
Due: none

feat: add ENABLE_WORKSPACES feature flag to control entire workspace visibility
  netlify/functions/api-workspaces.mts
  src/App.tsx
  src/components/common/layout/home.tsx
  src/components/features/workspace/WorkspaceRoutesWrapper.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
  src/lib/feature-flags/posthog-client.ts
  src/lib/feature-flags/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve CI test failures by removing forbidden async patterns
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/common/layout/__tests__/home.test.tsx
  src/components/features/workspace/__tests__/WorkspaceCreateModal.feature-flag.test.tsx
  src/components/features/workspace/__tests__/WorkspaceCreationDisabled.test.tsx
  src/components/features/workspace/__tests__/WorkspaceOnboarding.feature-flag.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement workspace creation feature flag controls (#691) (#698)
  e2e/workspace-creation-feature-flag.spec.ts
  netlify/functions/__tests__/api-workspaces-feature-flag.test.ts
  netlify/functions/api-workspaces.mts
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/App.tsx
  src/components/common/layout/__tests__/home.test.tsx
  src/components/common/layout/home.tsx
  src/components/features/workspace/ContributorsList.tsx
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/WorkspaceCreationDisabled.tsx
  src/components/features/workspace/WorkspaceOnboarding.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/features/workspace/WorkspaceRoutesWrapper.tsx
  src/components/features/workspace/__tests__/WorkspaceCreateModal.feature-flag.test.tsx
  src/components/features/workspace/__tests__/WorkspaceCreationDisabled.test.tsx
  src/components/features/workspace/__tests__/WorkspaceOnboarding.feature-flag.test.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
  src/lib/feature-flags/posthog-client.ts
  src/lib/feature-flags/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement centralized bot detection utility with multiple detection strategies
  src/lib/utils/__tests__/bot-detection.test.ts
  src/lib/utils/bot-detection.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add dynamic OAuth redirect URLs for deploy previews
  docs/authentication/deploy-preview-setup.md
  netlify.toml
  src/hooks/use-github-auth.ts
  src/lib/auth/__tests__/auth-utils.test.ts
  src/lib/auth/auth-utils.ts
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: handle test environment in time-range-store
  src/lib/time-range-store.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: simplify auth tests to follow bulletproof testing guidelines
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/__mocks__/no-mocks-setup.ts
  src/components/features/workspace/__tests__/WorkspaceCreationDisabled.test.tsx
  src/lib/auth/__tests__/auth-utils.test.ts
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add dynamic OAuth redirect URLs for deploy previews (#707)
  docs/authentication/deploy-preview-setup.md
  netlify.toml
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/__mocks__/no-mocks-setup.ts
  src/components/features/workspace/__tests__/WorkspaceCreationDisabled.test.tsx
  src/hooks/use-github-auth.ts
  src/lib/auth/__tests__/auth-utils.test.ts
  src/lib/auth/auth-utils.ts
  src/lib/env.ts
  src/lib/time-range-store.ts
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: cleanup unused tables and enable RLS for security compliance
  supabase/migrations/20250113_cleanup_unused_tables_and_fix_security.sql
Due: none

docs: add comprehensive PostHog cohorts implementation guide
  docs/analytics/posthog-cohorts-guide.md
Due: none

feat: add PostHog cohorts implementation and setup tools
  .env.posthog.example
  docs/analytics/posthog-manual-cohort-setup.md
  docs/analytics/posthog-setup-guide.md
  package.json
  scripts/setup-posthog-cohorts.ts
  src/hooks/use-cohorts.ts
  src/lib/analytics/cohort-manager.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve TypeScript errors in use-cohorts hook
  src/hooks/use-cohorts.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add PostHog cohort creation scripts and workspace feature flag
  scripts/create-internal-users-cohort.js
  scripts/create-posthog-cohorts-simple.js
  scripts/create-posthog-cohorts.js
  scripts/create-workspace-feature-flag.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add comprehensive PostHog integration documentation
  docs/features/feature-flags-quick-reference.md
  docs/features/posthog-integration.md
Due: none

feat: add bot classification audit script with enhanced detection patterns
  scripts/audit-bot-classification.cjs
Due: none

feat: add babbley to Internal Team cohort
  scripts/create-internal-users-cohort.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove hardcoded cohort IDs and improve security
  .env.example
  scripts/README.md
  scripts/create-workspace-feature-flag.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add script to fix bot misclassifications based on comprehensive audit
  scripts/fix-bot-misclassifications.cjs
Due: none

fix: add environment backup files to .gitignore
  .gitignore
Due: none

fix: consolidate documentation and remove duplicates
  .env.posthog.example
  docs/analytics/posthog-cohorts-guide.md
  docs/analytics/posthog-manual-cohort-setup.md
  docs/analytics/posthog-setup-guide.md
  scripts/setup-posthog-cohorts.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement comprehensive bot detection utility across data pipeline
  src/hooks/use-pr-activity.ts
  src/lib/github.ts
  src/lib/progressive-capture/review-comment-processor.ts
  src/lib/utils.ts
  src/lib/validation/enhanced-github-api.ts
  src/lib/validation/github-integration.ts
  supabase/functions/_shared/bot-detection.ts
  supabase/functions/workspace-issues-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: enable workspace features for internal cohort with offline support
  scripts/enable-workspaces-for-internal-cohort.js
  src/lib/feature-flags/posthog-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add PostHog cohorts implementation guide (#709)
  .env.example
  docs/features/feature-flags-quick-reference.md
  docs/features/posthog-integration.md
  package.json
  scripts/README.md
  scripts/create-internal-users-cohort.js
  scripts/create-posthog-cohorts-simple.js
  scripts/create-posthog-cohorts.js
  scripts/create-workspace-feature-flag.js
  scripts/enable-workspaces-for-internal-cohort.js
  src/hooks/use-cohorts.ts
  src/lib/analytics/cohort-manager.ts
  src/lib/feature-flags/posthog-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement Polar subscription system for workspaces
  .env.example
  docs/setup/polar-subscription-setup.md
  netlify/functions/polar-checkout.ts
  netlify/functions/polar-webhook.ts
  package-lock.json
  package.json
  src/components/billing/UpgradeModal.tsx
  src/hooks/use-current-user.ts
  src/hooks/use-subscription-limits.ts
  src/lib/subscription-limits.ts
  src/pages/billing/BillingDashboard.tsx
  src/services/polar/polar.client.ts
  src/services/polar/subscription.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update subscription tiers with new pricing model
  docs/setup/polar-subscription-setup.md
  src/components/billing/UpgradeModal.tsx
  src/pages/billing/BillingDashboard.tsx
  src/services/polar/subscription.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: move private workspaces to Team tier only
  docs/setup/polar-subscription-setup.md
  src/services/polar/subscription.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add billing route and fix environment variables for Vite
  .env.example
  src/App.tsx
  src/components/billing/UpgradeModal.tsx
  src/pages/billing/BillingDashboard.tsx
  src/services/polar/polar.client.ts
  src/services/polar/subscription.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: rewrite polar-checkout function to handle errors properly
  netlify/functions/polar-checkout.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: standardize bot detection in activity components
  src/components/features/activity/contributions.tsx
  src/components/features/activity/pr-activity-filtered.tsx
  src/components/features/activity/pr-activity.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: standardize bot detection in health components
  src/components/features/health/lottery-factor.tsx
  src/components/features/health/repository-health-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
