Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: resolve environment variable configuration issues in Netlify functions
  netlify/functions/__tests__/api-codeowners.test.ts
  netlify/functions/__tests__/api-suggest-reviewers.test.ts
  netlify/functions/api-codeowners.mts
  netlify/functions/api-fetch-codeowners.mts
  netlify/functions/api-file-tree.mts
  netlify/functions/api-suggest-reviewers.mts
  netlify/functions/api-suggested-codeowners.mts
  netlify/functions/api-test-reviewers.mts
  netlify/functions/lib/repository-validation.ts
  netlify/functions/workspace-sync-simple.ts
  public/changelog-feeds.json
  public/changelog-rss.xml
  scripts/testing-tools/test-api-endpoint.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve CODEOWNERS modal UI/UX consistency
  src/components/features/workspace/reviewer-suggestions/ReviewerSuggestionsModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Phase 3 - Fix contributor handling in scripts
  public/_headers
  scripts/data-sync/sync-historical-prs.js
  scripts/progressive-capture/capture-pr-comments.js
  scripts/progressive-capture/capture-pr-details.js
  scripts/progressive-capture/capture-pr-reviews.js
  scripts/setup/generate-seed-data.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: improve API error handling and fix database column mapping issues
  netlify/functions/api-codeowners.mts
  netlify/functions/api-file-tree.mts
  netlify/functions/api-repository-status.js
  netlify/functions/api-suggest-reviewers.mts
  netlify/functions/api-suggested-codeowners.mts
  netlify/functions/lib/error-handler.ts
  src/lib/api/error-types.ts
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct pull request ID handling in fetchPRsWithoutReviewers
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: exclude PR authors from reviewer suggestions
  netlify/functions/api-codeowners.mts
  netlify/functions/api-file-tree.mts
  netlify/functions/api-suggest-reviewers.mts
  netlify/functions/api-suggested-codeowners.mts
  src/components/features/workspace/reviewer-suggestions/ReviewerSuggestionsModal.tsx
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Resolve RLS and first_seen_at issues in contributor utils
  app/lib/webhook-contributor-utils.ts
  scripts/progressive-capture/lib/contributor-utils.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update api-suggest-reviewers tests to match new API response format
  netlify/functions/__tests__/api-suggest-reviewers.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update remaining tests to use tracking_enabled field
  netlify/functions/__tests__/api-codeowners-database.test.ts
  netlify/functions/__tests__/api-codeowners.test.ts
  netlify/functions/__tests__/repository-validation.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address CodeQL security vulnerabilities
  netlify/functions/api-suggest-reviewers.mts
  supabase/functions/codeowners-llm/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace .ilike with .eq in repository validation
  netlify/functions/lib/repository-validation.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Address continue-agent review issues
  app/webhooks/pull-request.ts
  fly-github-webhooks/src/handlers/pull-request-direct.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address linting errors in workspace-sync-simple
  netlify/functions/workspace-sync-simple.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update workspace-sync test to match maybeSingle API change
  netlify/functions/__tests__/workspace-sync.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: simplify continue-review with TLDR and remove metrics
  actions/continue-review/enhanced-prompt-generator.ts
  actions/continue-review/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: simplify continue-review with TLDR and remove metrics (#846)
  actions/continue-review/enhanced-prompt-generator.ts
  actions/continue-review/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(webhooks): inline ensureContributor logic to resolve Docker import issue
  fly-github-webhooks/src/handlers/pull-request-direct.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update RLS policies to allow service_role writes
  supabase/apply-rls-policies.sql
Due: none

Update scripts/progressive-capture/capture-pr-reviews.js
  scripts/progressive-capture/capture-pr-reviews.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove anon role from write policies for security
  supabase/apply-rls-policies.sql
Due: none

fix: Simplify contributor ID retrieval in sync scripts
  scripts/data-sync/sync-historical-prs.js
  scripts/progressive-capture/capture-pr-comments.js
  scripts/setup/generate-seed-data.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Remove repository name parameter from ensureContributor calls
  scripts/data-sync/sync-historical-prs.js
  scripts/progressive-capture/capture-pr-comments.js
  scripts/progressive-capture/capture-pr-details.js
  scripts/progressive-capture/capture-pr-reviews.js
  scripts/setup/generate-seed-data.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Refactor contributor ID retrieval in PR details and reviews capture scripts
  scripts/progressive-capture/capture-pr-details.js
  scripts/progressive-capture/capture-pr-reviews.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Handle error during contributor existence check in ensureContributorForWebhook
  app/lib/webhook-contributor-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix RLS policies to allow service_role writes (#847)
  supabase/apply-rls-policies.sql
Due: none

feat: Add github_issues table with DLT tracking support
  supabase/migrations/20250129000000_create_github_issues_table.sql
Due: none

feat: Add github_issues table with DLT tracking support (#852)
  supabase/migrations/20250129000000_create_github_issues_table.sql
Due: none

fix: Handle 404 errors gracefully for missing CODEOWNERS files
  src/components/features/workspace/reviewer-suggestions/ReviewerSuggestionsModal.tsx
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Enable public read access for pull_requests table
  src/hooks/useWorkspaceContributors.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Data Pipeline Validation workflow with dlt MCP
  .github/workflows/dlt-pipeline-validation.yml
Due: prettier --write

chore: Remove dlt pipeline validation workflow
  .github/workflows/dlt-pipeline-validation.yml
Due: prettier --write

docs: Add postmortem for workspace data RLS policy fix
  docs/postmortems/2025-01-workspace-data-display-rls-fix.md
Due: none

fix: Correct postmortem date to September 2025
  docs/postmortems/2025-09-workspace-data-display-rls-fix.md
Due: none

fix: Enable public read access for pull_requests table (#853)
  docs/postmortems/2025-09-workspace-data-display-rls-fix.md
  src/components/features/workspace/reviewer-suggestions/ReviewerSuggestionsModal.tsx
  src/hooks/useWorkspaceContributors.ts
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add PostHog session analysis workflow with Continue CLI
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

feat: Add PR comment with analysis results
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

feat: Add PostHog session analysis workflow with Continue CLI (#855)
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

fix: Remove incorrect Continue CLI auth step
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
