Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: Fix failing workspace count test mocks to match implementation
  src/hooks/__tests__/use-workspace-count.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Complete console.log security fixes for demo data cache
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/demo/__tests__/demo-data-cache.test.ts
  src/lib/demo/demo-data-cache.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add PostHog tracking for auth flow and workspace CTA (#751)
  docs/analytics/posthog-auth-events.md
  html/html.meta.json.gz
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/common/layout/layout.tsx
  src/components/features/auth/auth-button.tsx
  src/hooks/__tests__/use-workspace-count.test.ts
  src/hooks/use-repository-discovery.ts
  src/hooks/use-workspace-count.ts
  src/lib/demo/__tests__/demo-data-cache.test.ts
  src/lib/demo/demo-data-cache.ts
  src/lib/inngest/functions/capture-repository-issues.ts
  src/lib/insights/issue-metrics.ts
  src/pages/workspace-new-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Improve workspace creation modal messaging based on auth state
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/WorkspaceCreationDisabled.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: Fix WorkspaceCreateModal tests after auth state changes
  src/components/features/workspace/__tests__/WorkspaceCreateModal.feature-flag.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: Follow bulletproof testing guidelines - remove async/waitFor
  src/components/features/workspace/__tests__/WorkspaceCreateModal.feature-flag.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: Fix WorkspaceOnboarding tests for new auth state messaging
  src/components/features/workspace/__tests__/WorkspaceOnboarding.feature-flag.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Update WorkspaceCreationDisabled tests to match auth-aware component
  src/components/features/workspace/__tests__/WorkspaceCreationDisabled.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Make modal tests more reliable for CI environment
  html/html.meta.json.gz
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/WorkspaceCreationDisabled.tsx
  src/components/features/workspace/__tests__/WorkspaceCreateModal.feature-flag.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: Add html test report directory to gitignore
  .gitignore
  html/assets/index-D_ryMEPs.js
  html/assets/index-X8b7Z_4p.css
  html/bg.png
  html/favicon.ico
  html/favicon.svg
  html/html.meta.json.gz
  html/index.html
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

Revert "chore: Add html test report directory to gitignore"
  .gitignore
  html/assets/index-D_ryMEPs.js
  html/assets/index-X8b7Z_4p.css
  html/bg.png
  html/favicon.ico
  html/favicon.svg
  html/html.meta.json.gz
  html/index.html
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

chore: Add Vitest HTML report metadata to gitignore
  .gitignore
  html/html.meta.json.gz
Due: none

fix: Handle undefined onRequestAccess in WorkspaceCreationDisabled modal
  src/components/features/workspace/WorkspaceCreationDisabled.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Preserve full URL including query and hash on OAuth redirect
  src/components/features/workspace/WorkspaceCreateModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Improve workspace creation modal messaging based on auth state (#752)
  .gitignore
  html/html.meta.json.gz
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/WorkspaceCreationDisabled.tsx
  src/components/features/workspace/__tests__/WorkspaceCreateModal.feature-flag.test.tsx
  src/components/features/workspace/__tests__/WorkspaceCreationDisabled.test.tsx
  src/components/features/workspace/__tests__/WorkspaceOnboarding.feature-flag.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add workspace integration button to repository view
  src/components/features/repository/repo-view.tsx
  src/components/features/workspace/AddToWorkspaceButton.tsx
  src/components/features/workspace/AddToWorkspaceModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Address PR review feedback for workspace integration
  src/components/features/repository/repo-view.tsx
  src/components/features/workspace/AddToWorkspaceButton.tsx
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/components/ui/modal-error-boundary.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Make plus button size consistent with other header buttons
  src/components/features/workspace/AddToWorkspaceButton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add workspace integration button to repository view (#753)
  src/components/features/repository/repo-view.tsx
  src/components/features/workspace/AddToWorkspaceButton.tsx
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/components/ui/modal-error-boundary.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Migrate inngest-prod-functions to Supabase Edge Functions
  supabase/functions/__tests__/inngest-prod.test.ts
  supabase/functions/inngest-prod/README.md
  supabase/functions/inngest-prod/functions.ts
  supabase/functions/inngest-prod/graphql-client.ts
  supabase/functions/inngest-prod/index.ts
  supabase/functions/inngest-prod/inngest-functions.ts
  supabase/functions/inngest-prod/repository-classifier.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Correct typo in repository-classifier.ts
  supabase/functions/inngest-prod/repository-classifier.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add HEAD request support for Inngest health checks
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Implement unified hybrid job processing system
  docs/infrastructure/hybrid-job-processing.md
  netlify/functions/inngest-hybrid.ts
  netlify/functions/sync-router.mts
  supabase/functions/_shared/cors.ts
  supabase/functions/inngest-prod/graphql-client.ts
  supabase/functions/inngest-prod/index-complex.ts
  supabase/functions/inngest-prod/index-simple.ts
  supabase/functions/inngest-prod/index.ts
  supabase/functions/process-job/index.ts
  supabase/migrations/20250121000000_background_jobs.sql
  supabase/queries/job-monitoring.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add webhook hybrid routing for high-volume GitHub events
  docs/infrastructure/webhook-hybrid-routing.md
  netlify/functions/api-workspaces-webhook-hybrid.mts
  supabase/functions/process-job/index.ts
  supabase/functions/process-webhook/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add deployment guides for webhook and Inngest URL updates
  docs/deployment/github-webhook-update.md
  docs/deployment/inngest-webhook-update.md
Due: none

fix: Add webhook signature verification to inngest-hybrid
  docs/security/webhook-signature-verification.md
  netlify/functions/inngest-hybrid.ts
  src/lib/security/inngest-signature-verification.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add security and performance improvements for webhook processing
  docs/security-and-performance-improvements.md
  netlify/functions/_shared/supabase-client.ts
  netlify/functions/api-workspaces-webhook-hybrid.mts
  netlify/functions/inngest-hybrid.ts
  src/lib/inngest/graphql-client.ts
  src/lib/monitoring/memory-monitor.test.ts
  src/lib/monitoring/memory-monitor.ts
  supabase/migrations/20250122000000_webhook_metrics.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add proper TypeScript types for GraphQL responses
  CLAUDE.md
  src/lib/inngest/functions/capture-pr-details-graphql.ts
  src/lib/inngest/functions/capture-repository-sync-enhanced.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/graphql-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Resolve GitHub Actions build failures
  src/lib/inngest/functions/capture-repository-sync-enhanced.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Correct environment variable naming and remove TypeScript any types
  docs/data-fetching/README.md
  docs/data-fetching/progressive-data-capture-implementation.md
  docs/user-experience/invisible-data-loading.md
  netlify/functions/api-workspaces-webhook-hybrid.mts
  supabase/functions/process-job/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Address critical security vulnerabilities and bugs from PR review
  netlify/functions/api-workspaces-webhook-hybrid.mts
  netlify/functions/inngest-hybrid.ts
  supabase/functions/process-job/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Address all critical PR review issues
  supabase/functions/health-jobs/index.ts
  supabase/functions/inngest-prod/index-simple.ts
  supabase/functions/process-job/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Migrate inngest-prod-functions to Supabase Edge Functions (#754)
  CLAUDE.md
  docs/data-fetching/README.md
  docs/data-fetching/progressive-data-capture-implementation.md
  docs/deployment/github-webhook-update.md
  docs/deployment/inngest-webhook-update.md
  docs/infrastructure/hybrid-job-processing.md
  docs/infrastructure/webhook-hybrid-routing.md
  docs/security-and-performance-improvements.md
  docs/security/webhook-signature-verification.md
  docs/user-experience/invisible-data-loading.md
  netlify/functions/_shared/supabase-client.ts
  netlify/functions/api-workspaces-webhook-hybrid.mts
  netlify/functions/inngest-hybrid.ts
  netlify/functions/sync-router.mts
  src/lib/inngest/functions/capture-pr-details-graphql.ts
  src/lib/inngest/functions/capture-repository-sync-enhanced.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/graphql-client.ts
  src/lib/monitoring/memory-monitor.test.ts
  src/lib/monitoring/memory-monitor.ts
  src/lib/security/inngest-signature-verification.test.ts
  supabase/functions/__tests__/inngest-prod.test.ts
  supabase/functions/_shared/cors.ts
  supabase/functions/health-jobs/index.ts
  supabase/functions/inngest-prod/README.md
  supabase/functions/inngest-prod/functions.ts
  supabase/functions/inngest-prod/graphql-client.ts
  supabase/functions/inngest-prod/index-complex.ts
  supabase/functions/inngest-prod/index-simple.ts
  supabase/functions/inngest-prod/index.ts
  supabase/functions/inngest-prod/inngest-functions.ts
  supabase/functions/inngest-prod/repository-classifier.ts
  supabase/functions/process-job/index.ts
  supabase/functions/process-webhook/index.ts
  supabase/migrations/20250121000000_background_jobs.sql
  supabase/migrations/20250122000000_webhook_metrics.sql
  supabase/queries/job-monitoring.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add inngest-sync endpoint for Inngest dashboard compatibility
  netlify.toml
  netlify/functions/inngest-sync.mts
Due: none

fix: Add signature verification and error handling to Inngest endpoints
  netlify/functions/inngest-prod.mts
  netlify/functions/inngest-sync.mts
Due: none

simplify: Create minimal inngest-sync endpoint
  netlify/functions/inngest-sync.mts
Due: none

feat: Add minimal inngest-sync endpoint
  netlify.toml
  netlify/functions/inngest-sync.mts
Due: none

fix: Combine Inngest SDK serve with hybrid routing in inngest-sync
  netlify/functions/inngest-sync.mts
Due: none

simplify: Reduce inngest-sync to minimal alias
  netlify/functions/inngest-sync.mts
Due: none

docs: Clarify two-URL configuration for hybrid routing
  netlify/functions/inngest-sync.mts
Due: none
