Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0, prettier --write

Potential fix for code scanning alert no. 39: Use of externally-controlled format string
  src/lib/validation/supabase-response-schemas.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: remove duplicate/malformed code artifacts from files
  public/sitemap-news.xml
  public/sitemap.xml
  src/lib/supabase-pr-data-smart.ts
  src/lib/utils/__tests__/workspace-priority.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: remove reference to non-existent supabase-response-schemas file
  public/changelog-feeds.json
  public/changelog-rss.xml
  public/sitemap-news.xml
  public/sitemap.xml
  src/lib/validation/supabase-response-schemas.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: complete Phase 3 - extend Zod validation to all PR data files (#541)
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/validation/index.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

docs: add Zod validation strategy and no-any policy documentation
  docs/validation/no-any-policy.md
  docs/validation/zod-runtime-validation.md
Due: none

fix: address PR feedback - correct reviewer_id reference in Zod schema (#541)
  public/sitemap-news.xml
  public/sitemap.xml
  src/lib/validation/supabase-response-schemas.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: replace any types with proper TypeScript types in core library files (#541 phase 1) (#577)
  public/sitemap-news.xml
  public/sitemap.xml
  src/lib/dub.ts
  src/lib/error-tracking.ts
  src/lib/github.ts
  src/lib/supabase-pr-data.ts
  src/lib/validation/index.ts
  src/lib/validation/supabase-response-schemas.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

refactor: replace 28 nested ternary expressions with utility functions (#574)
  docs/validation/no-any-policy.md
  docs/validation/zod-runtime-validation.md
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/common/optimized-image.tsx
  src/components/features/trending/TrendingRepositoryCard.tsx
  src/components/insights/cache-debug.stories.tsx
  src/components/insights/sections/recommendations.stories.tsx
  src/components/insights/sections/repository-health.stories.tsx
  src/lib/inngest/functions/aggregate-workspace-metrics.ts
  src/lib/inngest/functions/capture-repository-sync-enhanced.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/functions/capture-repository-sync.ts
  src/lib/progressive-capture/queue-manager.ts
  src/lib/supabase-pr-data-smart.ts
  src/lib/sync-monitoring.ts
  src/lib/utils/__tests__/priority-classification.test.ts
  src/lib/utils/__tests__/score-styling.test.ts
  src/lib/utils/__tests__/state-mapping.test.ts
  src/lib/utils/__tests__/workspace-priority.test.ts
  src/lib/utils/priority-classification.ts
  src/lib/utils/score-styling.ts
  src/lib/utils/state-mapping.ts
  src/lib/utils/workspace-priority.ts
  src/lib/validation/supabase-response-schemas.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: move sitemap generation to daily GitHub Actions workflow
  .github/workflows/daily-sitemap-generation.yml
  package.json
Due: prettier --write

feat: move sitemap generation to daily GitHub Actions workflow (#581)
  .github/workflows/daily-sitemap-generation.yml
  package.json
Due: prettier --write

feat: enhance triage bot with @continue-agent mentions and context awareness
  .github/workflows/continue-triage.yml
  actions/continue-triage/index.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

docs: add Continue Agent workflow separation documentation
  docs/continue-agent-workflows.md
Due: none

fix: address review feedback for triage bot
  .github/workflows/continue-triage.yml
  actions/continue-triage/index.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: enhance triage bot with @continue-agent mentions and context awareness (#582)
  .github/workflows/continue-triage.yml
  actions/continue-triage/index.ts
  docs/continue-agent-workflows.md
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: enable GitHub Actions checks for fork PRs with pull_request_target
  .github/workflows/continue-review.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/similarity-check.yml
Due: prettier --write

fix: improve continue-triage workflow triggers
  .github/workflows/continue-triage.yml
Due: prettier --write

fix: add labeled event trigger for needs-triage label
  .github/workflows/continue-triage.yml
Due: prettier --write

fix: update candlestick chart tooltip to follow cursor position
  src/components/features/workspace/ActivityChart.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: update candlestick chart tooltip to follow cursor position (#586)
  src/components/features/workspace/ActivityChart.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: improve continue-triage workflow triggers (#584)
  .github/workflows/continue-triage.yml
Due: prettier --write

fix: resolve React hooks dependency warnings
  public/sitemap-news.xml
  public/sitemap.xml
  security-review-summary.md
  src/components/common/layout/not-found.tsx
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/docs/doc-detail.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: address PR review feedback
  src/components/common/layout/not-found.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

docs: add JSDoc comments to useCallback functions
  src/components/common/layout/not-found.tsx
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/docs/doc-detail.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

Remove security-review-summary.md
  security-review-summary.md
Due: none

Reset sitemap files to match main branch
  public/sitemap-news.xml
  public/sitemap.xml
Due: none

fix: resolve React hooks dependency warnings (#587)
  src/components/common/layout/not-found.tsx
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/docs/doc-detail.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: implement workspace invitation email system (#588)
  supabase/functions/workspace-invitation-accept/index.ts
  supabase/functions/workspace-invitation-decline/index.ts
  supabase/functions/workspace-invitation-email/index.ts
  supabase/migrations/20250828_workspace_invitation_email_support.sql
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: address PR review comments - improve type safety
  src/components/insights/sections/repository-health-core.tsx
  src/components/insights/sections/repository-health-factors.tsx
  src/components/insights/sections/repository-health-overall.tsx
  src/components/insights/sections/repository-health.stories.tsx
  src/lib/types.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: replace TypeScript any types with proper interfaces in components (#591)
  src/components/__tests__/login-required-for-search.test.tsx
  src/components/features/admin/spam-management.tsx
  src/components/features/workspace/AddRepositoryModal.tsx
  src/components/insights/RepoInsightsContainer.stories.tsx
  src/components/insights/sections/recommendations.tsx
  src/components/insights/sections/repository-health-core.tsx
  src/components/insights/sections/repository-health-factors.tsx
  src/components/insights/sections/repository-health-overall.tsx
  src/components/insights/sections/repository-health.stories.tsx
  src/components/ui/charts/ChartComponents.test.tsx
  src/components/ui/charts/DonutChart.test.tsx
  src/components/ui/charts/chart-utils.ts
  src/lib/types.ts
  supabase/functions/workspace-invitation-accept/index.ts
  supabase/functions/workspace-invitation-decline/index.ts
  supabase/functions/workspace-invitation-email/index.ts
  supabase/migrations/20250828_workspace_invitation_email_support.sql
Due: eslint --fix --cache --max-warnings=0, prettier --write

refactor: address PR review feedback - improve code quality
  src/components/ui/circular-progress.stories.tsx
  src/lib/utils/threshold-styling.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
