Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: sanitize error responses to prevent information leakage
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: resolve Sentry race conditions and message filtering bugs
  supabase/functions/_shared/sentry.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add Sentry error tracking to edge functions (#1302)
  supabase/functions/.env.example
  supabase/functions/_shared/sentry.ts
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add Netlify Edge Function for dynamic social meta tags
  index.html
  netlify.toml
  netlify/edge-functions/social-meta.ts
  public/social.svg
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: replace next-themes with internal useTheme hook
  package-lock.json
  package.json
  src/components/ui/sonner.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace next-themes with internal useTheme hook (#1312)
  package-lock.json
  package.json
  src/components/ui/sonner.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove duplicate og:image that overrides dynamic social cards
  index.html
Due: npm run verify:csp

fix: update Fly CLI action and test PNG output
  .github/workflows/deploy-social-cards.yml
Due: prettier --write

feat: add Netlify Edge Function for dynamic social meta tags (#1308)
  .github/workflows/deploy-social-cards.yml
  index.html
  netlify.toml
  netlify/edge-functions/social-meta.ts
  public/social.svg
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

feat(social-cards): simplify design to match public/social.png
  fly-social-cards/src/card-generator.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update social card design to match React components
  fly-social-cards/src/card-generator.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update social card design to match React components (#1313)
  fly-social-cards/src/card-generator.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve social card visual regressions
  fly-social-cards/src/card-generator.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace seedling icon with favicon-style logo in social cards
  fly-social-cards/src/card-generator.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use actual favicon pixel art in social cards
  fly-social-cards/src/card-generator.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: clean up orphaned Dub.co code (#1305)
  src/services/dub-analytics.service.ts
  supabase/functions/url-shortener/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: skip URL shortening for deploy previews
  netlify/functions/create-short-url.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use URL-based domain selection for short links
  netlify/functions/create-short-url.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: clean up orphaned Dub.co code (#1305) (#1314)
  netlify/functions/create-short-url.ts
  src/services/dub-analytics.service.ts
  supabase/functions/url-shortener/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: handle duplicate short link (409) by returning existing link
  netlify/functions/create-short-url.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: allowlist response fields for existing short links
  netlify/functions/create-short-url.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: handle duplicate short link (409) by returning existing link (#1315)
  netlify/functions/create-short-url.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Sentry error tracking to Netlify Edge Functions
  netlify/edge-functions/_shared/sentry.ts
  netlify/edge-functions/social-meta.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use static value for x-crawler-detected header
  netlify/edge-functions/social-meta.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Sentry error tracking to Netlify Edge Functions (#1316)
  netlify/edge-functions/_shared/sentry.ts
  netlify/edge-functions/social-meta.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade lucide-react from 0.544.0 to 0.554.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @polar-sh/nextjs from 0.4.11 to 0.8.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade dub from 0.66.5 to 0.68.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.81.1 to 2.84.0
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

feat: add Playwright chart screenshot service and delete orphaned stub
  fly-social-cards/Dockerfile
  fly-social-cards/fly.toml
  fly-social-cards/package.json
  fly-social-cards/src/cache.js
  fly-social-cards/src/chart-data-fetchers.js
  fly-social-cards/src/chart-html-builder.js
  fly-social-cards/src/playwright-renderer.js
  fly-social-cards/src/server.js
  netlify/edge-functions/social-meta.ts
  supabase/functions/.denolintignore
  supabase/functions/README.md
  supabase/functions/social-cards/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: add query limits and increase health check start-period
  fly-social-cards/Dockerfile
  fly-social-cards/src/chart-data-fetchers.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address code review feedback for chart service
  fly-social-cards/src/cache.js
  fly-social-cards/src/chart-data-fetchers.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Playwright chart screenshot service and delete orphaned stub (#1321)
  fly-social-cards/Dockerfile
  fly-social-cards/fly.toml
  fly-social-cards/package.json
  fly-social-cards/src/cache.js
  fly-social-cards/src/chart-data-fetchers.js
  fly-social-cards/src/chart-html-builder.js
  fly-social-cards/src/playwright-renderer.js
  fly-social-cards/src/server.js
  netlify/edge-functions/social-meta.ts
  supabase/functions/.denolintignore
  supabase/functions/README.md
  supabase/functions/social-cards/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: sync package-lock.json with playwright dependency
  fly-social-cards/package-lock.json
Due: prettier --write

fix: use Dockerfile for Fly.io build instead of Heroku builder
  fly-social-cards/fly.toml
Due: none

fix: update Playwright base image to v1.57.0
  fly-social-cards/Dockerfile
Due: none

fix: use jammy base image (focal no longer available)
  fly-social-cards/Dockerfile
Due: none

fix: auto-reconnect browser when disconnected
  fly-social-cards/src/playwright-renderer.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add retry logic for browser page creation race condition
  fly-social-cards/src/playwright-renderer.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade lucide-react from 0.544.0 to 0.554.0 (#1317)
  package-lock.json
  package.json
Due: prettier --write
