Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: upgrade @actions/github from 6.0.0 to 6.0.1
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: prettier --write

feat: Update favicon to pixel art plant design
  mintlify-docs/favicon.svg
  public/favicon.ico
  public/favicon.svg
  public/icons/icon-192x192.png
  public/icons/icon-512x512.png
Due: none

feat(docs-review): enhance documentation review bot with comprehensive checks
  actions/continue-docs-review/README.md
  actions/continue-docs-review/index.ts
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Replace workspace dropdown icon with plant logo
  src/components/icons/PlantIcon.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Update favicon and workspace icon to plant logo (#963)
  mintlify-docs/favicon.svg
  public/favicon.ico
  public/favicon.svg
  public/icons/icon-192x192.png
  public/icons/icon-512x512.png
  src/components/icons/PlantIcon.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(docs-review): add purpose-driven checks for user vs developer docs
  actions/continue-docs-review/README.md
  actions/continue-docs-review/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add 90-day workspace event backfill UI (#957)
  src/components/features/workspace/WorkspaceBackfillButton.tsx
  src/components/features/workspace/WorkspaceBackfillManager.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add workspace manual backfill documentation
  docs/data-fetching/workspace-manual-backfill.md
Due: none

fix: address code review feedback for workspace backfill (#965)
  src/components/features/workspace/WorkspaceBackfillButton.tsx
  src/components/features/workspace/WorkspaceBackfillManager.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent success recording on abort and optimize re-renders (#965)
  src/components/features/workspace/WorkspaceBackfillButton.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add 90-day workspace event backfill UI (#957) (#965)
  docs/data-fetching/workspace-manual-backfill.md
  src/components/features/workspace/WorkspaceBackfillButton.tsx
  src/components/features/workspace/WorkspaceBackfillManager.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @actions/core from 1.10.1 to 1.11.1 (#960)
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: prettier --write

feat: Add workspace metrics functions to Netlify Inngest endpoint (#905)
  docs/infrastructure/dual-inngest-architecture.md
  netlify/functions/inngest-embeddings.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add docs subdomain to CSP connect-src directive
  public/_headers
Due: npm run verify:csp

fix: Add docs subdomain to CSP connect-src directive (#967)
  public/_headers
Due: npm run verify:csp

feat: Change workspace metrics cron from 5 min to twice daily
  docs/infrastructure/dual-inngest-architecture.md
  src/lib/inngest/functions/aggregate-workspace-metrics.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Implement webhook priority system for GitHub App data fetching
  app/webhooks/installation.ts
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
  docs/data-fetching/manual-repository-tracking.md
  docs/data-fetching/webhook-priority-system.md
  src/lib/progressive-capture/queue-manager.ts
  supabase/migrations/20251005000000_webhook_priority_system.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: Add update method to Supabase mock for webhook timestamp
  app/webhooks/__tests__/pull-request.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(docs-review): add contextual feedback with specific line numbers and validation examples
  actions/continue-docs-review/EXAMPLE_OUTPUT.md
  actions/continue-docs-review/README.md
  actions/continue-docs-review/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add error handling to webhook timestamp updates
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add workspace metrics functions to Netlify Inngest endpoint (#966)
  docs/infrastructure/dual-inngest-architecture.md
  netlify/functions/inngest-embeddings.mts
  src/lib/inngest/functions/aggregate-workspace-metrics.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Throw on webhook timestamp update failures
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Implement webhook priority system for GitHub App data fetching (#969)
  app/webhooks/__tests__/pull-request.test.ts
  app/webhooks/installation.ts
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
  docs/data-fetching/manual-repository-tracking.md
  docs/data-fetching/webhook-priority-system.md
  src/lib/progressive-capture/queue-manager.ts
  supabase/migrations/20251005000000_webhook_priority_system.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(continue-review): prevent truncation warnings in reviews
  actions/continue-review/enhanced-prompt-generator.ts
  actions/continue-review/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @actions/github from 6.0.0 to 6.0.1 (#961)
  actions/continue-docs-review/index.ts
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Improve CODEOWNERS 404 error handling with friendly UX
  netlify/functions/__tests__/api-codeowners.test.ts
  netlify/functions/api-codeowners.mts
  src/components/features/workspace/reviewer-suggestions/ReviewerSuggestionsModal.tsx
  src/components/ui/empty-state.stories.tsx
  src/components/ui/empty-state.tsx
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Replace non-existent Folder icon with File icon in EmptyState story
  src/components/ui/empty-state.stories.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Handle 404 gracefully when repository isn't tracked
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Improve CODEOWNERS 404 error handling with friendly UX (#972)
  netlify/functions/__tests__/api-codeowners.test.ts
  netlify/functions/api-codeowners.mts
  src/components/features/workspace/reviewer-suggestions/ReviewerSuggestionsModal.tsx
  src/components/ui/empty-state.stories.tsx
  src/components/ui/empty-state.tsx
  src/services/reviewer-suggestions.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add notification system for async operations
  src/components/common/layout/layout.tsx
  src/components/notifications/index.ts
  src/components/notifications/notification-dropdown.tsx
  src/components/notifications/notification-item.tsx
  src/components/notifications/notifications-list.tsx
  src/hooks/use-notifications.ts
  src/hooks/use-repository-tracking.ts
  src/lib/notifications/index.ts
  src/lib/notifications/notification.service.ts
  src/lib/notifications/types.ts
  supabase/migrations/20251006000000_notifications_table.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Only activate notifications when user is logged in
  src/hooks/use-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Improve notification UX when empty
  src/components/notifications/notification-dropdown.tsx
  src/hooks/use-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Resolve notification system issues
  src/components/notifications/notification-dropdown.tsx
  src/hooks/use-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(docs-review): detect and suggest missing documentation
  actions/continue-docs-review/README.md
  actions/continue-docs-review/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add comprehensive notification system documentation
  docs/features/notification-system.md
Due: none

feat: Add notification system for async operations (#973)
  docs/features/notification-system.md
  src/components/common/layout/layout.tsx
  src/components/notifications/index.ts
  src/components/notifications/notification-dropdown.tsx
  src/components/notifications/notification-item.tsx
  src/components/notifications/notifications-list.tsx
  src/hooks/use-notifications.ts
  src/hooks/use-repository-tracking.ts
  src/lib/notifications/index.ts
  src/lib/notifications/notification.service.ts
  src/lib/notifications/types.ts
  supabase/migrations/20251006000000_notifications_table.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add documentation link, changelog sidebar, and redirect
  mintlify-docs/docs.json
  netlify.toml
Due: prettier --write

fix(billing): display three plan cards side-by-side on medium+ screens
  src/pages/billing/BillingDashboard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
