Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

feat: Add minimal inngest-sync endpoint (#757)
  netlify.toml
  netlify/functions/inngest-sync.mts
Due: none

fix: implement proper Inngest SDK serve endpoint for sync
  netlify/functions/inngest-sync.mts
Due: none

fix: implement proper Inngest SDK serve endpoint for sync (#758)
  netlify/functions/inngest-sync.mts
Due: none

fix: remove custom handler that interferes with Inngest SDK
  netlify/functions/inngest-sync.mts
Due: none

fix: remove custom handler blocking Inngest SDK sync operations
  netlify/functions/inngest-sync.mts
Due: none

fix: remove custom handler blocking Inngest SDK sync operations (#760)
  netlify/functions/inngest-sync.mts
Due: none

fix: Add proper Netlify wrapper and update Inngest to latest version
  netlify/functions/inngest-sync.mts
  package-lock.json
  package.json
Due: prettier --write

fix: Remove unused @inngest/agent-kit dependency
  package-lock.json
  package.json
Due: prettier --write

Fix Inngest sync endpoint with proper Netlify wrapper and updates (#761)
  netlify/functions/inngest-sync.mts
  package-lock.json
  package.json
Due: prettier --write

WIP: Unify Inngest client configuration
  netlify/functions/inngest-local-full.mts
  src/lib/inngest/client-config.ts
  src/lib/inngest/client.ts
  src/lib/inngest/functions/factory.ts
  tasks/prd-inngest-unified-client.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Update workspace navigation to use slugs instead of IDs
  src/components/features/contributor/contributor-of-month-wrapper.tsx
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/WorkspacePreviewCard.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
  src/pages/billing/BillingDashboard.tsx
  src/pages/workspace-new-page.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add manual workspace sync button for activity data
  src/components/features/workspace/WorkspaceSyncButton.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add robust slug fallback handling for workspace navigation
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/lib/workspace-utils.ts
  src/pages/invitation-acceptance-page.tsx
  src/pages/workspace-new-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add PR review status chart component
  src/components/features/workspace/charts/PRReviewStatusChart-lazy.tsx
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: improve PR review status and distribution charts UI
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: implement proper filtering for PR review status dropdown
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add open PR filter to reviewer distribution avatar links
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: scope GitHub avatar links to specific repository
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

revert: restore GitHub-wide PR search for avatar links
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove non-functional dropdown from PR Review Status chart
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add robust workspace slug fallback mechanisms
  src/components/features/contributor/contributor-of-month-wrapper.tsx
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
  src/lib/utils/workspace-routes.ts
  src/pages/billing/BillingDashboard.tsx
  src/pages/invitation-acceptance-page.tsx
  src/pages/workspace-new-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: enhance PR Review Status chart type safety and data validation
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
  src/lib/utils/pr-review-status.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: align reviewer charts to show only open PRs and remove 'Needs Reviewer'
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/lib/utils/pr-review-status.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add requested reviewer tracking for PR Review Distribution chart
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/lib/sync-pr-reviewers.ts
  src/pages/workspace-page.tsx
  supabase/functions/sync-pr-reviewers/index.ts
  supabase/migrations/20250122000000_add_requested_reviewers.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement on-demand sync for requested reviewers data
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add missing required fields to reviews query
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address all review issues from PR #766
  src/components/features/workspace/charts/PRReviewStatusChart-lazy.tsx
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve PR charts display and functionality
  src/components/features/workspace/charts/PRAuthorStatusChart-lazy.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart.tsx
  src/components/features/workspace/charts/PRReviewStatusChart-lazy.tsx
  src/components/features/workspace/charts/PRReviewStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address critical PR review issues and improve UI
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/features/workspace/charts/AssigneeDistributionChart-lazy.tsx
  src/components/features/workspace/charts/AssigneeDistributionChart.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart-lazy.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart-lazy.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add fallback pattern to workspace preview card navigation
  src/components/features/workspace/WorkspacePreviewCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: improve PR review status and distribution charts UI (#766)
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/features/workspace/charts/AssigneeDistributionChart-lazy.tsx
  src/components/features/workspace/charts/AssigneeDistributionChart.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart-lazy.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart-lazy.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/lib/sync-pr-reviewers.ts
  src/lib/utils/pr-review-status.ts
  src/pages/workspace-page.tsx
  supabase/functions/sync-pr-reviewers/index.ts
  supabase/migrations/20250122000000_add_requested_reviewers.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Update workspace navigation to use slugs instead of IDs (#763)
  src/components/features/contributor/contributor-of-month-wrapper.tsx
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/WorkspacePreviewCard.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
  src/lib/utils/workspace-routes.ts
  src/lib/workspace-utils.ts
  src/pages/billing/BillingDashboard.tsx
  src/pages/invitation-acceptance-page.tsx
  src/pages/workspace-new-page.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace window.location.reload with proper data refetch in workspace sync
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace window.location.reload with proper data refetch in workspace sync (#767)
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add manual sync button for stale workspace activity data (#764)
  src/components/features/workspace/WorkspaceSyncButton.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add repository_full_name column to pull_requests table
  supabase/migrations/20250122001000_add_repository_full_name_to_pull_requests.sql
Due: none

fix: add NOT NULL constraint to repository_full_name column
  supabase/migrations/20250122001000_add_repository_full_name_to_pull_requests.sql
Due: none

Fix: Add repository_full_name column to pull_requests table (#768)
  supabase/migrations/20250122001000_add_repository_full_name_to_pull_requests.sql
Due: none

docs: Comprehensive documentation cleanup and organization (#769)
  scripts/README.md
  scripts/changelog/README.md
  scripts/docs/README.md
Due: none

fix: resolve Inngest local development issues
  netlify/functions/inngest-local-full.mts
  scripts/test-inngest-events.js
  scripts/test-inngest-local-setup.js
  src/lib/inngest/client-config.ts
  src/lib/inngest/functions/factory.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
