Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

fix: complete N+1 contributor roles implementation
  src/components/features/activity/pr-activity-filtered.tsx
  src/components/features/activity/pr-activity.tsx
  src/hooks/useContributorRoles.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve TypeScript types and linting compliance
  .claude/ralph-loop.local.md
  netlify/edge-functions/_shared/supabase.ts
  netlify/functions/lib/__tests__/server-tracking.test.ts
  netlify/functions/polar-cancel.ts
  netlify/functions/polar-checkout.ts
  scripts/data-sync/refresh-self-selection-data.ts
  scripts/utilities/verify-embeddings.ts
  src/__mocks__/@nivo/scatterplot.tsx
  src/__mocks__/@react-spring/web.ts
  src/__mocks__/d3-interpolate.ts
  src/__mocks__/isolated-setup.ts
  src/__mocks__/lucide-react.tsx
  src/__mocks__/minimal-setup.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve type safety in setup.backup.ts mock
  .claude/ralph-loop.local.md
  src/__mocks__/setup.backup.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: suppress react-refresh warnings for utility exports in production code
  .claude/ralph-loop.local.md
  src/components/common/OfflineNotification.tsx
  src/components/common/theming/theme-provider.tsx
  src/components/features/auth/admin-route.tsx
  src/components/ui/role-badge.tsx
  src/components/ui/svg-sprite-loader.tsx
  src/lib/feature-flags/monitoring.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Stop: Production code linting complete - all errors fixed
  .claude/ralph-loop.local.md
Due: none

fix: remove css containment and will-change causing performance issues
  index.html
Due: npm run verify:csp

Optimize LCP: Reduce render delay from 4.5s to <1s (#1500)
  index.html
  src/App.tsx
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

Notes added by 'git notes add'
  ef/b86c2cadc97545857b835f93ab173e07306308
Due: none

chore(release): 4.21.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor(ui): create Kbd component and replace inline kbd elements in CommandPalette
  .playwright-mcp/contributor-info-home.png
  .playwright-mcp/demo-workspace-desktop.png
  .playwright-mcp/demo-workspace-mobile-activity.png
  .playwright-mcp/demo-workspace-wide-desktop.png
  .playwright-mcp/github-issue-690.png
  .playwright-mcp/inngest-functions-page.png
  .playwright-mcp/lottery-factor-chart.png
  .playwright-mcp/mobile-contributors-fixed.png
  .playwright-mcp/mobile-issues-fixed.png
  .playwright-mcp/mobile-prs-fixed.png
  .playwright-mcp/mobile-prs-issue.png
  .playwright-mcp/mobile-prs-single-column.png
  .playwright-mcp/my-work-test-results.png
  .playwright-mcp/page-2025-10-06T14-32-08-093Z.png
  .playwright-mcp/page-2025-10-06T14-33-16-501Z.png
  .playwright-mcp/page-2025-10-15T15-23-31-512Z.png
  .playwright-mcp/page-2025-10-15T15-24-48-319Z.png
  .playwright-mcp/page-2025-10-27T21-00-19-973Z.png
  .playwright-mcp/page-2025-10-27T21-00-49-556Z.png
  .playwright-mcp/page-2025-10-27T21-01-03-921Z.png
  .playwright-mcp/page-2025-10-27T21-01-27-320Z.png
  .playwright-mcp/page-2025-12-09T21-04-38-627Z.png
  .playwright-mcp/page-2025-12-19T20-35-02-317Z.png
  .playwright-mcp/page-2025-12-19T20-53-02-841Z.png
  .playwright-mcp/workspace-issues-initial.png
  .playwright-mcp/workspaces-page-issue.png
  src/components/navigation/CommandPalette.tsx
  src/components/ui/kbd.test.tsx
  src/components/ui/kbd.tsx
  supabase/.branches/_current_branch
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.22.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b2/1d49b0c9b1e386ecad6e17def7e44a0cf44c4f
Due: none

ui(kbd): remove redundant ref prop and opacity-100; align with review feedback (#1505)
  src/components/ui/kbd.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(kbd): replace inline kbd with Kbd component in CommandPalette actions
  src/components/navigation/CommandPalette.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: fix duplicate palette.md case-sensitivity issue
  .jules/palette.md
Due: none

fix: package.json & pnpm-lock.yaml to reduce vulnerabilities (#1496)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 4.22.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c5/e9109f18f74a008bb3fdc92839c3a7ab140336
Due: none

ci: add reopened and synchronize triggers to continue agents workflow
  .github/workflows/run-agents.yml
Due: prettier --write

ci: add permissions for continue agents workflow
  .github/workflows/run-agents.yml
Due: prettier --write

add reopened and synchronize triggers to continue agents workflow (#1510)
  .github/workflows/run-agents.yml
Due: prettier --write

ci: replace reusable workflow with local copy including GH_TOKEN fix
  .github/workflows/continue-agents.yml
  .github/workflows/run-agents.yml
Due: prettier --write

ci: replace reusable workflow with local copy including GH_TOKEN fix (#1513)
  .github/workflows/continue-agents.yml
  .github/workflows/run-agents.yml
Due: prettier --write

Add test comment to README
  README.md
Due: none

Add testing comment to README.md
  README.md
Due: none

docs: restore sentinel journal header and improve formatting
  .jules/sentinel.md
Due: none

Add testing comment in README.md
  README.md
Due: none

fix: consolidate duplicate sanitizeUrl and add XSS tests
  .jules/sentinel.md
  src/lib/validation/__tests__/validation-integration.test.ts
  src/lib/validation/validation-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.22.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  38/67683f0f9cca8cde953273405871dfd6ddf8d8
Due: none

chore(release): 4.23.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  65/efb74142c5cefab75fc8b6cd03274741eb5b78
Due: none

docs: recommend Continue reusable workflow with GH_TOKEN support
  .github/workflows/continue-agents.yml
  docs/continue-agents-setup.md
Due: prettier --write

Apply suggestion from @cubic-dev-ai[bot]
  src/components/ui/card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.23.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f6/ce8f99ba1fe1a632588d28257a8329611508de
Due: none

chore(release): 4.24.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
