Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: Add error handling to capture Continue CLI failures
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

fix: Remove interactive config loading for headless mode
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

feat: Add PostHog and GitHub credentials to workflow
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

fix: Add config flag to cn command
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

feat: Use npx and add Anthropic API key
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

fix: Simplify command and remove Anthropic key
  .github/workflows/posthog-session-analysis.yml
Due: prettier --write

feat: Add Snyk security scan workflow with Continue AI
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

feat: Add Snyk security scan workflow with Continue AI (#858)
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

fix: Remove explicit snyk auth command
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

feat: Add Continue review-bot config for Snyk analysis
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

feat: Update to bdougie-test org and review-bot config
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

fix: Fix auth.users query in workspace invitation email
  supabase/functions/workspace-invitation-email/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Configure workspace invitation email system (#860)
  supabase/functions/workspace-invitation-email/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add RLS policy testing documentation
  supabase/migrations/20240614000001_apply_rls_policies.sql
  supabase/tests/README.md
  supabase/tests/rls-policies.test.sql
Due: none

docs: Add RLS policy testing documentation (#861)
  supabase/migrations/20240614000001_apply_rls_policies.sql
  supabase/tests/README.md
  supabase/tests/rls-policies.test.sql
Due: none

feat: Add webhook-based continue-review handler
  fly-github-webhooks/README-CONTINUE-REVIEW.md
  fly-github-webhooks/src/handlers/continue-review.js
  fly-github-webhooks/src/server.js
  package.json
  tasks/prd-webhook-continue-review.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Continue CLI to webhook server dependencies
  fly-github-webhooks/package.json
Due: prettier --write

docs: Add Continue AI configuration to .env.example
  fly-github-webhooks/.env.example
Due: none

chore: Update package-lock.json with Continue CLI dependency
  fly-github-webhooks/package-lock.json
Due: prettier --write

fix: Update Dockerfile and fly.toml to build from repo root context
  fly-github-webhooks/Dockerfile
  fly-github-webhooks/fly.toml
Due: none

chore: Simplify fly.toml build configuration
  fly-github-webhooks/fly.toml
Due: none

chore: Update package-lock.json with express types
  package-lock.json
  scripts/webhook/dev-server.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Address continue-agent review feedback
  fly-github-webhooks/.env.example
  fly-github-webhooks/package-lock.json
  fly-github-webhooks/package.json
Due: prettier --write

docs: Add custom CONTINUE_CONFIG setup instructions
  fly-github-webhooks/README-CONTINUE-REVIEW.md
Due: none

docs: Clarify centralized GitHub App architecture
  fly-github-webhooks/README-CONTINUE-REVIEW.md
Due: none

fix(email): correct workspace invitation URL format in emails
  e2e/workspace-invitation.spec.ts
  public/_headers
  src/pages/invitation-acceptance-page.tsx
  supabase/functions/__tests__/workspace-invitation-email.test.ts
  supabase/functions/workspace-invitation-email/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

feat: Change mention trigger from @continue-agent to @contributor-info
  fly-github-webhooks/README-CONTINUE-REVIEW.md
  fly-github-webhooks/src/handlers/continue-review.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address cubic-dev-ai review feedback
  actions/continue-review/index.ts
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/hooks/useWorkspaceContributors.ts
  src/lib/email/workspace-invitation-email.test.ts
  src/pages/invitation-acceptance-page.tsx
  supabase/functions/__tests__/workspace-invitation-email.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use correct CSP hash for CI compatibility
  public/_headers
Due: npm run verify:csp

revert: Change mention trigger back to @continue-agent
  fly-github-webhooks/README-CONTINUE-REVIEW.md
  fly-github-webhooks/src/handlers/continue-review.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Reply to @continue-agent mentions with new comments
  fly-github-webhooks/src/handlers/continue-review.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Migrate GitHub Action features to webhook handler and fix security issues
  .github/workflows/continue-review.yml
  docs/github-app/action-vs-webhook-comparison.md
  fly-github-webhooks/package-lock.json
  fly-github-webhooks/package.json
  fly-github-webhooks/src/handlers/continue-review.js
  fly-github-webhooks/src/lib/codebase-analyzer.js
  fly-github-webhooks/src/lib/enhanced-prompt-generator.js
  fly-github-webhooks/src/lib/review-metrics.js
  fly-github-webhooks/src/server.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: Remove deprecated GitHub Action continue-review
  .github/workflows/continue-review.yml
  actions/continue-review/.gitignore
  actions/continue-review/APP_SETUP_GUIDE.md
  actions/continue-review/ENHANCED_REVIEW_IMPLEMENTATION.md
  actions/continue-review/HOW_IT_WORKS.md
  actions/continue-review/README.md
  actions/continue-review/SECURE_AUTH_GUIDE.md
  actions/continue-review/action.yml
  actions/continue-review/codebase-analyzer.ts
  actions/continue-review/enhanced-prompt-generator.ts
  actions/continue-review/examples/basic-workflow.yml
  actions/continue-review/examples/secure-app-workflow.yml
  actions/continue-review/github-app-auth.ts
  actions/continue-review/index.ts
  actions/continue-review/package.json
  actions/continue-review/review-metrics.ts
  actions/continue-review/tsconfig.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Modernize Snyk security workflow with Continue CLI
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

fix: Add error handling for scan results file
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

fix: Use env variable for Continue API key
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

feat: Add real-time output visibility for security scans
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

refactor: Simplify prompt to skip auth checks
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

fix: Add SNYK_TOKEN for MCP authentication
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
