Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

perf(bundle): defer PostHog loading to reduce main bundle size
  src/components/ErrorBoundary.tsx
  src/components/error-boundary.tsx
  src/lib/error-tracker.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(typescript): resolve ErrorCategory type vs value usage issue
  src/lib/error-tracker.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: persist social links after fetching from GitHub (#948)
  public/sw-enhanced.js
  src/components/features/workspace/ContributorProfileModal.tsx
  src/hooks/useWorkspaceContributors.ts
  src/services/social-enrichment.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add comprehensive slow network performance testing
  docs/testing/slow-network-testing-guide.md
  package.json
  scripts/performance/test-slow-network.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: make test-slow-network.js executable
  scripts/performance/test-slow-network.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: optimize LCP from 301ms to 262ms by deferring non-critical JavaScript
  index.html
  src/App.tsx
  src/lib/posthog-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: restore 500ms fallback timeout for progressive features
  src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: reduce requestIdleCallback timeout from 5s to 1s for progressive features
  src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Performance: Optimize LCP from 301ms to 262ms (#953)
  index.html
  src/App.tsx
  src/lib/posthog-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix(types): replace all 'any' types with proper TypeScript types in production code
  src/components/features/activity/contributions.tsx
  src/components/features/auth/test-insights.tsx
  src/components/features/contributor/contributor-of-the-month-simple.tsx
  src/components/features/debug/analytics-dashboard.tsx
  src/components/features/repository/progressive-repo-view.tsx
  src/components/features/repository/repo-stats-summary.tsx
  src/components/features/repository/repository-summary-card.tsx
  src/hooks/use-admin-auth.ts
  src/hooks/use-cached-github-api.ts
  src/hooks/use-github-organizations.ts
  src/hooks/use-progressive-repo-data-with-error-boundaries.ts
  src/hooks/use-repository-summary.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(types): resolve TypeScript compilation errors
  src/components/features/activity/contributions.tsx
  src/components/features/auth/test-insights.tsx
  src/components/features/repository/progressive-repo-view.tsx
  src/components/features/repository/repo-stats-summary.tsx
  src/hooks/use-admin-auth.ts
  src/hooks/use-cached-github-api.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: disable source maps in production to reduce bundle size
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(syntax): correct JSX closing in progressive-repo-view
  src/components/features/repository/progressive-repo-view.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(types): resolve ReactNode and null assignment errors
  src/components/features/auth/test-insights.tsx
  src/hooks/use-cached-github-api.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Mintlify documentation setup for issue #406
  IMPLEMENTATION_GUIDE.md
  mintlify-docs/README.md
  mintlify-docs/docs.json
  mintlify-docs/features/activity-feed.mdx
  mintlify-docs/features/authentication.mdx
  mintlify-docs/features/contribution-analytics.mdx
  mintlify-docs/features/contributor-confidence.mdx
  mintlify-docs/features/contributor-of-month.mdx
  mintlify-docs/features/distribution-charts.mdx
  mintlify-docs/features/github-app-setup.mdx
  mintlify-docs/features/hover-cards.mdx
  mintlify-docs/features/lottery-factor.mdx
  mintlify-docs/features/repository-health.mdx
  mintlify-docs/features/repository-search.mdx
  mintlify-docs/insights/needs-attention.mdx
  mintlify-docs/insights/pr-activity.mdx
  mintlify-docs/insights/recommendations.mdx
  mintlify-docs/insights/repository-health.mdx
  mintlify-docs/introduction.mdx
Due: prettier --write

feat: update Mintlify navigation to match current docs structure
  mintlify-docs/docs.json
  mintlify-docs/introduction.mdx
Due: prettier --write

feat: use text logo instead of image logo
  mintlify-docs/docs.json
Due: prettier --write

feat: add favicon from main app (SVG)
  mintlify-docs/docs.json
  mintlify-docs/favicon.svg
Due: prettier --write

feat: change Support to Discussions with GitHub icon
  mintlify-docs/docs.json
Due: prettier --write

feat: customize Mintlify docs theme to match main app
  mintlify-docs/custom.css
  mintlify-docs/docs.json
  mintlify-docs/favicon.ico
  mintlify-docs/features/github-app-setup.mdx
Due: prettier --write

feat: migrate docs to Mintlify and improve styling
  .github/workflows/release.yml
  mintlify-docs/changelog.mdx
  mintlify-docs/custom.css
  mintlify-docs/docs.json
  public/docs/README.md
  public/docs/contributor-confidence-guide.md
  public/docs/feature-activity-feed.md
  public/docs/feature-authentication.md
  public/docs/feature-contribution-analytics.md
  public/docs/feature-contributor-of-month.md
  public/docs/feature-distribution-charts.md
  public/docs/feature-hover-cards.md
  public/docs/feature-lottery-factor.md
  public/docs/feature-repository-health.md
  public/docs/feature-repository-search.md
  public/docs/feature-trending-repositories.md
  public/docs/github-app-setup.md
  public/docs/insight-needs-attention.md
  public/docs/insight-pr-activity.md
  public/docs/insight-recommendations.md
  public/docs/insight-repository-health.md
Due: prettier --write

feat: migrate docs to Mintlify and add redirect
  netlify.toml
  src/App.tsx
  src/components/features/docs/doc-detail.tsx
  src/components/features/docs/docs-list.tsx
  src/components/features/docs/docs-loader.ts
  src/components/features/docs/docs-navigation.tsx
  src/components/features/docs/docs-page-optimized.tsx
  src/components/features/docs/docs-page.tsx
  src/components/features/docs/docs-seo.tsx
  src/components/features/docs/docs-sidebar.tsx
  src/components/features/docs/docs-toc.tsx
  src/components/features/docs/index.ts
  src/lib/route-prefetch.ts
  src/lib/service-worker-client.test.ts
  src/lib/service-worker-client.ts
  src/main.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: remove IMPLEMENTATION_GUIDE.md
  IMPLEMENTATION_GUIDE.md
Due: none

docs: mark old docs PRDs as obsolete after Mintlify migration
  docs/product-requirements/documentation-images-execution-plan.md
  docs/product-requirements/prd-user-docs-images.md
Due: none

feat: update docs redirect to Mintlify deployment URL
  netlify.toml
Due: none

fix: return promise assertions in service worker tests
  src/lib/service-worker-client.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve CI test failures by using synchronous mocking
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/llm/__tests__/llm-service.test.ts
  src/lib/service-worker-client.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(docs): fix MDX syntax errors and broken links in Mintlify docs
  mintlify-docs/features/github-app-setup.mdx
Due: none

fix(docs): change footer to footerLinks in docs.json
  mintlify-docs/docs.json
Due: prettier --write

feat: implement historical star tracking for workspace metrics (#660)
  src/services/workspace-aggregation.service.ts
  tasks/prd-activity-feed-improvements.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Phase 2 activity feed improvements - caching, validation, pagination (#660)
  package-lock.json
  package.json
  src/hooks/use-workspace-events.ts
  src/lib/event-validation.ts
  src/main.tsx
  src/services/workspace-events.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Phase 3 activity feed optimizations - rate limiting and error boundaries (#661)
  src/components/features/workspace/ActivityItemErrorBoundary.tsx
  src/lib/rate-limiter.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Integrate event-based star trends and fix security issue
  src/pages/workspace-page.tsx
  src/services/workspace-events.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Use workspace UUID instead of slug for event metrics hook
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: replace star count with velocity metric and fix trend calculation
  src/components/features/workspace/MetricCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/pages/workspace-page.tsx
  src/services/workspace-events.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Update tasks/prd-activity-feed-improvements.md
  tasks/prd-activity-feed-improvements.md
Due: none

fix: Use count instead of data length for Supabase head queries
  src/services/workspace-aggregation.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: replace star count with velocity metric and fix trend calculation (#958)
  package-lock.json
  package.json
  src/components/features/workspace/ActivityItemErrorBoundary.tsx
  src/components/features/workspace/MetricCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/use-workspace-events.ts
  src/lib/event-validation.ts
  src/lib/rate-limiter.ts
  src/main.tsx
  src/pages/workspace-page.tsx
  src/services/workspace-aggregation.service.ts
  src/services/workspace-events.service.ts
  tasks/prd-activity-feed-improvements.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @actions/core from 1.10.1 to 1.11.1
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: prettier --write
