Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: remove duplicate Suspense fallback to prevent layout shift
  src/components/features/repository/repo-view.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent duplicate PostHog and Sentry SDK initializations
  src/lib/posthog-lazy.ts
  src/lib/sentry-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: simplify skeleton to minimal height placeholder
  src/components/features/activity/contributions-wrapper.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: match skeleton height to actual chart dimensions
  src/components/features/activity/contributions-wrapper.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use static search section instead of skeleton
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: pixel-perfect skeleton matching for zero CLS
  src/App.tsx
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update skeleton test to match refactored class name
  src/components/skeletons/__tests__/skeleton-components.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add skeleton loader for Contributor Distribution chart (#1602)
  src/App.tsx
  src/components/features/activity/contributions-wrapper.tsx
  src/components/features/repository/repo-view.tsx
  src/components/skeletons/__tests__/skeleton-components.test.tsx
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.31.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  34/c593cbc0266bb91543773dbab7d93bbfd2d737
Due: none

fix: address PR review issues for SDK initialization guards
  src/lib/posthog-lazy.ts
  src/lib/sentry-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: defer SDK initialization logging to avoid blocking critical path
  src/lib/posthog-lazy.ts
  src/lib/sentry-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent duplicate PostHog and Sentry SDK initializations (#1603)
  src/lib/posthog-lazy.ts
  src/lib/sentry-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.31.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2e/1d0e53b761a0123768e3d08a36181ccd171455
Due: none

fix: prevent RLS policy error spam for unauthenticated users
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/lib/progressive-capture/smart-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use exponential backoff instead of permanent block for failed auto-fix
  src/lib/progressive-capture/smart-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent RLS policy error spam for unauthenticated users (#1605)
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/lib/progressive-capture/smart-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  aa/86ab5365d410f35984d53b3e322d2610494391
Due: none

chore(release): 4.31.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: use case-insensitive matching and non-mutating sort in ActivityTable
  src/components/features/workspace/ActivityTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.32.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bd/4fef870116ab4b45bc9f3e9fdde61736bfeafd
Due: none

fix(a11y): add aria-hidden to decorative SVG icons
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/workspace/ContributorProfileModal.tsx
  src/components/features/workspace/WorkspaceMetricsAndTrends.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add defensive fallback for useParams in RepoViewSkeleton
  bun.lock
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): add aria-hidden to decorative SVG icons (#1606)
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/workspace/ContributorProfileModal.tsx
  src/components/features/workspace/WorkspaceMetricsAndTrends.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.32.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4d/2005cfb3751abe5af9628bab7630e28d35ffc4
Due: none

fix: add defensive fallback for useParams in RepoViewSkeleton (#1607)
  bun.lock
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.32.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4e/546548a25e86551a2524544320a9eba8dad74a
Due: none

docs: add Netlify performance audit for PR #1610
  NETLIFY_PERFORMANCE_AUDIT_PR1610.md
Due: none

fix: move test file out of Netlify functions root directory
  netlify/functions/__tests__/api-track-repository.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: use static import for @supabase/supabase-js
  netlify/functions/api-track-repository.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.33.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a0/5ed8f02141d3b044de2cdcd86d926bc2cb3169
Due: none

docs: add performance audit report for PR #1620
  .continue/performance-audit-pr-1620.md
Due: none

docs: add comprehensive performance audit analysis for PR #1620
  .continue/performance-audit-pr-1620-detailed.md
Due: none

fix(a11y): make overflow indicator focusable for keyboard users
  src/components/features/workspace/WorkspaceIssuesTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(nav): modernize navigation menu with accessibility improvements
  src/components/common/layout/layout.tsx
  src/components/common/layout/navigation-overlay.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
