Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --cache --max-warnings=0", "prettier --write"],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"]
}

Re-enable tree shaking in Storybook after nested ternary refactoring (#612)
  .storybook/main.ts
  docs/performance/TREE_SHAKING_RE_ENABLED_2025.md
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: update type signatures to match actual metric interfaces
  src/components/insights/sections/recommendations.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: implement PostHog LLM analytics for OpenAI features (#606)
  .env.example
  docs/features/posthog-llm-analytics.md
  src/components/insights/sections/recommendations.tsx
  src/lib/llm/__tests__/llm-service.test.ts
  src/lib/llm/llm-service.ts
  src/lib/llm/posthog-openai-service.ts
  src/types/posthog.d.ts
  supabase/functions/insights/index.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: implement secure GitHub App checks for fork PRs
  .env.example
  .github/workflows/performance-monitoring.yml
  .github/workflows/similarity-check.yml
  app/config/app.ts
  docs/features/github-app-fork-pr-checks.md
  fly-github-webhooks/.env.example
  fly-github-webhooks/src/handlers/pr-check-runs.js
  fly-github-webhooks/src/server.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: restrict performance monitoring workflow to main repository only
  .github/workflows/performance-monitoring.yml
Due: prettier --write

feat: optimize tree shaking configuration for better bundle size (#614)
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: optimize tree shaking configuration for better bundle size (#615)
  docs/performance/TREE_SHAKING_OPTIMIZATION_SUCCESS_2025.md
Due: none

feat: implement comprehensive code-splitting strategy for bundle optimization (#616)
  docs/performance/code-splitting-patterns.md
  src/App.tsx
  src/components/embeddable-widgets/WidgetGallerySkeleton.tsx
  src/components/embeddable-widgets/widget-gallery-lazy.tsx
  src/components/navigation/CommandPalette-lazy.tsx
  src/components/navigation/CommandPaletteSkeleton.tsx
  src/components/performance-monitoring-dashboard-lazy.tsx
  src/components/ui/charts/UPlotChart-lazy.tsx
  src/pages/org-view-lazy.tsx
  src/pages/widgets.tsx
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: remove duplicate similarity and performance monitoring workflows
  .github/workflows/performance-monitoring.yml
  .github/workflows/similarity-check.yml
Due: prettier --write

feat: Implement secure GitHub App checks for fork PRs (#613)
  .env.example
  .github/workflows/performance-monitoring.yml
  .github/workflows/similarity-check.yml
  app/config/app.ts
  docs/features/github-app-fork-pr-checks.md
  fly-github-webhooks/.env.example
  fly-github-webhooks/src/handlers/pr-check-runs.js
  fly-github-webhooks/src/server.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: add missing useAnalytics hook implementation
  src/hooks/useAnalytics.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: enhance Continue review to be more critical and context-aware
  .continue/rules/critical-code-review.md
  .continue/rules/evidence-based-review.md
  .continue/rules/understand-context-first.md
  actions/continue-review/index.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: restore performance monitoring workflow
  .github/workflows/performance-monitoring.yml
Due: prettier --write

refactor: simplify Continue review rules to be more balanced
  .continue/rules/context-aware-review.md
  .continue/rules/critical-code-review.md
  .continue/rules/evidence-based-review.md
  .continue/rules/understand-context-first.md
  actions/continue-review/index.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: address high and medium priority issues from code review
  src/components/analytics/AnalyticsErrorBoundary.tsx
  src/components/analytics/__tests__/AnalyticsErrorBoundary.test.tsx
  src/components/features/auth/login-page.tsx
  src/hooks/__tests__/useAnalytics.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: enhance Continue review to be more critical and context-aware (#618)
  .continue/rules/context-aware-review.md
  actions/continue-review/index.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: address Cubic review comments on analytics implementation
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/hooks/__tests__/useAnalytics.test.ts
  src/hooks/use-analytics.ts
  src/hooks/useAnalytics.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: resolve CI test failures for analytics implementation
  html/html.meta.json.gz
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/analytics/AnalyticsErrorBoundary.tsx
  src/components/analytics/__tests__/AnalyticsErrorBoundary.test.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: implement phase 2 strategic event tracking for user journey insights (#617)
  .github/workflows/performance-monitoring.yml
  html/html.meta.json.gz
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/analytics/AnalyticsErrorBoundary.tsx
  src/components/analytics/__tests__/AnalyticsErrorBoundary.test.tsx
  src/components/common/layout/home.tsx
  src/components/common/layout/not-found.tsx
  src/components/features/auth/login-page.tsx
  src/components/features/repository/repo-view.tsx
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/ui/github-search-input.tsx
  src/hooks/__tests__/useAnalytics.test.ts
  src/hooks/use-analytics.ts
  src/hooks/useAnalytics.ts
  src/pages/trending.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: address critical race conditions and improve reliability in start-local-supabase script
  .gitignore
  scripts/setup/start-local-supabase.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

chore(dev): skip auto-seed during supabase:start; add helper script (#576)
  .github/copilot-instructions.md
  .gitignore
  package.json
  scripts/setup/start-local-supabase.js
  supabase/.temp/cli-latest
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: address critical race conditions in start-local-supabase script
  .gitignore
  REVIEW_IMPROVEMENTS.md
  scripts/setup/start-local-supabase-improved.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: add secure pull_request_target workflow for fork PR support
  .github/workflows/compliance-secure.yml
  docs/security/pull-request-target-migration.md
Due: prettier --write

Delete REVIEW_IMPROVEMENTS.md
  REVIEW_IMPROVEMENTS.md
Due: none

chore: remove unrelated REVIEW_IMPROVEMENTS.md from PR
  REVIEW_IMPROVEMENTS.md
Due: none

fix: critical race condition fixes for start-local-supabase script (#619)
  .gitignore
  scripts/setup/start-local-supabase-improved.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: migrate PR compliance to secure pull_request_target event (#620)
  .github/workflows/compliance-secure.yml
  docs/security/pull-request-target-migration.md
Due: prettier --write
