Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: card endpoint routing and preview-testable og:image origins
  netlify.toml
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/ssr-home.ts
  netlify/edge-functions/ssr-profile.ts
  netlify/edge-functions/ssr-repo.ts
  netlify/edge-functions/ssr-workspace-detail.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: load resvg fonts from /tmp files instead of buffers
  netlify/functions/_shared/social-cards/http.ts
  netlify/functions/_shared/social-cards/render.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: derive repo card stats from pull_requests, not a broken embed
  netlify/functions/_shared/social-cards/data.ts
  netlify/functions/_shared/social-cards/http.ts
  netlify/functions/_shared/social-cards/social-cards.test.ts
  netlify/functions/social-cards.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: real contributor avatars on repo cards
  netlify/functions/_shared/social-cards/avatars.ts
  netlify/functions/_shared/social-cards/card-generator.ts
  netlify/functions/_shared/social-cards/data.ts
  netlify/functions/_shared/social-cards/social-cards.test.ts
  netlify/functions/social-cards.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: card version header to force cache refresh on bump
  netlify/functions/_shared/social-cards/http.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: self-healing cache for degraded card renders + avatar observability
  netlify/functions/_shared/social-cards/http.ts
  netlify/functions/_shared/social-cards/social-cards.test.ts
  netlify/functions/social-cards.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: fall back to github.com/{username}.png when avatar_url is unpopulated
  netlify/functions/_shared/social-cards/avatars.ts
  netlify/functions/_shared/social-cards/data.ts
  netlify/functions/_shared/social-cards/http.ts
  netlify/functions/_shared/social-cards/social-cards.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve avatars via the pull_requests contributor embed
  netlify/functions/_shared/social-cards/data.ts
  netlify/functions/_shared/social-cards/http.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: render social cards same-origin with durable CDN caching (#1825)
  .prettierignore
  docs/social-cards.md
  index.html
  netlify.toml
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/social-meta.ts
  netlify/edge-functions/ssr-home.ts
  netlify/edge-functions/ssr-profile.ts
  netlify/edge-functions/ssr-repo.ts
  netlify/edge-functions/ssr-workspace-detail.ts
  netlify/functions/_shared/social-cards/avatars.ts
  netlify/functions/_shared/social-cards/card-generator.ts
  netlify/functions/_shared/social-cards/data.ts
  netlify/functions/_shared/social-cards/font-data.generated.ts
  netlify/functions/_shared/social-cards/http.ts
  netlify/functions/_shared/social-cards/render.ts
  netlify/functions/_shared/social-cards/social-cards.test.ts
  netlify/functions/social-cards.mts
  package-lock.json
  package.json
  scripts/social-cards/README.md
  scripts/social-cards/generate-font-data.mjs
  src/components/common/layout/meta-tags-provider.tsx
  src/components/features/feed/feed-page.tsx
  src/components/social-cards/preview.tsx
  src/lib/social-cards/prewarm.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

chore: remove dead card rendering from the Fly service
  docs/social-cards.md
  fly-social-cards/README.md
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
  fly-social-cards/src/card-generator.js
  fly-social-cards/src/server.js
  fly-social-cards/src/svg-to-png.js
  fly-social-cards/test/server.test.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove dead card rendering from the Fly service (#1826)
  docs/social-cards.md
  fly-social-cards/README.md
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
  fly-social-cards/src/card-generator.js
  fly-social-cards/src/server.js
  fly-social-cards/src/svg-to-png.js
  fly-social-cards/test/server.test.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: drop nonexistent templates dir from Fly Dockerfile
  fly-social-cards/Dockerfile
Due: none

fix: drop nonexistent templates dir from Fly Dockerfile (#1827)
  fly-social-cards/Dockerfile
Due: none

ci: update Fly deploy smoke test for card redirects
  .github/workflows/deploy-social-cards.yml
Due: prettier --write

ci: update Fly deploy smoke test for card redirects (#1828)
  .github/workflows/deploy-social-cards.yml
Due: prettier --write

docs: spec for recent PRs/issues in desktop tray dropdown
  docs/superpowers/specs/2026-07-18-tray-recent-items-design.md
Due: none

feat: recent PRs/issues rows in the desktop tray dropdown
  desktop/.claude/skills/verify/SKILL.md
  desktop/README.md
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/supabase.rs
  docs/features/desktop-tray-app.md
  netlify/functions/__tests__/api-workspace-metrics-recent.test.ts
  netlify/functions/api-workspace-metrics.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: make open PR/issue counts point-in-time, consistent with Recent rows
  docs/features/desktop-tray-app.md
  netlify/functions/__tests__/api-workspace-metrics-recent.test.ts
  netlify/functions/api-workspace-metrics.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): correct billing identity and repository capacity
  src/components/features/workspace/AddRepositoryModal.tsx
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/components/features/workspace/__tests__/AddRepositoryModal.capacity.integration.test.tsx
  src/lib/__tests__/subscription-limits.integration.test.ts
  src/lib/subscription-limits.ts
  src/pages/workspace-new-page.tsx
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
  tasks/evidence/workspace-setup-2026-09-04/deployed-signatures.json
  tasks/evidence/workspace-setup-2026-09-04/new-workspace-mobile.png
  tasks/evidence/workspace-setup-2026-09-04/new-workspace-signed-out.png
  tasks/evidence/workspace-setup-2026-09-04/pcc-labs.png
  tasks/evidence/workspace-setup-2026-09-04/workspace-help.png
  tasks/evidence/workspace-setup-2026-09-04/workspaces-login.png
  tasks/workspace-setup-review-2026-09-04.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test(workspace): cover bulk import capacity and delayed loading
  src/components/features/workspace/__tests__/AddRepositoryModal.capacity.integration.test.tsx
  src/services/__tests__/workspace-bulk-add.test.ts
  tasks/workspace-setup-review-2026-09-04.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(deps): bump sharp to 0.35 and override adm-zip to clear security audit
  package-lock.json
  package.json
Due: prettier --write

fix(dev): allow an explicit API target for local workspace testing
  docs/setup/local-development.md
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test(workspace): restore browser globals between onboarding suites
  src/components/features/sharing/__tests__/shareable-card-link-only.test.tsx
  src/contexts/__tests__/WorkspaceContext.test.tsx
  src/lib/__tests__/posthog-lazy-simple.test.ts
  tasks/workspace-setup-review-2026-09-04.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): preserve onboarding across authentication and creation
  src/components/features/auth/login-page.integration.test.tsx
  src/components/features/auth/login-page.tsx
  src/components/features/workspace/AddRepositoryModal.tsx
  src/components/features/workspace/AddToWorkspaceModal.tsx
  src/components/features/workspace/WorkspaceCreateForm.tsx
  src/components/features/workspace/__tests__/AddRepositoryModal.search.integration.test.tsx
  src/components/features/workspace/__tests__/AddToWorkspaceModal.continuity.integration.test.tsx
  src/components/ui/github-search-input.tsx
  src/hooks/__tests__/use-github-auth.redirect.integration.test.tsx
  src/hooks/use-github-auth.ts
  src/lib/auth/login-redirect.ts
  src/lib/utils/__tests__/workspace-onboarding.test.ts
  src/lib/utils/workspace-onboarding.ts
  src/pages/__tests__/workspace-new-page.integration.test.tsx
  src/pages/workspace-new-page.tsx
  src/pages/workspace-page.tsx
  src/pages/workspaces-page.tsx
  tasks/evidence/workspace-setup-2026-09-04/p2-local-desktop.png
  tasks/evidence/workspace-setup-2026-09-04/p2-local-mobile.png
  tasks/workspace-setup-review-2026-09-04.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): prioritize live GitHub work and pending replies
  docs/authentication/deploy-preview-setup.md
  docs/features/my-work-dashboard.md
  src/components/features/workspace/GitHubMyWorkCard.tsx
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspacePRsTab.tsx
  src/components/features/workspace/__tests__/GitHubMyWorkCard.test.tsx
  src/components/features/workspace/__tests__/MyWorkCard.test.tsx
  src/hooks/__tests__/use-github-auth.redirect.integration.test.tsx
  src/hooks/__tests__/use-github-workspace-work.integration.test.tsx
  src/hooks/__tests__/useWorkspacePRs.integration.test.tsx
  src/hooks/use-github-api.ts
  src/hooks/use-github-auth.ts
  src/hooks/use-github-workspace-work.ts
  src/hooks/use-my-work.ts
  src/hooks/useWorkspaceIssues.ts
  src/hooks/useWorkspacePRs.ts
  src/lib/auth/__tests__/github-session-storage.integration.test.ts
  src/lib/auth/github-session-storage.ts
  src/lib/auth/github-session.ts
  src/lib/supabase.ts
  src/lib/sync-pr-reviewers.ts
  src/lib/sync-workspace-issues.ts
  src/lib/workspace/__tests__/github-my-work.integration.test.ts
  src/lib/workspace/__tests__/github-work-replies.integration.test.ts
  src/lib/workspace/github-my-work.ts
  src/lib/workspace/github-work-replies.ts
  src/pages/workspace-page.tsx
  tasks/workspace-capture-audit-2026-09-04.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): address review findings for live GitHub work
  docs/authentication/deploy-preview-setup.md
  docs/features/my-work-dashboard.md
  src/components/features/workspace/GitHubMyWorkCard.tsx
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/__tests__/GitHubMyWorkCard.test.tsx
  src/components/features/workspace/__tests__/MyWorkCard.test.tsx
  src/hooks/__tests__/use-github-auth.redirect.integration.test.tsx
  src/hooks/__tests__/use-github-workspace-work.integration.test.tsx
  src/hooks/__tests__/useWorkspaceIssues.test.ts
  src/hooks/__tests__/useWorkspacePRs.integration.test.tsx
  src/hooks/use-github-auth.ts
  src/hooks/use-github-workspace-work.ts
  src/hooks/use-my-work.ts
  src/hooks/useWorkspaceIssues.ts
  src/hooks/useWorkspacePRs.ts
  src/lib/auth/github-session.ts
  src/lib/query-client.ts
  src/lib/sync-pr-reviewers.ts
  src/lib/sync-workspace-issues.ts
  src/lib/utils/abort-signal.ts
  src/lib/workspace/__tests__/github-my-work.integration.test.ts
  src/lib/workspace/__tests__/github-work-replies.integration.test.ts
  src/lib/workspace/github-my-work.ts
  src/lib/workspace/github-work-replies.ts
  src/lib/workspace/sync-freshness.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(notifications): add workspace work inbox and responsive navigation
  docs/features/notification-system.md
  scripts/testing-tools/test-work-inbox-migration.sh
  src/components/features/workspace-page/components/WorkspaceTabNavigation.tsx
  src/components/features/workspace-page/components/__tests__/WorkspaceTabNavigation.integration.test.tsx
  src/components/notifications/notification-dropdown.integration.test.tsx
  src/components/notifications/notification-dropdown.tsx
  src/components/notifications/work-inbox-list.tsx
  src/hooks/__tests__/use-notifications.integration.test.tsx
  src/hooks/__tests__/use-work-inbox.integration.test.tsx
  src/hooks/use-notifications.ts
  src/hooks/use-work-inbox.ts
  src/lib/notifications/__tests__/work-inbox.test.ts
  src/lib/notifications/notification.service.ts
  src/lib/notifications/work-inbox.ts
  src/lib/workspace/github-my-work.ts
  src/lib/workspace/github-work-replies.ts
  supabase/migrations/20260905210000_workspace_work_inbox.sql
  supabase/tests/fixtures/work-inbox-schema.sql
  supabase/tests/workspace-work-inbox.test.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(notifications): address work inbox review findings
  docs/features/notification-system.md
  scripts/testing-tools/README.md
  scripts/testing-tools/test-work-inbox-migration.sh
  src/components/features/auth/auth-button.tsx
  src/components/notifications/notification-dropdown.integration.test.tsx
  src/components/notifications/notification-dropdown.tsx
  src/components/notifications/work-inbox-list.tsx
  src/hooks/__tests__/use-notifications.integration.test.tsx
  src/hooks/__tests__/use-work-inbox.integration.test.tsx
  src/hooks/use-notifications.ts
  src/hooks/use-work-inbox.ts
  src/lib/notifications/notification.service.ts
  src/lib/workspace/__tests__/github-my-work.integration.test.ts
  src/lib/workspace/__tests__/github-work-replies.integration.test.ts
  src/lib/workspace/github-my-work.ts
  src/lib/workspace/github-work-replies.ts
  supabase/migrations/20260905230000_workspace_work_inbox_baseline.sql
  supabase/tests/workspace-work-inbox.test.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): refresh issues through an authorized backend path
  docs/data-fetching/workspace-issue-sync-architecture.md
  docs/features/workspace-issue-auto-sync.md
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspacePRsTab.tsx
  src/hooks/__tests__/useWorkspaceIssues.test.ts
  src/hooks/useWorkspaceIssues.ts
  src/lib/sync-workspace-issues.ts
  src/lib/workspace/__tests__/github-issue-refresh.integration.test.ts
  src/lib/workspace/__tests__/github-issue-refresh.test.ts
  src/lib/workspace/github-issue-refresh.ts
  supabase/config.toml
  supabase/functions/README.md
  supabase/functions/_shared/workspace-membership.ts
  supabase/functions/workspace-issues-refresh/index.ts
  supabase/functions/workspace-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat(workspace): redesign responsive dashboard stat cards
  src/components/features/workspace/MetricCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/features/workspace/__tests__/WorkspaceMetrics.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): address stat card review findings
  src/components/features/workspace/MetricCard.tsx
  src/components/features/workspace/TimeRangeSelector.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/features/workspace/__tests__/MetricCard.test.tsx
  src/components/features/workspace/__tests__/WorkspaceMetrics.test.tsx
  src/lib/utils/time-range.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): redesign responsive dashboard stat cards (#1837)
  src/components/features/workspace/MetricCard.tsx
  src/components/features/workspace/TimeRangeSelector.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/features/workspace/__tests__/MetricCard.test.tsx
  src/components/features/workspace/__tests__/WorkspaceMetrics.test.tsx
  src/lib/utils/time-range.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): refine response-needed queue and capture review pages
  docs/features/my-work-dashboard.md
  src/components/features/workspace/GitHubMyWorkCard.tsx
  src/components/features/workspace/__tests__/GitHubMyWorkCard.test.tsx
  src/lib/inngest/__tests__/github-review-client.integration.test.ts
  src/lib/inngest/functions/__tests__/review-pagination.integration.test.ts
  src/lib/inngest/functions/capture-pr-reviews.ts
  src/lib/inngest/github-client.ts
  src/lib/notifications/__tests__/work-inbox.test.ts
  src/lib/notifications/work-inbox.ts
  src/lib/workspace/__tests__/github-work-replies.integration.test.ts
  src/lib/workspace/__tests__/reply-signals.test.ts
  src/lib/workspace/github-my-work.ts
  src/lib/workspace/github-work-replies.ts
  src/lib/workspace/reply-signals.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): avoid acknowledgment regex backtracking
  src/lib/workspace/__tests__/reply-signals.test.ts
  src/lib/workspace/reply-signals.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): surface actionable replies and capture review history (#1838)
  docs/features/my-work-dashboard.md
  src/components/features/workspace/GitHubMyWorkCard.tsx
  src/components/features/workspace/__tests__/GitHubMyWorkCard.test.tsx
  src/lib/inngest/__tests__/github-review-client.integration.test.ts
  src/lib/inngest/functions/__tests__/review-pagination.integration.test.ts
  src/lib/inngest/functions/capture-pr-reviews.ts
  src/lib/inngest/github-client.ts
  src/lib/notifications/__tests__/work-inbox.test.ts
  src/lib/notifications/work-inbox.ts
  src/lib/workspace/__tests__/github-work-replies.integration.test.ts
  src/lib/workspace/__tests__/reply-signals.test.ts
  src/lib/workspace/github-my-work.ts
  src/lib/workspace/github-work-replies.ts
  src/lib/workspace/reply-signals.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(navigation): use responsive tabs and themed section picker
  src/components/features/repository/repo-view.tsx
  src/components/features/workspace-page/components/WorkspaceTabNavigation.tsx
  src/components/features/workspace-page/components/__tests__/WorkspaceTabNavigation.integration.test.tsx
  src/components/features/workspace/WorkspaceTabNavigation.tsx
  src/components/ui/__tests__/section-navigation.integration.test.tsx
  src/components/ui/section-navigation.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
