Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write

fix: remove unnecessary npm ci from workspace issues sync workflow (#1707)
  .github/workflows/capture-workspace-issues.yml
Due: prettier --write

chore(release): 4.64.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b8/6a6850ac47e3b41254561598c8ec640f6a608c
Due: none

feat(perf): optimize UserAvatar image size for GitHub avatars (#1709)
  src/components/ui/__tests__/user-avatar.test.tsx
  src/components/ui/user-avatar.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.65.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  04/9740aa5020e010e11a27cdce3c20093282ddf2
Due: none

fix: update minimatch override to match direct dependency version
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Security upgrade minimatch from 10.2.1 to 10.2.3 (#1710)
  package-lock.json
  package.json
Due: prettier --write

feat(feed): enable stars & forks in repo feed for logged-in users
  src/components/features/activity/pr-activity.tsx
  src/lib/copy/upgrade-messages.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(feed): store raw ISO timestamps instead of pre-formatted strings
  src/hooks/use-cached-pr-activity.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(feed): combine login CTA and button into single element
  .husky/pre-commit
  src/components/features/activity/pr-activity.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(hooks): remove hook-specific PATH setup, use ~/.zshenv instead
  .husky/pre-commit
Due: none

fix(feed): add pagination to events fetch and trigger capture from GraphQL sync
  src/lib/inngest/functions/capture-repository-events.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(feed): update stale comment and remove dead fallback
  src/components/features/activity/pr-activity.tsx
  src/hooks/use-cached-pr-activity.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(feed): enable stars & forks for logged-in users (#1711)
  src/components/features/activity/activity-item.tsx
  src/components/features/activity/pr-activity.tsx
  src/hooks/use-cached-pr-activity.ts
  src/lib/copy/upgrade-messages.ts
  src/lib/inngest/functions/capture-repository-events.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.66.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d9/08ddc6b8441b687e44ce18a26ca695d4050193
Due: none

feat: add papercomputeco/stereOS to example repos
  netlify/edge-functions/ssr-home.ts
  src/components/features/repository/example-repos.tsx
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: restore tapes, add stereOS to example repos, source zshenv in husky hook
  .husky/pre-commit
  netlify/edge-functions/ssr-home.ts
  src/components/features/repository/example-repos.tsx
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add papercomputeco/stereOS to example repos (#1712)
  .husky/pre-commit
  netlify/edge-functions/ssr-home.ts
  src/components/features/repository/example-repos.tsx
  src/components/skeletons/layouts/repo-view-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.67.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  75/23597eb7bf7dfe82cb3968dd1fd165ebdd539e
Due: none

fix: resolve auth.users.id vs app_users.id mismatch in workspace operations
  src/components/features/workspace/WorkspaceCreateModal.tsx
  src/pages/workspace-new-page.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.67.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5a/bd029c230a98101572f25ea5a335cb5b27d8a2
Due: none

test: add synchronous tests for workspace ownership resolution
  src/lib/__tests__/workspace-ownership.test.ts
  src/lib/workspace-ownership.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use app_users.id in settings fallback member object
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve auth.users.id vs app_users.id mismatch in workspace operations (#1713)
  src/lib/__tests__/workspace-ownership.test.ts
  src/lib/workspace-ownership.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve auth.uid() vs app_users.id mismatch in workspace_repositories DELETE/UPDATE RLS
  src/services/workspace.service.ts
  supabase/migrations/20260228_fix_workspace_repo_delete_update_rls.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent stale re-fetch after repository removal
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve auth.uid() vs app_users.id mismatch in workspace repo DELETE/UPDATE RLS (#1714)
  src/pages/workspace-page.tsx
  src/services/workspace.service.ts
  supabase/migrations/20260228_fix_workspace_repo_delete_update_rls.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: seamlessly track untracked repos when adding to workspace
  src/components/features/workspace/AddRepositoryModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use actual repo count instead of stale denormalized counter
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: seamlessly track untracked repos when adding to workspace (#1715)
  src/components/features/workspace/AddRepositoryModal.tsx
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: polish activity feed - remove icons, fix titles, add bio, hide empty filters
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/AnalyticsDashboard.tsx
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove star/fork emoji characters from activity item text
  src/components/features/activity/activity-item.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: fetch and abbreviate bios for star/fork activity feed actors
  src/lib/llm/abbreviate-bios.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add bio and fix titles in repo feed page star/fork items
  src/components/features/activity/activity-item.tsx
  src/hooks/use-combined-activity.ts
  src/hooks/use-repository-events.ts
  src/lib/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: show bio instead of redundant title for star/fork events
  .gitignore
  src/components/features/activity/activity-item.tsx
  src/components/features/workspace/ActivityTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
