Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: Restore index-without-embeddings to fix Inngest 502 errors
  netlify/functions/inngest-prod.mts
  src/lib/progressive-capture/smart-commit-analyzer.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Create server-only env file to avoid import.meta bundling issues
  src/lib/env-server.ts
  src/lib/supabase-admin.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Remove ALL import.meta references from Inngest function dependencies
  src/lib/inngest/client-config.ts
  src/lib/inngest/client-safe.ts
  src/lib/inngest/github-client.ts
  src/lib/progressive-capture/throttle-config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Revert env-server imports that broke browser - keep only critical fix
  src/lib/inngest/client-config.ts
  src/lib/inngest/client-safe.ts
  src/lib/inngest/github-client.ts
  src/lib/supabase-admin.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: Add scripts to test Inngest bundle for import.meta issues
  scripts/test-inngest-bundle.cjs
  scripts/test-inngest-directly.cjs
Due: none

fix: Migrate Inngest to Supabase Edge Functions to resolve bundling issues
  docs/infrastructure/inngest-supabase-migration.md
  netlify.toml
  netlify/functions/inngest-prod.mts.disabled
  scripts/deploy-supabase-inngest.sh
  scripts/test-supabase-inngest.sh
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add deployment status and environment setup script
  INNGEST_DEPLOYMENT_STATUS.md
  scripts/set-supabase-env.sh
Due: none

docs: Add Inngest Supabase testing guide
  docs/infrastructure/testing-inngest-supabase.md
  scripts/test-supabase-inngest.sh
  supabase/functions/inngest-prod/index-simple.ts
  supabase/functions/inngest-prod/index-standalone.ts
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: Remove obsolete Inngest debugging scripts
  scripts/deploy-supabase-inngest.sh
  scripts/set-supabase-env.sh
  scripts/test-inngest-bundle.cjs
  scripts/test-inngest-directly.cjs
  scripts/test-inngest-events.js
  scripts/test-inngest-local-setup.js
  scripts/test-supabase-inngest.sh
  scripts/validate-inngest-pipeline.sh
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: Remove obsolete Inngest deployment status doc
  INNGEST_DEPLOYMENT_STATUS.md
Due: none

fix: social cards (#887)
  index.html
  src/components/common/layout/home.tsx
  src/components/common/layout/meta-tags-provider.tsx
  src/components/features/repository/repo-view.tsx
  src/pages/org-view.tsx
  src/pages/user-view.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: Remove obsolete inngest-prod function config from netlify.toml
  netlify.toml
Due: none

fix: Disable inngest-prod-functions.mts to prevent bundling errors
  netlify/functions/inngest-prod-functions.mts.disabled
Due: none

fix: Revert Inngest redirect to use working Netlify function
  netlify.toml
Due: none

fix: Restore Supabase redirect for Inngest (intentional stub migration)
  netlify.toml
Due: none

feat: Implement real Inngest functions in Supabase Edge Function
  supabase/functions/inngest-prod/database-helpers.ts
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Move disabled Inngest files out of functions directory
  .archived/inngest-prod-functions.mts.disabled
  .archived/inngest-prod.mts.disabled
  tests/integration/inngest-handlers.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add redirect from deprecated inngest-prod to correct /api/inngest endpoint
  netlify/functions/inngest-prod.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Implement FULL working versions of all 10 Inngest functions
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add implementation summaries and export NonRetriableError
  supabase/functions/inngest-prod/IMPLEMENTATION_SUMMARY.md
  supabase/functions/inngest-prod/graphql-client.ts
  tasks/errors-functions.md
  tasks/inngest-functions-completion.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Update validation schema to support nullable author_id
  src/lib/validation/supabase-response-schemas.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Update Inngest configuration and add null author ID migration script
  docs/infrastructure/inngest-supabase-migration.md
  netlify.toml
  scripts/fix-null-author-ids.ts
  src/lib/inngest/client-config.ts
  tasks/errors-functions.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Migrate Inngest to Supabase Edge Functions (#899)
  .archived/inngest-prod-functions.mts.disabled
  .archived/inngest-prod.mts.disabled
  docs/infrastructure/inngest-supabase-migration.md
  docs/infrastructure/testing-inngest-supabase.md
  netlify.toml
  netlify/functions/inngest-prod.ts
  scripts/fix-null-author-ids.ts
  scripts/test-inngest-events.js
  scripts/test-inngest-local-setup.js
  scripts/validate-inngest-pipeline.sh
  src/lib/env-server.ts
  src/lib/inngest/client-config.ts
  src/lib/progressive-capture/smart-commit-analyzer.ts
  src/lib/progressive-capture/throttle-config.ts
  src/lib/validation/supabase-response-schemas.ts
  supabase/functions/inngest-prod/IMPLEMENTATION_SUMMARY.md
  supabase/functions/inngest-prod/database-helpers.ts
  supabase/functions/inngest-prod/graphql-client.ts
  supabase/functions/inngest-prod/index-simple.ts
  supabase/functions/inngest-prod/index-standalone.ts
  supabase/functions/inngest-prod/index.ts
  tasks/inngest-functions-completion.md
  tests/integration/inngest-handlers.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

security: Remove hardcoded gh-datapipe API URLs to reduce attack surface
  .env.example
  netlify/functions/backfill-trigger.ts
  public/_headers
  src/lib/manual-backfill/client.ts
  src/lib/manual-backfill/server-client.ts
  supabase/functions/manual-backfill/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

feat: Re-enable embeddings via dual Inngest architecture
  docs/infrastructure/dual-inngest-architecture.md
  netlify.toml
  netlify/functions/inngest-embeddings.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add webhook event handlers and complete embeddings integration
  docs/infrastructure/dual-inngest-architecture.md
  netlify/functions/inngest-embeddings.mts
  src/lib/inngest/functions/webhook-embeddings.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Re-enable embeddings via dual Inngest architecture (#903) (#904)
  docs/infrastructure/dual-inngest-architecture.md
  netlify.toml
  netlify/functions/inngest-embeddings.mts
  src/lib/inngest/functions/webhook-embeddings.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add repository_full_name to PR upsert in GraphQL capture
  src/lib/inngest/functions/capture-pr-details-graphql.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add repository_full_name to PR upsert in GraphQL capture (#906)
  src/lib/inngest/functions/capture-pr-details-graphql.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Fail fast when GH_DATAPIPE env vars are missing
  src/lib/manual-backfill/client.ts
  src/lib/manual-backfill/server-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Throw error if GH_DATAPIPE_API_URL env var is missing (merges into #902)
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/manual-backfill/__tests__/client.test.ts
  src/lib/manual-backfill/server-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

security: Remove hardcoded gh-datapipe API URLs to reduce attack surface (#902)
  .env.example
  netlify/functions/backfill-trigger.ts
  public/_headers
  src/lib/manual-backfill/client.ts
  src/lib/manual-backfill/server-client.ts
  supabase/functions/manual-backfill/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

feat: Implement workspace repository prioritization (Phase 2 - #882)
  src/lib/inngest/functions/index.ts
  src/lib/inngest/functions/sync-workspace-priorities.ts
  src/lib/inngest/types/event-data.ts
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/lib/progressive-capture/workspace-priority-sync.ts
  src/services/workspace.service.ts
  tasks/prd-priority-queue-phase2-882.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add workspace priority system documentation
  docs/data-fetching/workspace-priority-system.md
Due: none

chore: Remove completed Phase 2 PRD
  tasks/prd-priority-queue-phase2-882.md
Due: none

fix: address cubic-dev-ai review issues
  supabase/functions/_shared/spam-detection-integration.ts
  supabase/functions/spam-detection/index.ts
  supabase/migrations/20251002000000_create_spam_detections_table.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Implement workspace repository prioritization (Phase 2 - #882) (#907)
  docs/data-fetching/workspace-priority-system.md
  src/lib/inngest/functions/index.ts
  src/lib/inngest/functions/sync-workspace-priorities.ts
  src/lib/inngest/types/event-data.ts
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/lib/progressive-capture/workspace-priority-sync.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add repository_id column to reviews table
  supabase/migrations/20251002000001_add_repository_id_to_reviews.sql
Due: none

fix: Add repository_id column to reviews table (#909)
  supabase/migrations/20251002000001_add_repository_id_to_reviews.sql
Due: none

feat: Add admin dashboard for failed jobs monitoring
  docs/admin-monitoring.md
  src/App.tsx
  src/components/features/admin/admin-menu.tsx
  src/components/features/admin/failed-jobs-dashboard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
