Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

Notes added by 'git notes add'
  ce/f12d1d6a5b45b2b481deca44148cf615f4feb3
Due: none

feat: add PostHog LLM observability to multi-agent chat pipeline
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
  netlify/functions/lib/llm-analytics.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: convert RAG to on-demand semantic search tool (#1688)
  netlify/functions/__tests__/agents/semantic-search-tool.test.ts
  netlify/functions/agents/semantic-search-tool.mts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use correct AI SDK usage field names (inputTokens/outputTokens)
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add PostHog LLM observability to multi-agent chat pipeline (#1696)
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
  netlify/functions/lib/llm-analytics.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  b9/ef30ef887dda5ba78f0ee33ad9e6c8e694bc71
Due: none

chore(release): 4.60.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add semantic search result card to chat UI
  src/components/chat/chat-cards/semantic-search-card.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Revert "feat: add semantic search result card to chat UI"
  src/components/chat/chat-cards/semantic-search-card.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: send StarSearch errors to Sentry
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address review feedback for semantic search tool
  netlify/functions/__tests__/agents/semantic-search-tool.test.ts
  netlify/functions/agents/semantic-search-tool.mts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: send StarSearch errors to Sentry (#1698)
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: convert RAG to on-demand semantic search tool (#1697)
  netlify/functions/__tests__/agents/semantic-search-tool.test.ts
  netlify/functions/agents/semantic-search-tool.mts
  netlify/functions/chat.mts
  src/components/chat/chat-cards/semantic-search-card.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.61.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  30/e9d404acd0d173ead07d4d0fb804730aaa8750
Due: none

feat: track OpenAI prompt cache hits in PostHog and fix ragContext bug
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
  netlify/functions/lib/llm-analytics.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: track OpenAI prompt cache hits in PostHog and fix ragContext bug (#1699)
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
  netlify/functions/lib/llm-analytics.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.62.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  29/76dd9302d52b2228ba63b5616a41b0c3ad1a45
Due: none

fix: expand manager prompt past 1024 token cache threshold and add llm-analytics tests
  netlify/functions/__tests__/lib/llm-analytics.test.ts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: expand manager prompt past 1024 token cache threshold and add llm-analytics tests (#1700)
  netlify/functions/__tests__/lib/llm-analytics.test.ts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  c3/b68df5c1a5a7cecd2193d2f53bab2169230c71
Due: none

chore(release): 4.62.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: migrate import_map.json into deno.json (#1675)
  supabase/functions/deno.json
  supabase/functions/import_map.json
Due: prettier --write

fix: migrate import_map.json into deno.json (#1675) (#1701)
  supabase/functions/deno.json
  supabase/functions/import_map.json
Due: prettier --write

Notes added by 'git notes add'
  fd/f7d9fb4466dce80d5e55363ec0f4df73514b6d
Due: none

chore(release): 4.62.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

perf: extract constants in src/lib/utils.ts to reduce allocation (#1702)
  src/lib/utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.63.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d9/1a47a97dc3093ae91c9c146f79e2f09426962d
Due: none

fix: prevent permanent skeleton loaders for errored chat tool results
  netlify/functions/chat.mts
  src/components/chat/chat-message.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent permanent skeleton loaders for errored chat tool results (#1703)
  netlify/functions/chat.mts
  src/components/chat/chat-message.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.63.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  96/a04a00cefb2457b39a4eb83585cb0b04132094
Due: none

feat(perf): Optimize contributor avatars loading (#1704)
  src/components/features/workspace/ContributorsList.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: lazy load UPlotChart in TrendChart and ActivityChart (#1705)
  src/components/features/workspace/ActivityChart.tsx
  src/components/features/workspace/TrendChart.tsx
  src/components/features/workspace/__tests__/TrendChart.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.64.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9a/25a9627b78379f50ec0807226bd5692cdb7407
Due: none

fix: remove unnecessary npm ci from workspace issues sync workflow
  .github/workflows/capture-workspace-issues.yml
Due: prettier --write
