Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

fix(cors): add x-client-info to allowed headers for Slack OAuth functions
  supabase/functions/slack-oauth-callback-user/index.ts
  supabase/functions/slack-oauth-initiate-user/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(cors): add apikey to allowed headers for Slack OAuth functions
  supabase/functions/slack-oauth-callback-user/index.ts
  supabase/functions/slack-oauth-initiate-user/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: address PR review feedback for user Slack integration
  src/lib/inngest/functions/send-user-slack-monthly-leaderboard-cron.ts
  supabase/functions/slack-oauth-callback-user/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat(slack): add user-level Slack integration for monthly leaderboard (#1426)
  netlify/functions/inngest.mts
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/repository/repo-view.tsx
  src/components/features/settings/settings-page.tsx
  src/components/features/slack/RepositorySlackButton.tsx
  src/components/features/slack/UserSlackIntegrationsCard.tsx
  src/components/features/slack/index.ts
  src/lib/inngest/functions/index-without-embeddings.ts
  src/lib/inngest/functions/index.ts
  src/lib/inngest/functions/send-user-slack-monthly-leaderboard-cron.ts
  src/services/user-slack-integration.service.ts
  src/types/user-slack.ts
  supabase/functions/_shared/spam-detection-service.test.ts
  supabase/functions/slack-list-channels-user/index.ts
  supabase/functions/slack-oauth-callback-user/index.ts
  supabase/functions/slack-oauth-initiate-user/index.ts
  supabase/migrations/20251219000002_user_slack_integrations.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

chore(release): 4.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1ef1855cecad9080f1ec7bac331792049397acc5
Due: none

chore(release): 4.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f0d99921f2083ab5a5a5ecc582f8d21a8dfdb210
Due: none

fix: resolve test failures following bulletproof testing guidelines
  src/components/features/activity/__tests__/activity-item-styling.test.tsx
  src/services/__tests__/workspace.service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: optimize ContributorsList virtualization performance
  src/components/features/workspace/ContributorsList.tsx
  src/components/ui/virtualized-list.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address code review issues from PR #1431
  src/components/features/workspace/ContributorsList.tsx
  src/components/ui/virtualized-list.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: optimize virtualized grid rendering performance
  src/components/features/workspace/ContributorsList.tsx
  src/components/ui/virtualized-list.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade lucide-react from 0.554.0 to 0.556.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @polar-sh/nextjs from 0.8.0 to 0.9.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade dub from 0.68.0 to 0.69.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.86.0 to 2.86.2
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade express from 4.21.2 to 4.22.1
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade lucide-react from 0.554.0 to 0.556.0 (#1440)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.86.0 to 2.86.2 (#1443)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade dub from 0.68.0 to 0.69.0 (#1442)
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  567d99f5b984cd5faf3fe9aeea8d9795a78fd26c
Due: none

chore(release): 4.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a52241286a1f5e7e2521277607cd1e4697957d02
Due: none

chore(release): 4.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c96de84a261ec7b993eb5af6bae7159b92c3193f
Due: none

chore: remove unused @polar-sh/nextjs and add @polar-sh/adapter-utils
  package-lock.json
  package.json
Due: prettier --write

chore(release): 4.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b33c69d6a50b57da5aa5cae41df62bfc3f15aa33
Due: none

chore(release): 4.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  893d207985a1fbbe4a98a5faf27b3fc207a3cc5b
Due: none

chore(release): 4.10.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  284ab2d970ca0c223de2f40bf7118cc1223df873
Due: none

docs: update env config for server-side Polar token migration
  .env.example
  docs/infrastructure/netlify-env-var-cleanup.md
Due: none

fix: fly-social-cards/package.json & fly-social-cards/package-lock.json to reduce vulnerabilities
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: fly-social-cards/package.json & fly-social-cards/package-lock.json to reduce vulnerabilities (#1460)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

chore(release): 4.10.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bc8b33d510271067b9024af0a2407c06ecd87669
Due: none

perf: optimize date sorting using schwartzian transform in workspace-hover-card-utils
  src/lib/workspace-hover-card-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
