Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

feat(ui): add tooltips to icon-only buttons in ShareableCard (#1654)
  .Jules/palette.md
  src/components/features/sharing/__tests__/shareable-card-tooltip.test.tsx
  src/components/features/sharing/shareable-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): standardize loading state in RepositorySlackButton (#1652)
  src/components/features/slack/RepositorySlackButton.tsx
  src/components/features/slack/__tests__/RepositorySlackButton.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.42.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0b/3f599c0edd912adbdd0385a230c4e5a96b91fc
Due: none

fix: actions/continue-docs-review/package.json & actions/continue-docs-review/package-lock.json to reduce vulnerabilities (#1647)
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: prettier --write

chore(release): 4.42.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  43/08c907f3788c5c609fdb5fb22cfdc4eb0d578d
Due: none

feat: add character counters to workspace creation form (#1646)
  src/components/features/workspace/WorkspaceCreateForm.tsx
  src/components/features/workspace/__tests__/WorkspaceCreateForm.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.43.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9a/17322d06de60ba98ade75db504b2e95a984bf6
Due: none

chore: remove ralph-loop state file from repository
  .claude/ralph-loop.local.md
Due: none

feat(ux): improve search clear button accessibility (#1644)
  src/components/ui/__tests__/github-search-input.test.tsx
  src/components/ui/github-search-input.tsx
  verification/debug_start.png
  verification/error.png
  verification/verification.png
  verification/verify_feature.py
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.44.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c0/77f29e9ec5c923caf7920508860e30e94819a2
Due: none

chore(release): 4.44.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a5/aae162617e48b9ed83da3551d83dea6ec44df1
Due: none

fix(a11y): add accessible name to external link button (#1642)
  src/components/features/workspace/WorkspacePreviewCard.tsx
  src/components/features/workspace/__tests__/WorkspacePreviewCard.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  80/35bf15744d488dee3874c20cf1e360921526be
Due: none

chore(release): 4.44.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add accessibility labels to issue table actions (#1650)
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/__tests__/WorkspaceIssuesTable.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.45.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  26/a4d343cd956b8b70c87123c8c2e1d080769215
Due: none

chore(release): 4.46.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  52/1b726d9595bdd3e1f773c9f09593826a32b0ad
Due: none

fix: correct SSR column names to match database schema
  netlify.toml
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/_shared/supabase.ts
  netlify/edge-functions/social-meta.ts
  netlify/edge-functions/ssr-profile.ts
  netlify/edge-functions/ssr-repo.ts
  netlify/edge-functions/ssr-trending.ts
  netlify/edge-functions/ssr-workspace-detail.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade posthog-js from 1.327.0 to 1.335.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.90.1 to 2.92.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade @unkey/api from 0.30.0 to 0.38.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade lucide-react from 0.556.0 to 0.563.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade @polar-sh/sdk from 0.41.5 to 0.42.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: correct SSR column names to match database schema (#1655)
  netlify.toml
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/_shared/supabase.ts
  netlify/edge-functions/social-meta.ts
  netlify/edge-functions/ssr-profile.ts
  netlify/edge-functions/ssr-repo.ts
  netlify/edge-functions/ssr-trending.ts
  netlify/edge-functions/ssr-workspace-detail.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.46.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  52/1d4061246e4957d57322b1551735ec1d2af773
Due: none

fix: sync package-lock.json with lucide-react upgrade to 0.563.0
  package-lock.json
Due: prettier --write

chore: upgrade lucide-react from 0.556.0 to 0.563.0 (#1659)
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: sync package-lock.json with dependency upgrade
  package-lock.json
Due: prettier --write

chore: upgrade @unkey/api from 0.30.0 to 0.38.0 (#1658)
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: sync pnpm-lock.yaml with dependency upgrade
  pnpm-lock.yaml
Due: prettier --write
