Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --cache --max-warnings=0", "prettier --write"],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"]
}

fix: switch performance workflow to pull_request_target and use GITHUB_TOKEN
  .github/workflows/performance-monitoring.yml
Due: prettier --write

fix: address PR review comments for workflow security
  .github/workflows/performance-monitoring.yml
Due: prettier --write

fix: add explicit permissions to performance-monitoring workflow for security
  .github/workflows/performance-monitoring.yml
Due: prettier --write

fix: resolve JSON parsing error in performance-monitoring workflow
  .github/workflows/performance-monitoring.yml
Due: prettier --write

fix: resolve JSON parsing error by using escaped newlines in template literals
  .github/workflows/performance-monitoring.yml
Due: prettier --write

fix: resolve JSON parsing error in compliance.yml workflow
  .github/workflows/compliance.yml
Due: prettier --write

fix: resolve actual JSON parsing error in compliance.yml
  .github/workflows/compliance.yml
Due: prettier --write

fix: remove NODE_OPTIONS that interfere with Vitest ES module loading
  .github/workflows/compliance.yml
Due: prettier --write

fix: resolve template literal backtick escaping issue in compliance.yml
  .github/workflows/compliance.yml
Due: prettier --write

fix: resolve JSON parsing error in GitHub Actions workflow
  .github/workflows/compliance.yml
Due: prettier --write

revert: restore compliance.yml to previous working version
  .github/workflows/compliance.yml
Due: prettier --write

fix: use correct build script in Bundle Size job
  .github/workflows/compliance.yml
Due: prettier --write

fix: properly escape JSON values in compliance-secure workflow
  .github/workflows/compliance-secure.yml
Due: prettier --write

fix: properly escape JSON values in compliance-secure workflow (#622)
  .github/workflows/compliance-secure.yml
Due: prettier --write

fix: resolve workflow JSON parsing errors and build script issues (#621)
  .github/workflows/compliance.yml
  .github/workflows/performance-monitoring.yml
Due: prettier --write

chore(dev): redact password in logged DB URL to avoid leaking secrets (#623 review feedback)
  supabase/migrations-local/setup-local.mjs
Due: none

fix(dev): remove shell-based command construction; use spawn args and local bin fallback for Supabase CLI (#623 review)
  supabase/migrations-local/setup-local.mjs
Due: none

feat: implement AI-powered advanced analytics dashboard (#598)
  src/components/features/analytics/AchievementMatrix.tsx
  src/components/features/analytics/ChampionContributorList.tsx
  src/components/features/analytics/CommunitySuccessChart.stories.tsx
  src/components/features/analytics/CommunitySuccessChart.tsx
  src/components/features/analytics/ContributorImpactCard.stories.tsx
  src/components/features/analytics/ContributorImpactCard.tsx
  src/components/features/analytics/RisingStarIndicator.tsx
  src/components/features/analytics/analytics-charts.stories.tsx
  src/components/features/analytics/analytics-components.stories.tsx
  src/components/features/workspace/AnalyticsDashboard.tsx
  src/components/ui/charts/DonutChart.tsx
  src/lib/analytics/ai-contributor-analyzer.ts
  src/lib/analytics/contribution-consistency.ts
  src/lib/analytics/contributor-classification.ts
  src/lib/llm/analytics-openai-service.ts
  src/lib/types/advanced-analytics.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: resolve CI test failures and ensure bulletproof testing
  .github/scripts/safe-json-writer.js
  .serena/memories/ai_analytics_patterns_and_learnings.md
  .serena/memories/github_issue_598_advanced_analytics_implementation.md
  .serena/memories/session_checkpoint_final.md
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/components/features/workspace/ActivityChart.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/AnalyticsDashboard.tsx
  src/components/features/workspace/ContributorLeaderboard.tsx
  src/components/features/workspace/TimeRangeSelector.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/lib/demo/demo-data-generator.ts
  src/pages/__tests__/demo-workspace-page.test.tsx
  src/pages/demo-workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: add PR and Issues tabs to demo workspace with plant sprite placeholders
  1601705.png
  public/org-placeholder.png
  src/components/features/workspace/RepositoryList.tsx
  src/components/ui/organization-avatar.tsx
  src/lib/demo/demo-data-generator.ts
  src/pages/demo-workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: resolve TypeScript type errors in RepositoryList component
  .serena/memories/ai_analytics_patterns_and_learnings.md
  .serena/memories/github_issue_598_advanced_analytics_implementation.md
  .serena/memories/session_checkpoint_final.md
  src/components/features/workspace/RepositoryList.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: Move all mock data to dedicated /i/demo workspace (#624)
  .github/scripts/safe-json-writer.js
  1601705.png
  public/changelog-feeds.json
  public/changelog-rss.xml
  public/org-placeholder.png
  src/App.tsx
  src/components/common/layout/layout.tsx
  src/components/features/workspace/ActivityChart.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/AnalyticsDashboard.tsx
  src/components/features/workspace/ContributorLeaderboard.tsx
  src/components/features/workspace/RepositoryList.tsx
  src/components/features/workspace/TimeRangeSelector.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/ui/organization-avatar.tsx
  src/lib/demo/__tests__/demo-data-cache.test.ts
  src/lib/demo/__tests__/demo-data-generator.test.ts
  src/lib/demo/demo-data-cache.ts
  src/lib/demo/demo-data-generator.ts
  src/pages/__tests__/demo-workspace-page.test.tsx
  src/pages/demo-workspace-page.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

docs: clean up CLAUDE.md for improved clarity
  CLAUDE.md
Due: none

docs: clean up CLAUDE.md documentation (#626)
  CLAUDE.md
Due: none

feat: implement comprehensive feature flag system with PostHog integration
  docs/feature-flags/README.md
  src/App.tsx
  src/components/features/workspace/WorkspaceAnalyticsToggle.tsx
  src/lib/feature-flags/components.tsx
  src/lib/feature-flags/context.tsx
  src/lib/feature-flags/index.ts
  src/lib/feature-flags/monitoring.tsx
  src/lib/feature-flags/posthog-client.ts
  src/lib/feature-flags/types.ts
  src/lib/feature-flags/utils.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: resolve Storybook chart rendering errors and TypeScript issues
  docs/features/rising-stars-chart.md
  src/components/features/analytics/RisingStarsChart.stories.tsx
  src/components/features/analytics/RisingStarsChart.tsx
  src/components/features/analytics/RisingStarsChartSimple.stories.tsx
  src/components/features/analytics/RisingStarsChartSimple.tsx
  src/components/features/analytics/RisingStarsExample.tsx
  src/components/ui/charts/AreaChart.tsx
  src/components/ui/charts/BarChart.tsx
  src/components/ui/charts/LineChart.tsx
  src/lib/analytics/rising-stars-data.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: update RisingStarsChart Y-axis to show total GitHub events
  src/components/features/analytics/RisingStarsChart.stories.tsx
  src/components/features/analytics/RisingStarsChart.tsx
  src/components/features/analytics/RisingStarsExample.tsx
  src/lib/analytics/rising-stars-data.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: add custom tooltip to RisingStarsChart with activity score
  src/components/features/analytics/RisingStarsChart.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: improve RisingStarsChart tooltip z-index and edge clipping
  src/components/features/analytics/RisingStarsChart.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: resolve RisingStarsChart theme errors and update Y-axis to show total GitHub events
  src/components/features/analytics/RisingStarsChart.tsx
  src/components/features/analytics/RisingStarsChartSimple.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: resolve z-index issue with hover cards in RisingStarsChartSimple
  src/components/features/analytics/RisingStarsChartSimple.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: update RisingStarsChart axes and rising star criteria
  src/components/features/analytics/RisingStarsChart.stories.tsx
  src/components/features/analytics/RisingStarsChart.tsx
  src/components/features/analytics/RisingStarsChartSimple.tsx
  src/lib/analytics/rising-stars-data.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: properly fix z-index for hover cards in RisingStarsChartSimple
  src/components/features/analytics/RisingStarsChartSimple.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

refactor: remove broken Nivo-based RisingStarsChart and use custom implementation
  src/components/features/analytics/RisingStarsChart.stories.tsx
  src/components/features/analytics/RisingStarsChart.tsx
  src/components/features/analytics/RisingStarsChartSimple.stories.tsx
  src/components/features/analytics/RisingStarsChartSimple.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

revert: remove debugging code from ui/chart components
  src/components/ui/charts/AreaChart.tsx
  src/components/ui/charts/BarChart.tsx
  src/components/ui/charts/LineChart.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write
