Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

fix(a11y): resolve accessibility regressions in navigation overlay
  src/components/common/layout/layout.tsx
  src/components/common/layout/navigation-overlay.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address security and focus timing issues
  src/components/common/layout/layout.tsx
  src/components/common/layout/navigation-overlay.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: modernize navigation menu with accessibility (#1623)
  src/components/common/layout/layout.tsx
  src/components/common/layout/navigation-overlay.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.34.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0d/67ab780322f8143af64056ee12c697506869dc
Due: none

chore(release): 4.35.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7e/51ca76bb07be5b9ccfd67c16816435671e4ad0
Due: none

fix: replace template literal console.log with parameterized format
  supabase/functions/inngest-prod/index-standalone.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add spam report submission system (Phase 1) (#1622)
  src/App.tsx
  src/components/features/spam/index.ts
  src/components/features/spam/spam-report-page.tsx
  src/lib/spam/SpamReportService.ts
  src/lib/spam/types/spam-report.types.ts
  supabase/migrations/20260120214300_create_spam_reports_and_known_spammers.sql
  supabase/migrations/20260120214301_add_spam_reporters_tracking.sql
  tasks/prd-spam-community-database.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(db): optimize RLS policies with auth_rls_initplan pattern
  supabase/migrations/20260121000000_fix_spam_tables_rls_performance.sql
Due: none

docs: add Netlify performance audit for PR #1624
  NETLIFY_PERFORMANCE_AUDIT_PR1624.md
  PR_COMMENT_SUMMARY.md
Due: none

fix: require login for spam report submissions
  src/components/features/spam/spam-report-page.tsx
  src/lib/spam/SpamReportService.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(db): optimize spam tables RLS policies with auth_rls_initplan pattern (#1625)
  NETLIFY_PERFORMANCE_AUDIT_PR1624.md
  PR_COMMENT_SUMMARY.md
  supabase/migrations/20260121000000_fix_spam_tables_rls_performance.sql
Due: none

chore: remove one-time use audit files
  NETLIFY_PERFORMANCE_AUDIT_PR1624.md
  PR_COMMENT_SUMMARY.md
Due: none

fix: use authenticated GitHub token for PR author lookup
  src/lib/spam/SpamReportService.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): replace aria-hidden with inert on nav menu
  src/components/common/layout/navigation-overlay.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): replace aria-hidden with inert on nav menu (#1627)
  src/components/common/layout/navigation-overlay.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.35.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ae/6a8af3574affb93fabece5820068002ad482b1
Due: none

fix: address PR review feedback for spam reporting feature
  src/components/features/spam/spam-report-page.tsx
  src/lib/spam/SpamReportService.ts
  supabase/migrations/20260121000001_fix_security_definer_search_path.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: rename migration and fix ROWTYPE for empty search_path
  supabase/migrations/20260121060000_fix_security_definer_search_path.sql
Due: none

perf: defer Supabase loading in github.ts for faster initial page load
  src/lib/github.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: known spammer community database - phase 1 (#1624)
  src/App.tsx
  src/components/features/spam/index.ts
  src/components/features/spam/spam-report-page.tsx
  src/lib/github.ts
  src/lib/spam/SpamReportService.ts
  src/lib/spam/types/spam-report.types.ts
  supabase/migrations/20260120214300_create_spam_reports_and_known_spammers.sql
  supabase/migrations/20260120214301_add_spam_reporters_tracking.sql
  supabase/migrations/20260121000000_fix_spam_tables_rls_performance.sql
  supabase/migrations/20260121060000_fix_security_definer_search_path.sql
  tasks/prd-spam-community-database.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  d5/e62ab235d66afd0b94ae7d3bdbfb3a28ff1a4d
Due: none

chore(release): 4.36.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: spam community database phase 2 - verification workflow
  src/App.tsx
  src/components/features/admin/admin-menu.tsx
  src/components/features/admin/spam-reports-verification.tsx
  src/lib/spam/SpamReportService.ts
  supabase/migrations/20260121070000_fix_spam_indexes_and_constraints.sql
  supabase/migrations/20260121080000_add_phase2_verification_functions.sql
  supabase/migrations/20260121090000_fix_spam_reporters_rls_insert.sql
  tasks/prd-spam-community-database.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: add useMemo for filtered lists and fix console.log security
  src/components/features/admin/spam-reports-verification.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(security): add admin authorization checks to SECURITY DEFINER functions
  supabase/migrations/20260121100000_fix_admin_authorization_checks.sql
Due: none

feat: spam community database phase 2 - verification workflow (#1628)
  src/App.tsx
  src/components/features/admin/admin-menu.tsx
  src/components/features/admin/spam-reports-verification.tsx
  src/lib/spam/SpamReportService.ts
  supabase/migrations/20260121070000_fix_spam_indexes_and_constraints.sql
  supabase/migrations/20260121080000_add_phase2_verification_functions.sql
  supabase/migrations/20260121090000_fix_spam_reporters_rls_insert.sql
  supabase/migrations/20260121100000_fix_admin_authorization_checks.sql
  tasks/prd-spam-community-database.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.37.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  01/a48be2df135919c72fe3dd176efa85d0542aff
Due: none

feat: add public spam leaderboard and admin spammer management
  src/App.tsx
  src/components/features/admin/spam-management.tsx
  src/components/features/spam/index.ts
  src/components/features/spam/spam-leaderboard-page.tsx
  src/components/features/spam/spam-report-page.tsx
  src/lib/spam/SpamReportService.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add missing RLS policies for spam admin management
  supabase/migrations/20260121083810_rls_spam_admin_policies.sql
Due: none

fix: require login to view full spam leaderboard
  src/components/features/admin/spam-management.tsx
  src/components/features/spam/spam-leaderboard-page.tsx
  supabase/migrations/20260121100000_add_authenticated_spammer_read_policy.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address code review feedback for spam leaderboard
  src/components/features/admin/spam-management.tsx
  src/components/features/spam/spam-leaderboard-page.tsx
  src/components/features/spam/spam-report-page.tsx
  src/lib/spam/SpamReportService.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: rename 'Leaderboard' to 'List' in spam page card
  src/components/features/spam/spam-leaderboard-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve Report Spam button UX
  src/components/common/layout/layout.tsx
  src/components/features/spam/spam-leaderboard-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add public spam leaderboard and admin spammer management (#1629)
  src/App.tsx
  src/components/common/layout/layout.tsx
  src/components/features/admin/spam-management.tsx
  src/components/features/spam/index.ts
  src/components/features/spam/spam-leaderboard-page.tsx
  src/components/features/spam/spam-report-page.tsx
  src/lib/spam/SpamReportService.ts
  supabase/migrations/20260121100000_add_authenticated_spammer_read_policy.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.38.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
