Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: correct console.error parameter order in web-vitals test
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/__tests__/performance/web-vitals.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: skip async staleness test per bulletproof testing guidelines
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/hooks/__tests__/useWorkspacePRs.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent async/await patterns in unit tests to avoid CI hangs (#787)
  CONTRIBUTING.md
  actions/continue-triage/__tests__/triage.test.ts
  docs/testing/BULLETPROOF_TESTING_GUIDELINES.md
  eslint.config.js
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/__tests__/performance/web-vitals.test.ts
  src/hooks/__tests__/useWorkspacePRs.test.ts
  src/lib/insights/issue-metrics.test.ts
  src/lib/spam/__tests__/SpamDetectionService.test.ts
  vitest.config.simple.ts
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove duplicate workspace member insertion to resolve constraint violation
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: update workspace tests to reflect database trigger handling
  src/services/__tests__/workspace.service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add redirects for common workspace route typos
  src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct workspace route redirects to handle dynamic parameters
  src/App.tsx
  src/components/WorkspaceRedirect.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: remove all 'any' types from workspace service tests
  src/services/__tests__/test-types.ts
  src/services/__tests__/workspace.service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix workspace creation duplicate constraint violation (#790)
  src/App.tsx
  src/components/WorkspaceRedirect.tsx
  src/services/__tests__/test-types.ts
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: move Inngest event sending to server-side API for workspace sync
  netlify/functions/workspace-sync.ts
  src/components/features/workspace/WorkspaceSyncButton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: move workspace sync to server-side to resolve Inngest connection errors
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add rate limiting to workspace sync API
  netlify/functions/workspace-sync.ts
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add TypeScript type checking to pre-commit hook
  .husky/pre-commit
  package.json
Due: prettier --write

fix: address PR review comments for workspace sync
  .husky/pre-commit
  netlify/functions/workspace-sync.ts
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: move Inngest event sending to server-side API for workspace sync (#791)
  .husky/pre-commit
  netlify/functions/workspace-sync.ts
  package.json
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve table link behavior and fix column overlap issues
  src/components/features/activity/activity-item.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve table link behavior and fix column overlap issues (#792)
  src/components/features/activity/activity-item.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve API endpoints returning HTML instead of JSON (#776)
  docs/infrastructure/netlify-redirects.md
  netlify.toml
  package-lock.json
  package.json
  public/_redirects
  scripts/validate-redirects.js
  tests/api-redirects.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove redundant replace operation in validation script
  scripts/validate-redirects.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve API endpoints returning HTML instead of JSON (#793)
  docs/infrastructure/netlify-redirects.md
  netlify.toml
  package-lock.json
  package.json
  public/_redirects
  scripts/validate-redirects.js
  tests/api-redirects.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: ensure track-repository endpoint is properly deployed
  netlify/functions/api-track-repository.mts
Due: none

fix: convert api-track-repository from .mts to .js for proper deployment
  netlify/functions/api-track-repository.js
  netlify/functions/api-track-repository.mts.backup
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: convert api-track-repository to v1 handler format (#776)
  netlify/functions/api-track-repository.mts
  src/__tests__/api/track-repository-unit.test.ts
  src/__tests__/api/track-repository.test.ts
  tests/track-repository.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove backup file
  netlify/functions/api-track-repository.mts.backup
Due: none

fix: address security warnings in test file
  src/__tests__/api/track-repository-unit.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve track-repository endpoint test failures
  netlify/functions/api-track-repository.js
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/__tests__/api/track-repository-unit.test.ts
  src/__tests__/api/track-repository.test.ts
  tests/track-repository.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: convert api-track-repository to modern Netlify Functions v2 format
  netlify/functions/api-track-repository.mts
Due: none

fix: remove config export from api-track-repository function
  netlify/functions/api-track-repository.mts
Due: none

Fix: Ensure track-repository endpoint is properly deployed (#794)
  netlify/functions/api-track-repository.mts
  public/changelog-feeds.json
  public/changelog-rss.xml
Due: prettier --write

fix: implement direct database insertion for repository tracking
  netlify/functions/api-track-repository.mts
  scripts/test-discovery-event.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: implement direct database insertion for repository tracking
  netlify/functions/api-track-repository.mts
Due: none

fix: use Supabase client library for better local dev compatibility
  netlify/functions/api-track-repository.mts
Due: none

fix: consolidate Inngest app IDs and add test client script
  netlify/functions/api-track-repository.mts
  public/manifest.json
  scripts/test-inngest-client.js
  src/lib/inngest/client-config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve repository tracking flow and Inngest integration
  netlify/functions/api-track-repository.mts
  src/components/features/repository/repo-view.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: ensure Inngest events are sent to local dev server in development
  .lintstagedrc.json
  netlify/functions/api-track-repository.mts
Due: prettier --write

fix: remove development-only github_id fallback that breaks production
  netlify/functions/api-track-repository.mts
Due: none

fix: browser client now sends events to local Inngest in development
  netlify/functions/test-env.mts
  src/lib/inngest/client-config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: smart fetch now sends correct event data with repositoryId
  src/lib/supabase-pr-data-smart.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: lazy initialize Inngest client to ensure proper browser detection
  src/lib/inngest/client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove hardcoded Supabase URL and test file
  netlify/functions/api-track-repository.mts
  netlify/functions/test-env.mts
Due: none

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
