Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

feat: add /local redirect to local.contributor.info
  netlify.toml
Due: none

feat: Repository Insights TUI settings tab with Teams+ gating (#1478) (#1480)
  netlify.toml
  src/components/features/workspace/settings/TUISetupTab.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/lib/copy/upgrade-messages.ts
  src/services/polar/subscription.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  f5/8fe08774c19352399933b585c99662b93ed1de
Due: none

chore(release): 4.19.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

perf: optimize TUISetupTab to use shared subscription hook
  src/components/features/workspace/settings/TUISetupTab.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/hooks/use-subscription-limits.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.19.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0d/dbeafdfd5f48f51499d0bb169baa0ee1f41db5
Due: none

perf: optimize TUISetupTab to use shared subscription hook (#1481)
  src/components/features/workspace/settings/TUISetupTab.tsx
  src/components/features/workspace/settings/WorkspaceSettings.tsx
  src/hooks/use-subscription-limits.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  d9/fd6535dbf3ae46527957995d9ca17b1e849b86
Due: none

chore(release): 4.20.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: add continue agents workflow for pr automation
  .github/workflows/run-agents.yml
Due: prettier --write

Add test comment
  README.md
Due: none

ci: add continue agents workflow for pr automation (#1482)
  .github/workflows/run-agents.yml
Due: prettier --write

test: add workflow test comment
  README.md
Due: none

feat: add conventional title agent for pr automation
  .continue/agents/conventional-title.md
Due: none

ci: add continue agents for pr automation
  .continue/agents/conventional-title.md
  .continue/agents/deploy-checklist.md
Due: none

ci: add permissions to continue agents workflow
  .github/workflows/run-agents.yml
Due: prettier --write

fix: quote yaml description to prevent parsing error
  .continue/agents/conventional-title.md
Due: none

ci: add continue agents for pr automation (#1486)
  .continue/agents/conventional-title.md
  .continue/agents/deploy-checklist.md
  .github/workflows/run-agents.yml
Due: prettier --write

test: testing agent functionality
  README.md
Due: none

fix: add github token to continue agents workflow
  .github/workflows/run-agents.yml
Due: prettier --write

fix: add github token to continue agents workflow (#1488)
  .github/workflows/run-agents.yml
Due: prettier --write

docs: final agent test
  README.md
Due: none

chore(release): 4.20.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ab/d4726affdb33d60aef655f19aab8918b143502
Due: none

fix: use secrets inherit for continue agents workflow
  .github/workflows/run-agents.yml
Due: prettier --write

fix: match remote-config-server workflow config exactly
  .github/workflows/run-agents.yml
Due: prettier --write

Fix the Continue Agents Workflow Startup Failure (#1490)
  .github/workflows/run-agents.yml
Due: prettier --write

final test
  README.md
Due: none

fix: use secrets inherit without explicit permissions
  .github/workflows/run-agents.yml
Due: prettier --write

fix: use github.token for default github_token
  .github/workflows/run-agents.yml
Due: prettier --write

Testing Secrets Inherit for Continue Agents (#1492)
  .github/workflows/run-agents.yml
Due: prettier --write

test agent
  README.md
Due: none

fix: match remote-config-server workflow exactly
  .github/workflows/run-agents.yml
Due: prettier --write

test: agent workflow
  README.md
Due: none

fix: package.json & pnpm-lock.yaml to reduce vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.86.2 to 2.89.0
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.86.2 to 2.89.0 (#1498)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

chore(release): 4.20.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  26/d1bc806625653b7e2d238be4a333e5c5eba1fb
Due: none

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
