Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: update social card image paths for dynamic generation
  src/components/common/layout/home.tsx
  src/components/common/layout/meta-tags-provider.tsx
  src/components/features/repository/repo-view.tsx
  src/pages/org-view.tsx
  src/pages/user-view.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update Content-Security-Policy script-src hash for security compliance
  public/_headers
Due: npm run verify:csp

doc: remove reference to rchive driectory
  supabase/migrations-local/README.md
Due: none

fix: Inngest functions now update job status on completion
  src/lib/inngest/functions/capture-pr-comments.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/helpers/job-status-updater.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Ensure needs_attention returns boolean instead of NULL
  supabase/migrations/20251001000003_automated_stuck_job_cleanup.sql
Due: none

fix: Inngest jobs now update completion status (#886)
  src/lib/inngest/functions/capture-pr-comments.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/helpers/job-status-updater.ts
  supabase/migrations/20251001000003_automated_stuck_job_cleanup.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Replace conflicting migration with proper fix for needs_attention NULL
  supabase/migrations/20251001000003_automated_stuck_job_cleanup.sql
  supabase/migrations/20251001190000_fix_needs_attention_null.sql
Due: none

fix: needs_attention returns NULL instead of false
  supabase/migrations/20251001190000_fix_needs_attention_null.sql
Due: none

fix: needs_attention returns NULL instead of false (#888)
  supabase/migrations/20251001190000_fix_needs_attention_null.sql
Due: none

fix: Add comprehensive diagnostic logging for gh-datapipe backfill 500 errors
  docs/infrastructure/gh-datapipe-backfill-500-diagnostic.md
  github-issue-gh-datapipe-backfill-500.md
  netlify/functions/backfill-trigger.ts
  src/lib/manual-backfill/server-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: Remove GitHub issue template after creating issue #144
  github-issue-gh-datapipe-backfill-500.md
Due: none

fix: Prevent crash when logging errors from invalid JSON requests
  netlify/functions/backfill-trigger.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add comprehensive diagnostic logging for gh-datapipe backfill 500 errors (#889)
  docs/infrastructure/gh-datapipe-backfill-500-diagnostic.md
  netlify/functions/backfill-trigger.ts
  src/lib/manual-backfill/server-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Inngest pipeline validation script and documentation
  docs/infrastructure/inngest-pipeline-validation.md
  scripts/validate-inngest.mjs
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace all 'any' types with proper TypeScript interfaces in webhook handlers
  app/lib/webhook-contributor-utils.ts
  app/services/embedding-service.ts
  app/services/insights.ts
  app/services/issue-context.ts
  app/services/similarity.ts
  app/types/github.ts
  app/webhooks/installation.ts
  app/webhooks/issue-comment.ts
  app/webhooks/issues-direct.ts
  app/webhooks/issues.ts
  app/webhooks/labeled.ts
  app/webhooks/pr-check-runs.ts
  app/webhooks/pull-request-direct.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Use real Inngest implementations instead of factory stubs
  netlify/functions/inngest-prod.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Inngest pipeline validation script and documentation (#890)
  docs/infrastructure/inngest-pipeline-validation.md
  scripts/validate-inngest.mjs
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Use real Inngest implementations to fix stuck jobs (#892)
  netlify/functions/inngest-prod.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace 'any' types with proper generics in core library utilities
  src/lib/contributor-of-month-config.ts
  src/lib/simple-logging.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Remove import.meta.env usage from serverless functions
  scripts/validate-inngest-pipeline.sh
  src/lib/inngest/functions/classify-repository-size.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Remove non-optional import.meta.env from smart-commit-analyzer
  src/lib/progressive-capture/smart-commit-analyzer.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Guard import.meta.url usage in evals CLI detection
  src/evals/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Completely remove import.meta usage from evals CLI
  src/evals/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: Remove dead code pattern from evals CLI
  src/evals/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(social-cards): improve URL validation and add missing newline
  index.html
  src/components/common/layout/meta-tags-provider.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: Remove all import.meta usage causing Inngest 502 errors (#894)
  src/evals/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: Force Netlify rebuild to clear cache
  netlify/functions/inngest-prod.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Use index-without-embeddings to avoid import.meta issues
  netlify/functions/inngest-prod.mts
  netlify/functions/inngest-prod.mts.config.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(social-cards): address CI feedback and code quality issues
  src/components/common/layout/meta-tags-provider.tsx
  src/pages/org-view.tsx
  src/pages/user-view.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Remove import.meta usage from env.ts to prevent fileURLToPath errors in serverless
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Update public/_headers
  public/_headers
Due: npm run verify:csp

fix: Use safe eval wrapper for import.meta to prevent fileURLToPath errors
  src/lib/env.ts
  src/lib/progressive-capture/smart-notifications.ts
  src/lib/progressive-capture/throttle-config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Inject process.env.VITE_* via Vite define config for browser compatibility
  src/lib/env.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Correct gh-datapipe API URL and fix Netlify env var injection
  .env.example
  netlify/functions/backfill-trigger.ts
  src/lib/manual-backfill/client.ts
  src/lib/manual-backfill/server-client.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Revert broken env variable approach and restore proper import.meta.env usage
  src/lib/env.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Use indirect eval for import.meta to prevent CommonJS bundling errors
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(spam-detection): resolve Edge Function import errors and database query issues
  SPAM_DETECTION_FIX_SUMMARY.md
  supabase/functions/_shared/spam-detection-integration.ts
  supabase/functions/spam-detection/index.ts
  supabase/migrations/20251002000000_create_spam_detections_table.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Use direct import.meta.env access for proper Vite static replacement
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Use env module instead of direct process.env access in SmartCommitAnalyzer
  src/lib/progressive-capture/smart-commit-analyzer.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
