Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

ci: update build configuration
  package.json
Due: prettier --write

chore: delete bloat files, artifacts, stale docs, and placeholder tests
  .gitignore
  CLEANUP_ANALYSIS.md
  CLEANUP_DETAILED_FINDINGS.md
  CLEANUP_QUICK_REFERENCE.md
  CLEANUP_README.md
  HOVER_CARD_FIXES_SUMMARY.md
  INNGEST_SWITCH_INSTRUCTIONS.md
  PR_DESCRIPTION.md
  WORKSPACE_PAGE_AVATAR_FIXES_NEEDED.md
  error-summary.json
  fix-manual-trigger.cjs
  lighthouse-current.json
  lighthouse-local.json
  lighthouse-report.json
  output.txt
  performance-analysis-continue.md
  pr-verification-comment.md
  reset-job-count.js
  src/__mocks__/setup.backup.ts
  src/__tests__/integration/contributor-scoring.test.tsx
  src/__tests__/integration/export-data.test.tsx
  src/__tests__/integration/notifications.test.tsx
  src/__tests__/integration/repository-sync.test.tsx
  src/__tests__/integration/search-filters.test.tsx
  src/hooks/__tests__/use-time-formatter.test.ts
  src/pages/demo-workspace-page-old.tsx.bak2
  src/pages/demo-workspace-page-replacement.txt
  src/pages/demo-workspace-page.tsx.bak
  src/pages/workspace-page.tsx.backup
  test-reviewer-api.mjs
  tracked-repositories-stats.json
  tracked-repositories.txt
  trigger_issue_comment_capture.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve malformed template literal bugs in embeddings and logger
  app/services/embeddings.ts
  app/services/logger.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove identity function and indecision comments
  app/services/embedding-service.ts
  app/webhooks/event-router.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: consolidate duplicate getPRState into single implementation
  src/lib/inngest/functions/capture-pr-details-graphql.ts
  src/lib/utils/__tests__/data-type-mapping.test.ts
  src/lib/utils/__tests__/state-mapping.test.ts
  src/lib/utils/data-type-mapping.ts
  src/lib/utils/state-mapping.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: merge date-helpers into date-formatting module
  src/lib/contributors/api.ts
  src/lib/contributors/calculator.ts
  src/lib/utils/date-formatting.ts
  src/lib/utils/date-helpers.test.ts
  src/lib/utils/date-helpers.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: replace console.log calls with structured logger in app/
  app/lib/auth.ts
  app/lib/webhook-contributor-utils.ts
  app/services/embeddings.ts
  app/services/linked-issues.ts
  app/services/logger.ts
  app/services/similarity.ts
  app/webhooks/event-router.ts
  app/webhooks/labeled.ts
  app/webhooks/pull-request-direct.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: restore files imported by Netlify functions
  src/lib/inngest/functions/index-without-embeddings.ts
  src/lib/inngest/functions/webhook-embeddings.ts
  src/services/workspace-backfill.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: delete orphaned tests for removed label-patterns and score-styling
  src/lib/utils/__tests__/label-patterns.test.ts
  src/lib/utils/__tests__/score-styling.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: override sharp to v0.34 to prevent CI timeout from native libvips download
  package-lock.json
  package.json
Due: prettier --write

fix: resolve npm audit vulnerabilities (brace-expansion, picomatch, rollup, yaml, lodash)
  package-lock.json
  package.json
Due: prettier --write

fix: enable RLS on github_events_cache partitions and drop empty ones
  supabase/migrations/20260427000000_secure_github_events_cache_partitions.sql
Due: none

fix: auto-create github_events_cache partitions with RLS
  supabase/migrations/20260427000001_auto_create_events_cache_partition_with_rls.sql
Due: none

fix: enable RLS on github_events_cache partitions and drop empty ones (#1785)
  supabase/migrations/20260427000000_secure_github_events_cache_partitions.sql
Due: none

fix: auto-create github_events_cache partitions with RLS (#1786)
  supabase/migrations/20260427000001_auto_create_events_cache_partition_with_rls.sql
Due: none

fix: drop always-true RLS policies on rate_limits
  supabase/migrations/20260428000000_harden_rate_limits_rls.sql
Due: none

fix: drop always-true RLS policies on rate_limits (#1788)
  supabase/migrations/20260428000000_harden_rate_limits_rls.sql
Due: none

fix: drop always-true RLS write policies on ingestion tables
  supabase/migrations/20260428000001_drop_always_true_write_policies_tier1.sql
Due: none

fix: drop always-true RLS write policies on ingestion tables (#1789)
  supabase/migrations/20260428000001_drop_always_true_write_policies_tier1.sql
Due: none

fix: eliminate all 28 remaining always-true RLS policies
  supabase/migrations/20260428000002_eliminate_all_always_true_policies.sql
Due: none

fix: eliminate all 28 remaining always-true RLS policies (#1790)
  supabase/migrations/20260428000002_eliminate_all_always_true_policies.sql
Due: none

fix: convert 5 SECURITY DEFINER views to security_invoker
  supabase/migrations/20260428000003_fix_security_definer_views.sql
Due: none

fix: convert 5 SECURITY DEFINER views to security_invoker (#1791)
  supabase/migrations/20260428000003_fix_security_definer_views.sql
Due: none

fix: restrict 4 PostgREST-exposed materialized views
  src/hooks/use-user-workspaces.ts
  supabase/migrations/20260428000004_restrict_exposed_materialized_views.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: restrict 4 PostgREST-exposed materialized views (#1792)
  src/hooks/use-user-workspaces.ts
  supabase/migrations/20260428000004_restrict_exposed_materialized_views.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: drop SELECT policies that allow listing public storage buckets
  supabase/migrations/20260428000005_restrict_public_bucket_listing.sql
Due: none

fix: drop SELECT policies that allow listing public storage buckets (#1793)
  supabase/migrations/20260428000005_restrict_public_bucket_listing.sql
Due: none

fix: move http extension out of public schema
  supabase/migrations/20260428000006_move_http_extension_out_of_public.sql
Due: none

fix: move http extension out of public schema (#1794)
  supabase/migrations/20260428000006_move_http_extension_out_of_public.sql
Due: none

chore: drop 41 dead tables (~95MB reclaimed)
  supabase/migrations/20260428000007_drop_dead_tables.sql
Due: none

chore: drop 41 dead tables (~95MB reclaimed) (#1797)
  supabase/migrations/20260428000007_drop_dead_tables.sql
Due: none

fix: harden search_path on 33 SECURITY DEFINER functions
  docs/security/security-definer-audit.md
  supabase/migrations/20260428163616_harden_search_path_security_definer.sql
Due: none

fix: harden search_path on 33 SECURITY DEFINER functions (#1798)
  docs/security/security-definer-audit.md
  supabase/migrations/20260428163616_harden_search_path_security_definer.sql
Due: none

docs: expand AGENTS.md security guidance from #1785-#1798
  AGENTS.md
Due: none

fix: lock search_path on 72 SECURITY INVOKER functions
  supabase/migrations/20260428183849_lock_search_path_security_invoker.sql
Due: none

fix: lock search_path on 72 SECURITY INVOKER functions (#1799)
  supabase/migrations/20260428183849_lock_search_path_security_invoker.sql
Due: none

security: remove doc containing leaked Supabase PAT
  scripts/assets/fix-social-cards-setup.md
Due: none

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
