Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

Notes added by 'git notes add'
  06/9c448df1ff1531606f7a769a81aa22e1ba8646
Due: none

test: improve progressive loading system test coverage
  e2e/progressive-loading.spec.ts
  src/hooks/__tests__/use-intersection-loader-basic.test.ts
  src/hooks/__tests__/use-progressive-repo-data-basic.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.25.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  79/7b3a6aefd9eec8b927ae445203091d5361b519
Due: none

chore(release): 4.26.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f8/9121d4231acc80b8505aa3893c467cd998a2ea
Due: none

chore(release): 4.27.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  05/98685be9a78eca7e903cc11623f3322ddd561e
Due: none

fix(a11y): comprehensive accessibility improvements for WCAG compliance
  src/components/common/layout/layout.tsx
  src/components/features/workspace/ContributorsTable.tsx
  src/components/features/workspace/RepositoryList.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/ui/alert.tsx
  src/components/ui/retry-indicator.tsx
  src/components/ui/use-retry-state.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): address PR review feedback
  src/components/features/workspace/RepositoryList.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: comprehensive accessibility improvements for wcag compliance (#1542)
  src/components/common/layout/layout.tsx
  src/components/features/workspace/ContributorsTable.tsx
  src/components/features/workspace/RepositoryList.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/ui/alert.tsx
  src/components/ui/retry-indicator.tsx
  src/components/ui/use-retry-state.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.27.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  17/97613096a18a0f269c08852e4f9c9c7422e7a1
Due: none

fix(a11y): WCAG compliance for search input and data tables
  src/components/features/workspace/ContributorsTable.tsx
  src/components/features/workspace/RepositoryComparison.tsx
  src/components/features/workspace/WorkspaceContributorsTab.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/ui/github-search-input.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): add aria-sort to sortable table columns
  src/components/features/workspace/ContributorsTable.tsx
  src/components/features/workspace/WorkspaceContributorsTab.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): only set aria-controls when listbox is rendered
  src/components/ui/github-search-input.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: wcag compliance for search input and data tables (#1543)
  src/components/features/workspace/ContributorsTable.tsx
  src/components/features/workspace/RepositoryComparison.tsx
  src/components/features/workspace/WorkspaceContributorsTab.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/ui/github-search-input.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.27.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  21/fc42e245093ab9d07da9f7f5d6e15e78832833
Due: none

feat(workspace): add CSV export for issues, PRs, and discussions
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePRsTab.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/lib/utils/csv-export.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: use icon-only export buttons with tooltips
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address CSV export issues for disabled state, filenames, and data fields
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/lib/utils/csv-export.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add interactive onboarding tour with React Joyride
  package-lock.json
  package.json
  src/App.tsx
  src/components/common/layout/home.tsx
  src/components/common/layout/layout.tsx
  src/components/common/layout/lazy-navigation-sheet.tsx
  src/components/common/theming/mode-toggle.tsx
  src/components/features/onboarding/TourTriggerButton.stories.tsx
  src/components/features/onboarding/TourTriggerButton.tsx
  src/components/features/onboarding/index.ts
  src/lib/onboarding-tour/__tests__/tour-steps.test.ts
  src/lib/onboarding-tour/__tests__/tour-storage.test.ts
  src/lib/onboarding-tour/index.ts
  src/lib/onboarding-tour/tour-context-value.ts
  src/lib/onboarding-tour/tour-context.tsx
  src/lib/onboarding-tour/tour-steps.ts
  src/lib/onboarding-tour/tour-storage.ts
  src/lib/onboarding-tour/tour-styles.ts
  src/lib/onboarding-tour/types.ts
  src/lib/onboarding-tour/use-tour.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add csv export for issues, prs, and discussions (#1544)
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePRsTab.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/lib/utils/csv-export.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.28.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f4/6e89c445241cdb6a465dfb4e0eb0113e793212
Due: none

chore: remove storybook artifacts
  .jules/palette.md
  .old-configs/debug-jest-config.cjs
  .old-configs/storybook-test-runner-issue.md
  .old-configs/test-runner-jest.config.js
  .old-configs/test-runner-jest.config.js.backup
  docs/implementations/chromatic-fix-summary.md
  docs/implementations/storybook-supabase-fix-complete.md
  docs/implementations/storybook-supabase-mock-solution.md
  docs/postmortem/storybook-test-fix.md
  docs/testing/chromatic-readme.md
  scripts/testing-tools/fix-async-stories.js
  scripts/testing-tools/fix-async-stories.sh
  src/components/features/onboarding/TourTriggerButton.stories.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade react-joyride to v3 beta for React 19 support
  package-lock.json
  package.json
Due: prettier --write

fix: add explicit reset in tour-storage test
  src/lib/onboarding-tour/__tests__/tour-storage.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: regenerate pnpm-lock.yaml to sync with package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove pnpm-lock.yaml, using npm instead
  pnpm-lock.yaml
Due: prettier --write

refactor: simplify onboarding tour to focus on key features
  src/components/features/activity/contributions.tsx
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/onboarding/TourTriggerButton.tsx
  src/components/features/repository/repo-view.tsx
  src/lib/onboarding-tour/tour-steps.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove activity chart step from tour
  src/lib/onboarding-tour/tour-steps.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: rename scatterplot to contributor distribution
  src/lib/onboarding-tour/tour-steps.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: move tour button to header with tooltip
  src/components/common/layout/layout.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: enhance PostHog analytics for onboarding tour
  src/lib/onboarding-tour/tour-context.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add CTA navigation on tour completion
  src/App.tsx
  src/components/features/onboarding/TourProviderWithNavigation.tsx
  src/components/features/onboarding/index.ts
  src/lib/onboarding-tour/tour-context.tsx
  src/lib/onboarding-tour/tour-steps.ts
  src/lib/onboarding-tour/tour-styles.ts
  src/lib/onboarding-tour/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: lazy load react-joyride to improve initial bundle size
  src/lib/onboarding-tour/lazy-joyride-wrapper.tsx
  src/lib/onboarding-tour/tour-context.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add interactive onboarding tour with React Joyride (#1546)
  .jules/palette.md
  .old-configs/debug-jest-config.cjs
  .old-configs/storybook-test-runner-issue.md
  .old-configs/test-runner-jest.config.js
  .old-configs/test-runner-jest.config.js.backup
  docs/implementations/chromatic-fix-summary.md
  docs/implementations/storybook-supabase-fix-complete.md
  docs/implementations/storybook-supabase-mock-solution.md
  docs/postmortem/storybook-test-fix.md
  docs/testing/chromatic-readme.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/testing-tools/fix-async-stories.js
  scripts/testing-tools/fix-async-stories.sh
  src/App.tsx
  src/components/common/layout/home.tsx
  src/components/common/layout/layout.tsx
  src/components/common/layout/lazy-navigation-sheet.tsx
  src/components/common/theming/mode-toggle.tsx
  src/components/features/activity/contributions.tsx
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/onboarding/TourProviderWithNavigation.tsx
  src/components/features/onboarding/TourTriggerButton.tsx
  src/components/features/onboarding/index.ts
  src/components/features/repository/repo-view.tsx
  src/lib/onboarding-tour/__tests__/tour-steps.test.ts
  src/lib/onboarding-tour/__tests__/tour-storage.test.ts
  src/lib/onboarding-tour/index.ts
  src/lib/onboarding-tour/lazy-joyride-wrapper.tsx
  src/lib/onboarding-tour/tour-context-value.ts
  src/lib/onboarding-tour/tour-context.tsx
  src/lib/onboarding-tour/tour-steps.ts
  src/lib/onboarding-tour/tour-storage.ts
  src/lib/onboarding-tour/tour-styles.ts
  src/lib/onboarding-tour/types.ts
  src/lib/onboarding-tour/use-tour.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
