Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

fix(social-cards): add libvips for PNG conversion
  fly-social-cards/Dockerfile
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
  fly-social-cards/src/server.js
  fly-social-cards/src/svg-to-png.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(social-cards): add libvips for PNG conversion (#1256)
  fly-social-cards/Dockerfile
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
  fly-social-cards/src/server.js
  fly-social-cards/src/svg-to-png.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities (#1252)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade glob from 9.0.0 to 9.3.5 (#1242)
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: prettier --write

fix: actions/continue-docs-review/package.json & actions/continue-docs-review/package-lock.json to reduce vulnerabilities (#1241)
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
  src/hooks/use-trending-repositories.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @supabase/supabase-js from 2.75.1 to 2.81.1
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade sharp from 0.33.5 to 0.34.5
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: throttle GraphQL requests for linked PRs to prevent network saturation
  src/hooks/useWorkspaceIssues.ts
  src/lib/__tests__/rate-limiter.test.ts
  src/lib/rate-limiter.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add skeleton loaders to Issues tab to prevent CLS (#1262)
  src/components/features/activity/active-triager-card.tsx
  src/components/features/activity/first-responders-card.tsx
  src/components/features/activity/issue-half-life-card.tsx
  src/components/features/activity/issue-volume-calendar-card.tsx
  src/components/features/activity/repeat-reporters-card.tsx
  src/components/features/activity/stale-issues-card.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Comment out workflow steps in continue-docs-review.yml
  .github/workflows/continue-docs-review.yml
Due: prettier --write

remove workflow
  .github/workflows/continue-docs-review.yml
Due: prettier --write

remove workflow (#1268)
  .github/workflows/continue-docs-review.yml
Due: prettier --write

Remove Contributor Stats badge from README
  README.md
Due: none

Remove Contributor Stats badge from README (#1269)
  README.md
Due: none

fix: formatting of embeddable widgets section
  README.md
Due: none

fix: formatting of embeddable widgets section (#1270)
  README.md
Due: none

fix: upgrade @radix-ui/react-dialog from 1.1.14 to 1.1.15
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-alert-dialog from 1.1.14 to 1.1.15
  package-lock.json
  package.json
Due: prettier --write

fix: add skeleton loaders to Issues tab to prevent CLS (#1262) (#1266)
  src/components/features/activity/active-triager-card.tsx
  src/components/features/activity/first-responders-card.tsx
  src/components/features/activity/issue-half-life-card.tsx
  src/components/features/activity/issue-volume-calendar-card.tsx
  src/components/features/activity/repeat-reporters-card.tsx
  src/components/features/activity/stale-issues-card.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: throttle GraphQL requests for linked PRs to prevent network saturation (#1265)
  src/hooks/useWorkspaceIssues.ts
  src/lib/__tests__/rate-limiter.test.ts
  src/lib/rate-limiter.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: cache linked PRs to reduce GraphQL API calls
  src/hooks/useWorkspaceIssues.ts
  supabase/migrations/20251205000000_add_linked_prs_synced_at.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: batch update linked PRs with PostgreSQL function
  src/hooks/useWorkspaceIssues.ts
  supabase/migrations/20251206000000_add_batch_update_issues_linked_prs_function.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove SECURITY DEFINER and anon grant from batch update function
  supabase/migrations/20251206000000_add_batch_update_issues_linked_prs_function.sql
Due: none

fix: cache linked PRs to reduce GraphQL API calls (#1273)
  src/hooks/useWorkspaceIssues.ts
  supabase/migrations/20251205000000_add_linked_prs_synced_at.sql
  supabase/migrations/20251206000000_add_batch_update_issues_linked_prs_function.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade inngest from 3.41.0 to 3.44.5 (#1243)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.75.1 to 2.81.1 (#1257)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade sharp from 0.33.5 to 0.34.5 (#1258)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade @radix-ui/react-dialog from 1.1.14 to 1.1.15 (#1271)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-alert-dialog from 1.1.1 to 1.1.15 (#1272)
  package-lock.json
  package.json
Due: prettier --write

perf: show cached issues immediately, sync in background
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/hooks/useWorkspaceIssues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: add unit tests for useWorkspaceIssues hook
  src/hooks/__tests__/useWorkspaceIssues.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: show cached issues immediately, sync in background (#1274)
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/hooks/__tests__/useWorkspaceIssues.test.ts
  src/hooks/useWorkspaceIssues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: debounce state updates in useWorkspaceIssues hook
  src/hooks/useWorkspaceIssues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: add unit tests for issuesAreEqual comparison function
  src/hooks/__tests__/useWorkspaceIssues.test.ts
  src/hooks/useWorkspaceIssues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: debounce state updates in useWorkspaceIssues hook (#1275)
  src/hooks/__tests__/useWorkspaceIssues.test.ts
  src/hooks/useWorkspaceIssues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: extend PostHog deferral and defer session recording for LCP improvement
  src/App.tsx
  src/lib/posthog-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: defer Supabase client initialization for faster LCP
  src/App.tsx
  src/components/common/layout/layout.tsx
  src/lib/auth/safe-auth.ts
  src/lib/supabase-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: extend PostHog deferral to improve LCP (#1281)
  src/App.tsx
  src/lib/posthog-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: fix test mocks for lazy Supabase initialization
  src/hooks/__tests__/use-user-workspaces.integration.test.ts
  src/hooks/__tests__/use-user-workspaces.test.ts
  src/lib/__tests__/auth-helpers.integration.test.ts
  src/lib/auth/__tests__/safe-auth.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address critical issues in lazy Supabase initialization
  src/components/common/layout/layout.tsx
  src/lib/supabase-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
