Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

Notes added by 'git notes add'
  56/30459b94dda65db1c9d286ee48854a1939b587
Due: none

feat: add CSV export button to spam leaderboard
  src/components/features/spam/spam-leaderboard-page.tsx
  src/lib/utils/csv-export.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add CSV export button to spam leaderboard (#1630)
  src/components/features/spam/spam-leaderboard-page.tsx
  src/lib/utils/csv-export.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.39.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3c/6551b0af79664e6e61469b7de6cf42219b7ec3
Due: none

feat: add Unkey API key management UI and backend
  netlify/functions/api-key-create.ts
  netlify/functions/api-key-list.ts
  netlify/functions/api-key-revoke.ts
  package.json
  src/components/features/settings/api-keys-section.tsx
  src/components/features/settings/settings-page.tsx
  supabase/migrations/20250121_add_api_keys_table.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: update package-lock.json with @unkey/api
  package-lock.json
Due: prettier --write

chore: update pnpm-lock.yaml with @unkey/api
  pnpm-lock.yaml
Due: prettier --write

perf: lazy load ApiKeysSection to improve settings page load
  src/components/features/settings/api-keys-section-lazy.tsx
  src/components/features/settings/settings-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add CSP hash for AlertDialog inline style
  public/_headers
Due: npm run verify:csp

fix: lazy init clients in api-key functions
  netlify/functions/api-key-create.ts
  netlify/functions/api-key-list.ts
  netlify/functions/api-key-revoke.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: pass auth header to Supabase client for RLS
  netlify/functions/api-key-list.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add diagnostic logging to api-key-create function
  netlify/functions/api-key-create.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: check Unkey delete result during cleanup to prevent orphaned keys
  netlify/functions/api-key-create.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address security and error handling issues in API key functions
  netlify/functions/api-key-create.ts
  netlify/functions/api-key-revoke.ts
  src/components/features/settings/api-keys-section.tsx
  supabase/migrations/20250121_add_api_keys_table.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: remove email from Unkey metadata to avoid PII transmission
  netlify/functions/api-key-create.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs(performance): add Netlify audit report for PR #1637
  docs/performance/netlify-audit-pr-1637.md
Due: none

fix: security improvements and test coverage for API key functions
  netlify/functions/__tests__/api-key-create.test.ts
  netlify/functions/__tests__/api-key-list.test.ts
  netlify/functions/__tests__/api-key-revoke.test.ts
  netlify/functions/api-key-create.ts
  netlify/functions/api-key-list.ts
  netlify/functions/api-key-revoke.ts
  netlify/functions/lib/api-key-clients.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: enforce MAX_KEYS_PER_USER limit during API key creation
  netlify/functions/__tests__/api-key-create.test.ts
  netlify/functions/api-key-create.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Unkey API key management UI and backend (#1633)
  netlify/functions/__tests__/api-key-create.test.ts
  netlify/functions/__tests__/api-key-list.test.ts
  netlify/functions/__tests__/api-key-revoke.test.ts
  netlify/functions/api-key-create.ts
  netlify/functions/api-key-list.ts
  netlify/functions/api-key-revoke.ts
  netlify/functions/lib/api-key-clients.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  public/_headers
  src/components/features/settings/api-keys-section-lazy.tsx
  src/components/features/settings/api-keys-section.tsx
  src/components/features/settings/settings-page.tsx
  supabase/migrations/20250121_add_api_keys_table.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

chore(release): 4.40.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  85/eb4c454101bcc60d5e9572978b872e290c6074
Due: none

fix: disable API key create button when name is empty and improve error logging
  netlify/functions/api-key-create.ts
  src/components/features/settings/api-keys-section.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: disable API key create button when name is empty and improve error logging (#1639)
  netlify/functions/api-key-create.ts
  src/components/features/settings/api-keys-section.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.40.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  26/1f7738647b65a14aa3345383b8206d0a19fb74
Due: none

feat(ui): add clear button to GitHub search input (#1641)
  .Jules/palette.md
  src/components/ui/__tests__/github-search-input.test.tsx
  src/components/ui/github-search-input.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.41.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef/541c8ba1acf790f2445e1fc52ea5c4d9a2d89c
Due: none

fix: remove duplicate useContributorRoles.ts file causing build error
  src/hooks/useContributorRoles.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @supabase/supabase-js from 2.89.0 to 2.90.1
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.89.0 to 2.90.1 (#1645)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

chore(release): 4.41.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  75/5168d63dea0a51cd948d6a26d440f06f7e1623
Due: none

fix: actions/continue-docs-review/package.json & actions/continue-docs-review/package-lock.json to reduce vulnerabilities
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: prettier --write

fix: convert nested ternaries to helper functions
  src/components/features/contributor/contributor-empty-state.tsx
  src/components/features/repository/data-processing-indicator.tsx
  src/components/features/workspace/TrendChart.tsx
  src/components/features/workspace/utils/analytics-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace .single() with .maybeSingle() and fix any types
  scripts/utilities/verify-embeddings.ts
  src/lib/progressive-capture/auto-retry-service.ts
  src/lib/sync-service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: convert remaining nested ternaries and remove unused params
  .claude/ralph-loop.local.md
  src/components/features/activity/progressive-capture-button.tsx
  src/components/ui/charts/chart-utils.ts
  src/components/ui/code-diff.tsx
  src/lib/confidence-scoring.ts
  src/lib/progressive-capture/ui-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: extract all nested ternaries to helper function in ActivityTableHeader
  src/components/features/workspace/components/ActivityTableHeader.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
