Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

fix: upgrade @supabase/supabase-js from 2.84.0 to 2.86.0
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix(database): backfill repository_metrics_history previous_value
  supabase/migrations/20251219000001_backfill_metrics_history_previous_value.sql
Due: none

fix(database): fix trending metrics calculation (#1419)
  supabase/migrations/20251219_fix_trending_metrics_calculation.sql
Due: none

chore(release): 4.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  94bddd3409defbe66e1fc335cc2d333234ca242d
Due: none

fix(database): backfill repository_metrics_history previous_value (#1421)
  supabase/migrations/20251219000001_backfill_metrics_history_previous_value.sql
Due: none

chore(release): 4.3.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  734a0b2311a5e1ec5e86cb34337da8893c76156e
Due: none

fix(ui): replace skeleton loaders with static content for better UX
  src/components/features/trending/TrendingPage.tsx
  src/components/ui/lazy-sheet.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(trending): show skeleton hottest repository card during loading
  src/components/features/trending/TrendingPage.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(sidebar): prevent double-open on first load
  src/components/common/layout/lazy-navigation-sheet.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(sidebar): remove lazy loading for reliable UX
  src/components/common/layout/lazy-navigation-sheet.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf(sidebar): restore lazy loading with preload-on-hover
  src/components/common/layout/lazy-navigation-sheet.tsx
  src/components/features/trending/TrendingPage.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(ui): replace skeleton loaders with static content (#1422)
  src/components/common/layout/lazy-navigation-sheet.tsx
  src/components/features/trending/TrendingPage.tsx
  src/components/ui/lazy-sheet.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.3.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a73ace5646e0aa17259dce3bea6ceb4732fe04ba
Due: none

feat(trending): add pagination to trending repositories page
  src/components/features/trending/TrendingPage.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf(trending): skip unnecessary render on initial mount
  src/components/features/trending/TrendingPage.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(trending): add pagination to trending repositories page (#1423)
  src/components/features/trending/TrendingPage.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a8e020169f3bae79b2f47c49c29030bd79325290
Due: none

fix(repo-view): unify loading states into stable shell pattern
  src/components/features/repository/repo-view.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(app): use repo-specific skeleton during lazy loading
  scripts/trigger-metrics-capture.ts
  src/App.tsx
  tasks/prd-react-router-v7-upgrade.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @supabase/supabase-js from 2.84.0 to 2.86.0 (#1420)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

chore(release): 4.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ccea424fbe67d49d2b43c7ab047f47728894ecca
Due: none

fix(repo-view): unify loading states into stable shell pattern (#1424)
  scripts/trigger-metrics-capture.ts
  src/App.tsx
  src/components/features/repository/repo-view.tsx
  tasks/prd-react-router-v7-upgrade.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.4.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6d0bad0998df8cbb42e3feba8f8e22a3183e6a44
Due: none

fix(ssr): add shared header/footer to all SSR pages
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/ssr-home.ts
  netlify/edge-functions/ssr-profile.ts
  netlify/edge-functions/ssr-repo.ts
  netlify/edge-functions/ssr-trending.ts
  netlify/edge-functions/ssr-workspace-detail.ts
  netlify/edge-functions/ssr-workspace-new.ts
  netlify/edge-functions/ssr-workspaces.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf(ssr): use lightweight header/footer placeholders
  netlify/edge-functions/_shared/html-template.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(ssr): add shared header/footer to all SSR pages (#1425)
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/ssr-home.ts
  netlify/edge-functions/ssr-profile.ts
  netlify/edge-functions/ssr-repo.ts
  netlify/edge-functions/ssr-trending.ts
  netlify/edge-functions/ssr-workspace-detail.ts
  netlify/edge-functions/ssr-workspace-new.ts
  netlify/edge-functions/ssr-workspaces.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.4.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  47b6781a8ea46c110b5846cd4806af50a6f791c2
Due: none

feat(slack): add user-level Slack integration for monthly leaderboard
  src/components/features/repository/repo-view.tsx
  src/components/features/slack/RepositorySlackButton.tsx
  src/components/features/slack/index.ts
  src/services/user-slack-integration.service.ts
  src/types/user-slack.ts
  supabase/functions/slack-list-channels-user/index.ts
  supabase/functions/slack-oauth-callback-user/index.ts
  supabase/functions/slack-oauth-initiate-user/index.ts
  supabase/migrations/20251219000002_user_slack_integrations.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat(slack): add Slack button to leaderboard and user settings
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/settings/settings-page.tsx
  src/components/features/slack/UserSlackIntegrationsCard.tsx
  src/components/features/slack/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(slack): add monthly leaderboard cron job for user integrations
  netlify/functions/inngest.mts
  src/lib/inngest/functions/index-without-embeddings.ts
  src/lib/inngest/functions/index.ts
  src/lib/inngest/functions/send-user-slack-monthly-leaderboard-cron.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(test): use 5-day account age to avoid timing edge case
  supabase/functions/_shared/spam-detection-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

perf: lazy load RepositorySlackButton for faster initial load
  src/components/features/contributor/contributor-of-the-month.tsx
  src/components/features/repository/repo-view.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
