Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

docs: update investigation - Phase 1 indexes already exist
  docs/postmortems/1401-ssr-ttfb-investigation.md
Due: none

fix: use null fallback to prevent CLS during modal lazy load
  src/components/features/workspace/WorkspaceContributorsTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: lazy load modal components to reduce initial bundle size (#1403)
  src/components/features/workspace/WorkspaceContributorsTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: defer non-critical JS loading (phases 2-4)
  docs/product-requirements/prd-file-activity-heatmap.md
  package-lock.json
  package.json
  src/components/common/layout/home.tsx
  src/components/ui/charts/heatmap/HeatmapNivo.tsx
  src/components/ui/charts/heatmap/heatmap-mock-data.ts
  src/components/ui/charts/heatmap/heatmap-utils.ts
  src/components/ui/charts/heatmap/index.ts
  src/components/ui/charts/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: defer non-critical JS loading (phases 2-4) (#1405)
  docs/product-requirements/prd-file-activity-heatmap.md
  package-lock.json
  package.json
  src/components/common/layout/home.tsx
  src/components/ui/charts/heatmap/HeatmapNivo.tsx
  src/components/ui/charts/heatmap/heatmap-mock-data.ts
  src/components/ui/charts/heatmap/heatmap-utils.ts
  src/components/ui/charts/heatmap/index.ts
  src/components/ui/charts/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: defer non-critical JS loading (phases 2-4)
  src/App.tsx
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: defer non-critical JS loading (phases 2-4) (#1407)
  src/App.tsx
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve edge function build errors in ssr-profile
  netlify/edge-functions/_shared/supabase.ts
  netlify/edge-functions/ssr-profile.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: make LLM cache test more deterministic
  src/lib/llm/__tests__/llm-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: exclude .txt and .xml files from ssr-profile edge function
  netlify.toml
Due: none

fix: refactor polar-webhook to use @polar-sh/sdk directly
  netlify/functions/__tests__/polar-webhook.test.ts
  netlify/functions/polar-webhook.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove unused capturedHandlers reference in test
  netlify/functions/__tests__/polar-webhook.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  44abe9896b66c220760882c771d539524595e913
Due: none

fix: refactor polar-webhook to use @polar-sh/sdk directly (#1412)
  netlify/functions/__tests__/polar-webhook.test.ts
  netlify/functions/polar-webhook.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: enable automatic releases on push to main
  .github/workflows/release.yml
  .releaserc.json
  docs/testing/release-process.md
Due: prettier --write

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cff596a3eafe12b1862fd922d8b12702fb74dda6
Due: none

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  59186ba03f3089c529a1eea65ceeffd983c2dfbc
Due: none

feat: add Edge SSR for workspace pages
  netlify.toml
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/_shared/supabase.ts
  netlify/edge-functions/ssr-workspace-detail.ts
  netlify/edge-functions/ssr-workspace-new.ts
  netlify/edge-functions/ssr-workspaces.ts
  src/hooks/use-ssr-data.ts
  src/lib/ssr-hydration.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove missing RPC call and add slug validation
  netlify/edge-functions/_shared/supabase.ts
  netlify/edge-functions/ssr-workspace-detail.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address P1/P2 security review comments
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/ssr-workspace-new.ts
  netlify/edge-functions/ssr-workspaces.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add /workspaces route and WorkspacesPage component
  src/App.tsx
  src/pages/workspaces-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use SSR data for workspaces page hydration
  src/pages/workspaces-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Edge SSR for workspace pages (#1416)
  netlify.toml
  netlify/edge-functions/_shared/html-template.ts
  netlify/edge-functions/_shared/supabase.ts
  netlify/edge-functions/ssr-workspace-detail.ts
  netlify/edge-functions/ssr-workspace-new.ts
  netlify/edge-functions/ssr-workspaces.ts
  src/App.tsx
  src/hooks/use-ssr-data.ts
  src/lib/ssr-hydration.ts
  src/pages/workspaces-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ff8446401dd980273bf5e67da4ffc105d67d4ab3
Due: none

feat(trending): improve user experience with track CTA and clickable cards
  src/components/features/trending/TrendingPage.tsx
  src/components/features/trending/TrendingRepositoryCard.tsx
  src/pages/trending.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(trending): fix PostgREST OR query syntax for events insights
  src/components/features/trending/TrendingEventsInsights.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: change metrics capture cron from 6h to daily
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: increase spacing between trending page sections
  src/components/features/trending/TrendingEventsInsights.tsx
  src/components/features/trending/TrendingPage.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: hide Trending Insights when no event data available
  src/components/features/trending/TrendingEventsInsights.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: hide Trending Insights completely when no data/error
  src/components/features/trending/TrendingEventsInsights.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(trending): improve user experience with track CTA and clickable cards (#1417)
  src/components/features/trending/TrendingEventsInsights.tsx
  src/components/features/trending/TrendingPage.tsx
  src/components/features/trending/TrendingRepositoryCard.tsx
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
  src/pages/trending.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d5eae31b62dcd4c70a35bc11671ec4b978b44bc6
Due: none

fix(database): fix trending metrics calculation
  supabase/migrations/20251219_fix_trending_metrics_calculation.sql
Due: none

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
