Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: optimize service role RLS policies (Phase 2) (#820)
  supabase/migrations/20250127_fix_phase2_service_role_optimizations.sql
Due: none

docs: update RLS documentation with Phase 2 service role optimizations
  docs/database/rls-performance-optimization.md
  docs/database/rls-policy-quick-reference.md
  docs/supabase/RLS_POLICIES.md
Due: none

feat: optimize remaining 120+ auth RLS policies (Phase 4)
  supabase/migrations/20250127_fix_phase4_remaining_auth_rls.sql
Due: none

fix: optimize service role RLS policies (Phase 2) (#822)
  docs/database/rls-performance-optimization.md
  docs/database/rls-policy-quick-reference.md
  docs/supabase/RLS_POLICIES.md
  supabase/migrations/20250127_fix_phase2_service_role_optimizations.sql
Due: none

docs: update RLS documentation with Phase 4 completion
  docs/database/rls-optimization-summary.md
  docs/database/rls-performance-optimization.md
  docs/database/rls-policy-quick-reference.md
Due: none

fix: optimize remaining 120+ auth RLS policies (Phase 4) (#823)
  docs/database/rls-optimization-summary.md
  docs/database/rls-performance-optimization.md
  docs/database/rls-policy-quick-reference.md
  supabase/migrations/20250127_fix_phase4_remaining_auth_rls.sql
Due: none

feat: implement RLS performance monitoring system (Phase 5)
  .github/workflows/rls-monitor.yml
  docs/database/rls-monitoring-guide.md
  supabase/migrations/20250127_add_rls_monitoring_views.sql
  supabase/migrations/20250127_fix_phase5_final_auth_cleanup.sql
  supabase/templates/rls-policy-templates.sql
Due: prettier --write

fix: improve RLS monitor workflow to only check policy definitions
  .github/workflows/rls-monitor.yml
Due: prettier --write

feat: implement RLS performance monitoring system (Phase 5) (#824)
  .github/workflows/rls-monitor.yml
  docs/database/rls-monitoring-guide.md
  supabase/migrations/20250127_add_rls_monitoring_views.sql
  supabase/migrations/20250127_fix_phase5_final_auth_cleanup.sql
  supabase/templates/rls-policy-templates.sql
Due: prettier --write

fix: resolve TypeScript type errors in CI build
  src/components/features/contributor/contributor-of-the-month-wrapper.tsx
  src/components/features/debug/dub-test.tsx
  src/components/features/distribution/distribution-treemap-enhanced.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve remaining TypeScript type errors in CI
  src/components/features/contributor/contributor-of-the-month-wrapper.tsx
  src/components/features/distribution/distribution-treemap-enhanced.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve all critical TypeScript errors for Netlify deployment
  src/components/features/monitoring/web-vitals-dashboard.tsx
  src/components/features/sharing/shareable-card.tsx
  src/hooks/useContributorActivity.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve remaining TypeScript type errors
  src/hooks/useContributorGroups.ts
  src/lib/github.ts
  src/lib/progressive-capture/auto-retry-service.ts
  src/lib/progressive-capture/background-processor.ts
  src/lib/progressive-capture/github-actions-queue-manager.ts
  src/lib/progressive-capture/job-status-reporter.ts
  src/lib/progressive-capture/smart-commit-analyzer.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address critical TypeScript issues from PR review
  src/components/examples/progressive-repo-view-with-error-boundaries.tsx
  src/components/features/contributor/contributor-card-simple.tsx
  src/hooks/useContributorGroups.ts
  src/lib/llm/posthog-openai-service.ts
  src/lib/progressive-capture/github-actions-queue-manager.ts
  src/lib/validation/enhanced-github-api.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: standardize date formatting across codebase (issue #647)
  src/lib/insights/health-metrics.ts
  src/lib/supabase-pr-data-smart.ts
  src/lib/utils/date-formatting.test.ts
  src/lib/utils/date-formatting.ts
  src/services/workspace-aggregation.service.ts
  src/services/workspace-events.service.ts
  src/services/workspace-export.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add comprehensive date formatting guide
  docs/date-formatting-guide.md
Due: none

fix: improve date formatting with validation and performance optimizations
  src/lib/utils/date-formatting.test.ts
  src/lib/utils/date-formatting.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address PR review feedback for date handling
  src/lib/insights/health-metrics.ts
  src/lib/utils/date-formatting.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: standardize date formatting across codebase (#826)
  docs/date-formatting-guide.md
  src/lib/insights/health-metrics.ts
  src/lib/supabase-pr-data-smart.ts
  src/lib/utils/date-formatting.test.ts
  src/lib/utils/date-formatting.ts
  src/services/workspace-aggregation.service.ts
  src/services/workspace-events.service.ts
  src/services/workspace-export.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve test organization and extract magic numbers (issue #648)
  src/lib/api/__tests__/workspace-api.test.tsx
  src/lib/constants/api-constants.ts
  src/lib/constants/time-constants.ts
  src/lib/utils/url-builders.ts
  src/pages/workspace-page.tsx
  src/services/workspace-events.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add code review rules for magic numbers and test organization
  .continue/rules/magic-numbers.md
  .continue/rules/test-organization.md
Due: none

fix: address PR review comments for date range and URL handling
  src/lib/utils/url-builders.ts
  src/services/workspace-events.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix: Improve test organization and extract magic numbers (#827)
  .continue/rules/magic-numbers.md
  .continue/rules/test-organization.md
  src/lib/api/__tests__/workspace-api.test.tsx
  src/lib/constants/api-constants.ts
  src/lib/constants/time-constants.ts
  src/lib/utils/url-builders.ts
  src/pages/workspace-page.tsx
  src/services/workspace-events.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement GitHub API exponential backoff service (#782)
  src/lib/github-api-adapter.ts
  src/lib/sync-pr-reviewers.ts
  src/services/github-api.service.test.ts
  src/services/github-api.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update sync-pr-reviewers tests for exponential backoff changes
  src/lib/__tests__/sync-pr-reviewers.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: make jitter test more stable for CI environment
  src/services/github-api.service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: rewrite tests to comply with bulletproof testing guidelines
  src/services/github-api.service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add comprehensive documentation for exponential backoff implementation
  docs/architecture/github-api-exponential-backoff.md
  docs/guides/using-github-api-backoff.md
Due: none

fix: address PR review feedback for exponential backoff implementation
  package-lock.json
  package.json
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/github-api-adapter.ts
  src/services/github-api.service.test.ts
  src/services/github-api.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add exponential backoff service for GitHub API calls (#828)
  docs/architecture/github-api-exponential-backoff.md
  docs/guides/using-github-api-backoff.md
  package-lock.json
  package.json
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/__tests__/sync-pr-reviewers.test.ts
  src/lib/github-api-adapter.ts
  src/lib/sync-pr-reviewers.ts
  src/services/github-api.service.test.ts
  src/services/github-api.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve Supabase console errors for continue repository
  package.json
  scripts/populate-commits.ts
  src/lib/capture-commits.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add postmortem and documentation for missing commits table incident
  docs/data-fetching/commit-data-capture.md
  docs/postmortems/2025-09-27-missing-commits-table.md
Due: none

fix: add missing 'since' parameter to fetchCommits method
  src/services/github-api.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: make commit capture batch size configurable
  .env.example
  docs/data-fetching/commit-data-capture.md
  scripts/populate-commits.ts
  src/lib/capture-commits.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address PR feedback for commit capture improvements
  scripts/populate-commits.ts
  src/lib/capture-commits.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use authenticated user's GitHub token instead of env variable
  src/lib/capture-commits.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address PR review blocking issues
  scripts/populate-commits.ts
  src/lib/capture-commits.ts
  src/services/github-api.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address critical database and architecture issues
  scripts/populate-commits.ts
  src/lib/capture-commits.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
