Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

fix: improve progressive backfill detection with better logging and thresholds (#1101)
  scripts/github-actions/progressive-backfill.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve Vite node:process externalization error in browser
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: allow hasProcess in test environments
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve llm-service test cache collisions
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/llm/__tests__/llm-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: ensure localStorage cleared in cache clear test
  src/lib/llm/__tests__/llm-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: skip env validation in test environments
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve test environment variable handling in CI and local (#1103)
  public/changelog-feeds.json
  public/changelog-rss.xml
  src/lib/env.ts
  src/lib/llm/__tests__/llm-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: handle missing prNumber in capture/pr.comments gracefully
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: implement proper architecture for repository-wide PR comment discovery
  src/lib/inngest/types/event-data.ts
  src/lib/progressive-capture/hybrid-queue-manager.ts
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: add Node.js types to Deno config for shared code compatibility
  supabase/functions/deno.json
Due: prettier --write

fix: exclude spam detection from Deno type checking to avoid Node.js dependencies
  src/lib/env.deno.d.ts
  supabase/functions/_shared/env.ts
  supabase/functions/deno.json
  supabase/functions/import_map.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

chore: remove flaky edge function tests per bulletproof guidelines
  src/lib/.gitkeep
  src/lib/env.deno.d.ts
  supabase/functions/__tests__/health.test.ts
  supabase/functions/__tests__/inngest-prod.test.ts
  supabase/functions/_shared/database.test.ts
  supabase/functions/_shared/metrics.test.ts
  supabase/functions/_shared/responses.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: handle missing prNumber in capture/pr.comments gracefully (#1106)
  src/lib/.gitkeep
  src/lib/env.deno.d.ts
  src/lib/inngest/types/event-data.ts
  src/lib/progressive-capture/hybrid-queue-manager.ts
  supabase/functions/__tests__/health.test.ts
  supabase/functions/__tests__/inngest-prod.test.ts
  supabase/functions/_shared/database.test.ts
  supabase/functions/_shared/env.ts
  supabase/functions/_shared/metrics.test.ts
  supabase/functions/_shared/responses.test.ts
  supabase/functions/deno.json
  supabase/functions/import_map.json
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: restore page view-based data capture by properly initializing smart notifications
  src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: restore page view-based data capture by properly initializing smart notifications (#1107)
  src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address PR review feedback for smart-notifications
  src/lib/progressive-capture/smart-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add missing Inngest functions to Supabase Edge Function
  netlify/functions/inngest-local-full.mts
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: remove invalid filterBy argument from GitHub GraphQL queries
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: fetch PRs by creation date instead of update date
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: remove date filtering to always capture 100 newest PRs
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

debug: add detailed logging to track PR fetch and sync
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: change is_draft to draft to match database schema
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add page view data capture for workspace and repository views (#1109)
  src/lib/progressive-capture/smart-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add PR capture strategy and Inngest architecture documentation
  docs/architecture/inngest-functions.md
  docs/features/pr-capture-strategy.md
Due: none

fix: resolve Inngest PR capture failures and schema mismatches (#1111)
  docs/architecture/inngest-functions.md
  docs/features/pr-capture-strategy.md
  netlify/functions/inngest-local-full.mts
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: resolve page view data capture and workspace sync issues
  netlify/functions/workspace-sync.ts
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/lib/progressive-capture/smart-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

security: use environment variables instead of hardcoded Supabase URLs
  docs/security/supabase-auth-keys.md
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address PR review comments from #1113
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/lib/inngest/types/event-data.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve page view data capture and workspace sync issues (#1113)
  docs/security/supabase-auth-keys.md
  netlify/functions/workspace-sync.ts
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
  src/lib/inngest/types/event-data.ts
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/lib/progressive-capture/smart-notifications.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: send auth headers to workspace-sync edge function in production
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
  supabase/functions/workspace-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: use Supabase URL directly for workspace-sync API calls
  .continue/rules/fix-ci-build-errors.md
  scripts/deploy-workspace-sync.sh
  scripts/fix-edge-functions-auth.sh
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: deploy workspace-sync edge function without JWT verification
  supabase/functions/deno.lock.backup
Due: none

feat(ui): update notification icon from mail to bell
  public/icons.svg
  src/components/notifications/notification-dropdown.tsx
  src/components/ui/icon.tsx
  src/types/icons.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve workspace-sync CORS error by adding apikey to allowed headers
  src/components/features/repository/repo-view.tsx
  supabase/functions/workspace-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

chore: remove one-time deployment scripts
  scripts/deploy-workspace-sync.sh
  scripts/fix-edge-functions-auth.sh
Due: none

fix: resolve workspace-sync Edge Function authentication errors (#1116)
  .continue/rules/fix-ci-build-errors.md
  src/components/features/repository/repo-view.tsx
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
  supabase/functions/deno.lock.backup
  supabase/functions/workspace-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: resolve Mark as Responded button visibility in My Work modal
  e2e/my-work-respond.spec.ts
  src/components/features/workspace/ResponsePreviewModal.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: refresh My Work list after marking items as responded
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: move notification bell to left of workspace switcher
  src/components/common/layout/layout.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
