Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix(workspace): use auth user id instead of contributor id for follow-ups queries
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): show issue and PR authors in My Work for better prioritization
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): use supabase relationship syntax for fetching issue/discussion authors
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): update copy for assigned issues to show author action
  src/components/features/workspace/MyWorkCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): remove inner join restriction from follow-up queries
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): use direct author_login column for discussions
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add avatar fetching for discussions and PRs in My Work
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add Replies tab to My Work with comment tracking
  src/components/features/workspace/MyWorkCard.tsx
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @supabase/supabase-js from 2.50.5 to 2.58.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade inngest from 3.41.0 to 3.43.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade posthog-js from 1.265.0 to 1.268.6
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-context-menu from 2.2.15 to 2.2.16
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-dropdown-menu from 2.1.15 to 2.1.16
  package-lock.json
  package.json
Due: prettier --write

fix(migration): add ON DELETE SET NULL to pull_requests.responded_by FK
  supabase/migrations/20251017000000_add_responded_columns_to_pull_requests.sql
Due: none

fix: always treat comments table entries as PR comments
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add issues tabs with response filtering and refactoring (#1130)
  src/components/features/workspace/MyWorkCard.stories.tsx
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/ResponsePreviewModal.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/components/WorkspaceSubTabs.stories.tsx
  src/components/features/workspace/components/WorkspaceSubTabs.tsx
  src/components/features/workspace/filters/ResponseFilterGroup.tsx
  src/hooks/use-my-work.ts
  src/hooks/useIssueFiltering.ts
  src/hooks/useSimilarIssues.ts
  src/lib/utils/issue-filters.ts
  src/lib/workspace-filters-store.ts
  supabase/migrations/20251017000000_add_responded_columns_to_pull_requests.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): implement auto-sync for Replies tab comments
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/use-my-work.ts
  src/lib/workspace/comment-sync-service.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add Inngest handlers and cron job for comment sync
  src/lib/inngest/functions/capture-repository-comments-all.ts
  src/lib/inngest/functions/index.ts
  src/lib/inngest/functions/sync-workspace-comments-cron.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: update comment sync cron to run every 4 hours
  src/lib/inngest/functions/sync-workspace-comments-cron.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): Phase 3 - Enhanced UI feedback for comment sync
  src/components/features/workspace/MyWorkCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add comprehensive auto-sync documentation
  docs/features/workspace-comment-auto-sync.md
Due: none

refactor: improve code quality in comment sync service
  docs/technical-debt/refactoring-opportunities.md
  src/lib/workspace/comment-sync-service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: implement medium priority code improvements
  src/lib/workspace/comment-sync-service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor(workspace): improve MyWorkCard resilience and performance
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/components/SyncStatusErrorBoundary.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): add user profile information to contributor hover card
  src/components/features/contributor/contributor-hover-card-profile.stories.tsx
  src/components/features/contributor/contributor-hover-card.tsx
  src/hooks/use-user-profile.ts
  src/lib/types.ts
  src/services/github-profile.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(ui): resolve TypeScript errors in profile hover card
  docs/features/user-profile-hover-card.md
  src/components/features/contributor/contributor-hover-card.tsx
  src/hooks/use-user-profile.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade posthog-js from 1.265.0 to 1.268.6 (#1134)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-dropdown-menu from 2.1.15 to 2.1.16 (#1136)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-context-menu from 2.2.15 to 2.2.16 (#1135)
  package-lock.json
  package.json
Due: prettier --write

refactor(ui): move profile fetching from hover card to modal
  src/components/features/contributor/contributor-hover-card.tsx
  src/components/features/workspace/ContributorProfileModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: update documentation to reflect modal-based profile fetching
  docs/features/user-profile-modal.md
Due: none

docs: enforce pre-commit hooks and prevent --no-verify usage
  .githooks/README.md
  .githooks/prevent-no-verify.sh
  CONTRIBUTING.md
  docs/development/pre-commit-hooks.md
Due: none

fix: address PR review feedback for auto-sync implementation
  docs/features/workspace-comment-auto-sync.md
  docs/technical-debt/refactoring-opportunities.md
  src/components/features/workspace/components/SyncStatusErrorBoundary.tsx
  src/lib/workspace/comment-sync-service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(types): resolve TypeScript errors in organization handling
  src/components/features/contributor/contributor-hover-card.tsx
  src/components/features/workspace/ContributorProfileModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): auto-sync comments for Replies tab with quality improvements (#1137)
  docs/features/workspace-comment-auto-sync.md
  docs/technical-debt/refactoring-opportunities.md
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/features/workspace/components/SyncStatusErrorBoundary.tsx
  src/hooks/use-my-work.ts
  src/lib/inngest/functions/capture-repository-comments-all.ts
  src/lib/inngest/functions/index.ts
  src/lib/inngest/functions/sync-workspace-comments-cron.ts
  src/lib/workspace/comment-sync-service.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Enhance AI contributor summaries with discussion and issue context
  src/components/features/workspace/ContributorProfileModal.tsx
  src/hooks/useContributorActivity.ts
  src/lib/llm/contributor-summary-types.ts
  src/lib/llm/llm-service.ts
  src/lib/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add missing find_similar_pull_requests_in_workspace function (#1139)
  supabase/migrations/20251018000000_add_missing_pr_workspace_similarity.sql
Due: none

feat: Enhance AI contributor summaries with discussion and issue context (#1140)
  src/components/features/workspace/ContributorProfileModal.tsx
  src/hooks/useContributorActivity.ts
  src/lib/llm/contributor-summary-types.ts
  src/lib/llm/llm-service.ts
  src/lib/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: enhance contributor summary specificity and fix truncation
  src/lib/llm/llm-service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve N+1 query problem and add comprehensive test coverage
  src/hooks/useContributorActivity.ts
  src/lib/llm/__tests__/llm-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
