Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

fix(deps): update js-yaml to 4.1.1 to resolve prototype pollution vulnerability
  package-lock.json
  package.json
Due: prettier --write

refactor(security): centralize encryption to shared utility
  supabase/functions/_shared/encryption.ts
  supabase/functions/slack-list-channels/index.ts
  supabase/functions/slack-oauth-callback/index.ts
  supabase/functions/slack-test-integration/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(encryption): add environment variable validation
  supabase/functions/_shared/encryption.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): enable scheduled Slack messages and test button (#1231)
  netlify/functions/inngest.mts
  package-lock.json
  package.json
  src/lib/inngest/functions/index-without-embeddings.ts
  src/services/slack-integration.service.ts
  supabase/functions/_shared/encryption.ts
  supabase/functions/slack-list-channels/index.ts
  supabase/functions/slack-oauth-callback/index.ts
  supabase/functions/slack-test-integration/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add side-by-side charts with expand/collapse in TrendChart story (#1230)
  src/components/features/workspace/TrendChart.stories.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(dub): enhance URL shortening with retry logic and analytics tracking
  src/lib/__tests__/dub.integration.test.ts
  src/lib/dub.ts
  src/services/dub-analytics.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @supabase/supabase-js from 2.75.1 to 2.76.1
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix(dub): add api.dub.co to CSP headers for social sharing
  docs/infrastructure/dub-env-configuration.md
  netlify.toml
  public/_headers
Due: npm run verify:csp

docs(dub): update troubleshooting to include CSP issue
  docs/infrastructure/dub-env-configuration.md
Due: none

refactor(dub): move to serverless function to bypass CORS
  netlify.toml
  netlify/functions/create-short-url.ts
  public/_headers
  src/components/features/debug/dub-test.tsx
  src/lib/dub.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix(dub): add graceful fallback when API key not configured
  src/components/features/debug/dub-test.tsx
  src/lib/dub.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: actions/continue-docs-review/package.json & actions/continue-docs-review/package-lock.json to reduce vulnerabilities
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: prettier --write

fix: upgrade glob from 9.0.0 to 9.3.5
  actions/continue-docs-review/package-lock.json
  actions/continue-docs-review/package.json
Due: prettier --write

fix: upgrade inngest from 3.41.0 to 3.44.5
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade posthog-js from 1.268.6 to 1.285.0
  package-lock.json
  package.json
Due: prettier --write

fix(dub): fix nullish coalescing and error handling in analytics service
  src/services/dub-analytics.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: update dub config tests for serverless function refactor
  src/components/features/repository/__tests__/repo-view-link-sharing.test.tsx
  src/lib/__tests__/dub.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove unused trackClick function
  .storybook/mocks/dub.ts
  src/lib/dub.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(test): remove fragile clipboard mocking that fails in CI
  src/components/features/repository/__tests__/repo-view-link-sharing.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(test): remove redundant getDubConfig test from unit tests
  src/components/features/repository/__tests__/repo-view-link-sharing.test.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(dub): enhance URL shortening with retry logic and analytics tracking (#1237)
  .storybook/mocks/dub.ts
  docs/infrastructure/dub-env-configuration.md
  netlify.toml
  netlify/functions/create-short-url.ts
  src/components/features/debug/dub-test.tsx
  src/components/features/repository/__tests__/repo-view-link-sharing.test.tsx
  src/lib/__tests__/dub.integration.test.ts
  src/lib/dub.ts
  src/services/dub-analytics.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(api): use correct env vars for Netlify functions
  netlify/functions/api-trending-repositories.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(css): resolve CSS minifier warnings with Tailwind selectors
  src/index.css
Due: prettier --write

fix(css): resolve CSS minifier warnings with Tailwind selectors (#1248)
  src/index.css
Due: prettier --write

fix(types): add explicit papaparse type reference for Netlify builds
  src/types/papaparse.d.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(types): add explicit papaparse type reference for Netlify builds (#1249)
  src/types/papaparse.d.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(types): use inline papaparse type declarations
  src/types/papaparse.d.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(types): use inline papaparse type declarations (#1250)
  src/types/papaparse.d.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade posthog-js from 1.268.6 to 1.285.0 (#1244)
  package-lock.json
  package.json
Due: prettier --write

feat(analytics): add PLG tracking for high-value user flows
  docs/analytics/plg-funnels.md
  src/components/common/layout/layout.tsx
  src/components/features/auth/auth-button.tsx
  src/components/features/repository/repository-tracking-card.tsx
  src/components/ui/github-search-input.tsx
  src/hooks/use-analytics.ts
  src/lib/plg-tracking-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(analytics): correct isOrganicVisit and cleanup effect issues
  src/components/features/repository/repository-tracking-card.tsx
  src/lib/plg-tracking-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

Fix trending page showing no repos by adding metrics capture cron
  netlify/functions/api-trending-repositories.mts
  netlify/functions/inngest.mts
  src/lib/inngest/client.ts
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
  src/lib/inngest/functions/index-without-embeddings.ts
  src/lib/inngest/functions/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix silent failure on batch metrics capture errors
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update @polar-sh/sdk to fix high severity vulnerability
  package-lock.json
  package.json
Due: prettier --write

fix: update @polar-sh/sdk to fix high severity vulnerability (#1255)
  package-lock.json
  package.json
Due: prettier --write

fix: trending page showing no repos (#1254)
  netlify/functions/api-trending-repositories.mts
  netlify/functions/inngest.mts
  src/lib/inngest/client.ts
  src/lib/inngest/functions/capture-repository-metrics-cron.ts
  src/lib/inngest/functions/index-without-embeddings.ts
  src/lib/inngest/functions/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: cleanup effect should only run on unmount
  src/components/features/repository/repository-tracking-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(analytics): add PLG tracking for high-value user flows (#1251)
  docs/analytics/plg-funnels.md
  src/components/common/layout/layout.tsx
  src/components/features/auth/auth-button.tsx
  src/components/features/repository/repository-tracking-card.tsx
  src/components/ui/github-search-input.tsx
  src/hooks/use-analytics.ts
  src/lib/plg-tracking-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
