Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0, prettier --write

fix: address critical review issues in ESLint/Prettier setup
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.js
  package.json
  scripts/testing-tools/test-lint-setup.sh
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: Enable ESLint and Prettier with pre-commit hooks (#557)
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  scripts/testing-tools/test-lint-setup.sh
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: address code review comments on workspace auth handling
  src/contexts/WorkspaceContext.tsx
  src/hooks/use-user-workspaces.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

Fix: Prevent workspace timeouts from auth token refreshes (#556)
  public/sitemap-news.xml
  public/sw.js
  src/contexts/WorkspaceContext.tsx
  src/hooks/__tests__/use-user-workspaces.test.ts
  src/hooks/use-user-workspaces.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

chore: remove unused gemini-cli workflow
  .github/workflows/gemini-cli.yml
Due: none

feat: add local Supabase development setup with cross-platform support
  .env.example
  docs/setup/LOCAL_DEVELOPMENT.md
  docs/setup/WINDOWS_SETUP.md
  package.json
  scripts/setup/switch-environment.js
  supabase/config.toml
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: address security concerns in environment switcher script
  scripts/setup/switch-environment.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

Potential fix for code scanning alert no. 37: Incomplete string escaping or encoding
  scripts/setup/switch-environment.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: preserve existing production credentials in environment switcher
  scripts/setup/switch-environment.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

docs: fix incorrect npm script reference in local development guide
  docs/setup/LOCAL_DEVELOPMENT.md
Due: none

docs: update CONTRIBUTING.md with local Supabase setup instructions
  CONTRIBUTING.md
Due: none

Setup local Supabase with Windows/Mac/Linux support (#558)
  .env.example
  .github/workflows/gemini-cli.yml
  CONTRIBUTING.md
  docs/setup/LOCAL_DEVELOPMENT.md
  docs/setup/WINDOWS_SETUP.md
  package.json
  scripts/setup/switch-environment.js
  supabase/config.toml
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: make husky installation optional for production builds
  .github/workflows/sync-migrations.yml
  .github/workflows/validate-migrations.yml
  CONTRIBUTING.md
  docs/setup/DATABASE_MIGRATIONS.md
  package.json
  scripts/migrations/consolidate-migrations.js
  scripts/migrations/generate-local-safe.js
  scripts/setup/install-husky.js
  supabase/migrations/TEMPLATE.sql
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: use ES module syntax in install-husky.js
  scripts/setup/install-husky.js
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: update upload-artifact action to v4
  .github/workflows/validate-migrations.yml
Due: none

feat: add seed data generation system with Inngest integration
  .env.example
  docs/setup/LOCAL_DEVELOPMENT.md
  docs/setup/SEED_DATA.md
  docs/setup/SEED_DATA_IMPLEMENTATION.md
  package.json
  scripts/setup/check-seed-status.mjs
  scripts/setup/generate-seed-data.js
  scripts/setup/generate-seed-data.mjs
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: implement Continue agent's security and error handling improvements
  docs/setup/SEED_DATA.md
  package.json
  scripts/setup/clean-seed-data.mjs
  scripts/setup/generate-seed-data.mjs
Due: prettier --write

feat: add flexible CLI arguments for seed data generation
  docs/setup/SEED_DATA.md
  package.json
  scripts/setup/generate-seed-data.mjs
Due: prettier --write

feat: add seed data generation system with Inngest integration (#560)
  .env.example
  docs/setup/LOCAL_DEVELOPMENT.md
  docs/setup/SEED_DATA.md
  docs/setup/SEED_DATA_IMPLEMENTATION.md
  package.json
  scripts/setup/check-seed-status.mjs
  scripts/setup/clean-seed-data.mjs
  scripts/setup/generate-seed-data.js
  scripts/setup/generate-seed-data.mjs
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: correct broken documentation links in SEED_DATA.md
  docs/setup/SEED_DATA.md
Due: none

feat: implement workspace data aggregation service (#398)
  netlify/functions/api-workspaces-metrics.mts
  netlify/functions/api-workspaces-webhook.mts
  src/hooks/useWorkspace.ts
  src/lib/cache/workspace-metrics-cache.ts
  src/lib/inngest/functions/aggregate-workspace-metrics.ts
  src/lib/inngest/functions/index.ts
  src/lib/workspace/workspace-client.ts
  src/services/workspace-aggregation.service.ts
  supabase/config.toml
  supabase/migrations/20250827_workspace_metrics_cache.sql
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: resolve unused variable warnings in functions and tests (#564)
  actions/continue-review/github-app-auth.ts
  src/app/services/__tests__/git-history.test.ts
  src/app/services/__tests__/issue-similarity.test.ts
  src/hooks/__tests__/use-intersection-loader-basic.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: handle HTTP 206 partial responses in Service Worker
  docs/workspace/http-206-partial-response-fix.md
  public/sw-enhanced.js
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: handle HTTP 206 partial responses in Service Worker (#565)
  docs/workspace/http-206-partial-response-fix.md
  public/sw-enhanced.js
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: implement needs-triage Continue workflow for issue labeling
  .github/workflows/continue-triage.yml
  actions/continue-triage/action.yml
  actions/continue-triage/index.ts
  actions/continue-triage/package.json
  public/sitemap-news.xml
  public/sitemap.xml
Due: eslint --fix --cache --max-warnings=0, prettier --write

fix: update Continue config to use existing review-bot
  .github/workflows/continue-triage.yml
  actions/continue-triage/action.yml
Due: none

fix: secure API key handling in Continue triage action
  actions/continue-triage/index.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write

feat: add production-ready improvements to triage workflow
  .github/workflows/continue-triage.yml
  actions/continue-triage/README.md
  actions/continue-triage/__tests__/triage.test.ts
  actions/continue-triage/action.yml
  actions/continue-triage/index.ts
  actions/continue-triage/triage-config.yml
Due: eslint --fix --cache --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss})
