Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

chore(release): 4.29.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0c/6a026a8382ae13ea8ac6c77804f6458c3de294
Due: none

fix: accessibility and performance improvements
  public/icons/generate-pngs.html
  src/components/features/privacy/privacy-policy-page.tsx
  src/components/features/repository/repo-view.tsx
  src/components/features/workspace/ContributorsList.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/ui/lazy-sheet.tsx
  src/lib/github.ts
  src/lib/onboarding-tour/tour-styles.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: accessibility and performance improvements (#1558)
  public/icons/generate-pngs.html
  src/components/features/privacy/privacy-policy-page.tsx
  src/components/features/repository/repo-view.tsx
  src/components/features/workspace/ContributorsList.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/ui/lazy-sheet.tsx
  src/lib/github.ts
  src/lib/onboarding-tour/tour-styles.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.29.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9f/77867caf0843d00ca6070a56c8809fca0490c7
Due: none

chore(release): 4.30.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  62/920901cff39825c0e58504cb2885a8c4df0044
Due: none

chore(release): 4.30.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c7/29966c7655ace114d903fb15ed2120077057a4
Due: none

fix(test): use component render for IntersectionObserver tests
  src/hooks/__tests__/use-intersection-loader-basic.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: recommend Continue reusable workflow with GH_TOKEN support (#1534)
  .github/workflows/continue-agents.yml
  docs/continue-agents-setup.md
Due: prettier --write

fix(security): resolve undici vulnerability via npm override
  package-lock.json
  package.json
Due: prettier --write

fix(a11y): improve accessibility for images, forms, and headings
  src/components/CaptureHealthMonitor.tsx
  src/components/features/debug/bulk-add-repos.tsx
  src/components/features/workspace/WorkspaceBackfillManager.tsx
  src/components/features/workspace/WorkspaceIssueMetricsAndTrends.tsx
  src/components/ui/lazy-sheet.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): improve accessibility for images, forms, and headings
  src/components/CaptureHealthMonitor.tsx
  src/components/features/debug/bulk-add-repos.tsx
  src/components/features/workspace/ContributorGroupManager.tsx
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/RepositoryFilter.tsx
  src/components/features/workspace/WorkspaceBackfillManager.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/ui/data-state-indicator.tsx
  src/components/ui/lazy-dialog.tsx
  src/components/ui/lazy-sheet.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): add descriptive alt text for remaining avatar images
  src/components/features/workspace/AddRepositoryModal.tsx
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/components/features/workspace/WorkspaceSpamTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): add descriptive alt text for contributor avatar images
  src/components/features/workspace/ContributorsList.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs(a11y): add accessibility scan results for 2026-01-14
  accessibility-scan-results-2026-01-14.md
Due: none

docs(a11y): add color contrast issue #1570 and update scan results
  accessibility-scan-results-2026-01-14.md
Due: none

fix: improve accessibility for images, forms, and headings (#1562)
  package-lock.json
  package.json
  src/components/CaptureHealthMonitor.tsx
  src/components/features/debug/bulk-add-repos.tsx
  src/components/features/workspace/WorkspaceBackfillManager.tsx
  src/components/features/workspace/WorkspaceIssueMetricsAndTrends.tsx
  src/components/ui/lazy-sheet.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.30.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2d/8ee742d2192df6c16ed181045f1b47ab4ac033
Due: none

fix(a11y): add accessibility improvements to ActivityTable
  src/components/features/workspace/ActivityTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve WCAG accessibility across components (#1566-1588)
  src/components/ErrorBoundary.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/WorkspaceCreateForm.tsx
  src/components/features/workspace/WorkspaceSpamTab.tsx
  src/components/features/workspace/charts/AssigneeDistributionChartOptimized.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/components/features/workspace/settings/InviteMemberModal.tsx
  src/components/ui/carousel-lazy.tsx
  src/components/ui/data-state-indicator.tsx
  src/components/ui/empty-state.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): add aria-label to select-all checkbox in WorkspaceBackfillManager
  src/components/features/workspace/WorkspaceBackfillManager.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): use proper label element for select-all checkbox
  src/components/features/workspace/WorkspaceBackfillManager.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): address code review accessibility feedback
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart.tsx
  src/components/ui/carousel-lazy.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): address code review accessibility feedback (#1593)
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart.tsx
  src/components/ui/carousel-lazy.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve WCAG accessibility across components (#1566-1588) (#1589)
  src/components/ErrorBoundary.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/WorkspaceCreateForm.tsx
  src/components/features/workspace/WorkspaceSpamTab.tsx
  src/components/features/workspace/charts/AssigneeDistributionChartOptimized.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/components/features/workspace/settings/InviteMemberModal.tsx
  src/components/ui/carousel-lazy.tsx
  src/components/ui/data-state-indicator.tsx
  src/components/ui/empty-state.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.30.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a7/68db5533ede333025eab737d1e417386f73bd1
Due: none

fix: improve accessibility for checkboxes, avatars, and form hints (#1592, #1594, #1595)
  src/components/features/debug/sync-tracked-repos.tsx
  src/components/features/workspace/ContributorsList.tsx
  src/components/features/workspace/settings/InviteMemberModal.tsx
  src/components/ui/charts/UPlotChart.demo.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve accessibility for checkboxes, avatars, and form hints (#1592, #1594, #1595) (#1596)
  src/components/features/debug/sync-tracked-repos.tsx
  src/components/features/workspace/ContributorsList.tsx
  src/components/features/workspace/settings/InviteMemberModal.tsx
  src/components/ui/charts/UPlotChart.demo.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.30.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c9/cc0397dafd115ecbd3b1dfa0ecc83232f37ce9
Due: none

chore(release): 4.31.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6f/7e7105155117fd7f439a4a74fade5aa6384864
Due: none

fix: add lightweight skeleton loader for Contributor Distribution chart (#1599)
  src/components/features/activity/contributions-wrapper.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
