Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: implement auto-sync for workspace discussions
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/hooks/useWorkspaceDiscussions.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: add synchronous tests for My Work responded_by filter
  src/hooks/__tests__/use-my-work.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: remove async hook test per bulletproof guidelines
  src/hooks/__tests__/use-my-work.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct Playwright locator for My Work item title
  e2e/my-work-respond.spec.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: refresh My Work list after marking items as responded (#1118)
  e2e/my-work-respond.spec.ts
  src/components/features/workspace/ResponsePreviewModal.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement on-demand discussion syncing for workspaces
  src/hooks/useWorkspaceDiscussions.ts
  src/lib/sync-discussions.ts
  supabase/functions/sync-discussions/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: resolve critical workspaceId bug in WorkspaceDiscussionsTable
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1f24d273ec8f391353531794c109389aa9146293
Due: none

feat(ui): display title and issue number in Similar Items modal
  src/components/features/workspace/ResponsePreviewModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): make modal title a clickable link to open item in new tab
  src/components/features/workspace/ResponsePreviewModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement background discussion sync via Inngest
  netlify/functions/inngest-local-full.mts
  src/hooks/useWorkspaceDiscussions.ts
  src/lib/inngest/functions/index.ts
  src/lib/sync-discussions.ts
  supabase/functions/sync-discussions/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: deploy captureRepositoryDiscussions to production and clean up logging
  supabase/functions/inngest-prod/index.ts
  supabase/functions/sync-discussions/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: address PR review issues in WorkspaceDiscussionsTable
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: add comprehensive workspace invitation lifecycle E2E tests
  e2e/workspace-invitation-lifecycle.spec.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: implement auto-sync for workspace discussions (#1119)
  netlify/functions/inngest-local-full.mts
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/hooks/useWorkspaceDiscussions.ts
  src/lib/inngest/functions/index.ts
  src/lib/sync-discussions.ts
  src/pages/workspace-page.tsx
  supabase/functions/inngest-prod/index.ts
  supabase/functions/sync-discussions/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

test: add simplified E2E tests for workspace invitation UI
  e2e/workspace-invitation-simple.spec.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(ui): change no notifications icon from mail to bell
  src/components/notifications/notifications-list.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

ci: add workspace invitation E2E tests to CI pipeline
  .github/workflows/ci-tests.yml
Due: prettier --write

fix(ui): correct Monthly Leaderboard visibility and add workspace button
  src/components/features/contributor/contributor-of-the-month.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: eliminate race condition in workspace invitation acceptance
  src/services/workspace.service.ts
  supabase/migrations/20251016000000_atomic_accept_invitation.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: eliminate race condition in workspace invitation acceptance
  src/services/workspace.service.ts
  supabase/migrations/20251016000000_atomic_accept_invitation.sql
  supabase/migrations/README_atomic_invitation_acceptance.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(tests): correct invitation error expectations and improve login robustness
  e2e/workspace-invitation-lifecycle.spec.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): apply Playwright timeout best practices to fix CI failures
  e2e/workspace-invitation-lifecycle.spec.ts
  playwright.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add faster issue assignee refresh with page visibility sync
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/hooks/useWorkspaceIssues.ts
  src/lib/sync-workspace-issues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add workspace issue auto-sync feature and architecture documentation
  docs/data-fetching/workspace-issue-sync-architecture.md
  docs/features/workspace-issue-auto-sync.md
Due: none

docs: update fly-github-webhooks references to webhooks-server
  docs/features/github-app-fork-pr-checks.md
  docs/github-app/test-webhook.md
  docs/migration/github-webhooks-fly-migration.md
  docs/setup/README.md
Due: none

fix: include github_id in issue sync upsert payload
  src/lib/sync-workspace-issues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: correct error handling documentation to match actual implementation
  docs/data-fetching/workspace-issue-sync-architecture.md
Due: none

feat: add copyable suggestions to docs review action
  actions/continue-docs-review/EXAMPLE_OUTPUT.md
  actions/continue-docs-review/index.ts
  actions/continue-docs-review/package-lock.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: fix inaccurate error handling and pagination descriptions
  docs/data-fetching/workspace-issue-sync-architecture.md
  docs/features/workspace-issue-auto-sync.md
Due: none

fix: address critical code review issues
  docs/data-fetching/workspace-issue-sync-architecture.md
  src/lib/sync-workspace-issues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add faster issue assignee refresh with page visibility sync (#1124)
  docs/data-fetching/workspace-issue-sync-architecture.md
  docs/features/workspace-issue-auto-sync.md
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/hooks/useWorkspaceIssues.ts
  src/lib/sync-workspace-issues.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add issues tabs with response filtering and comprehensive refactoring
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/components/WorkspaceSubTabs.stories.tsx
  src/components/features/workspace/components/WorkspaceSubTabs.tsx
  src/components/features/workspace/filters/ResponseFilterGroup.tsx
  src/hooks/useIssueFiltering.ts
  src/hooks/useSimilarIssues.ts
  src/lib/utils/issue-filters.ts
  src/lib/workspace-filters-store.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(my-work): add 'Needs Response' and 'Replies' tabs for issue filtering
  src/components/features/workspace/MyWorkCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(my-work): add Follow-ups tab to track replies to your responses
  src/components/features/workspace/MyWorkCard.stories.tsx
  src/components/features/workspace/MyWorkCard.tsx
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

debug: add logging to follow-ups item fetching
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add missing responded_at columns to pull_requests and remove debug logging
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: document responded_by/responded_at schema changes for pull_requests
  supabase/migrations/20251017000000_add_responded_columns_to_pull_requests.sql
Due: none

fix: Complete Follow-ups tab implementation for all item types
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/ResponsePreviewModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
