Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

Fix currentStage regression on cache hit and forEach lint issue
  src/hooks/use-progressive-repo-data.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

⚡ Bolt: Optimize progressive loading to skip redundant fetches on cache hit (#1663)
  src/hooks/__tests__/use-progressive-repo-data.test.ts
  src/hooks/use-progressive-repo-data.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add gh-datapipe analytics tools to StarSearch chat (PCC-141)
  netlify/functions/chat.mts
  netlify/functions/lib/gh-datapipe-client.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add 5s fetch timeout to gh-datapipe client
  netlify/functions/lib/gh-datapipe-client.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: wrap datapipe tool executions in try/catch
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use dynamic import for gh-datapipe client
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: move datapipe import into lazy function to avoid top-level await
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: bump maxSteps from 3 to 5 for additional tools
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address CodeRabbit review feedback on datapipe tools
  netlify/functions/chat.mts
  netlify/functions/lib/gh-datapipe-client.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: only register datapipe tools when API is configured
  netlify/functions/chat.mts
  src/components/chat/chat-message.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: move toast to bottom-center when StarSearch panel is open
  src/components/ui/sonner.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use seedling emoji for bot avatar instead of favicon SVG
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: show error fallback for empty assistant messages, extend timeout
  netlify.toml
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: move toast to bottom-left when chat panel is open
  src/components/ui/sonner.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade StarSearch model to gpt-4.1 and improve error visibility
  netlify/functions/chat.mts
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use generateText for tool resolution before streaming response
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace deprecated maxSteps with stopWhen for multi-step tool calls
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add gh-datapipe analytics tools to StarSearch chat (#1671)
  netlify.toml
  netlify/functions/chat.mts
  netlify/functions/lib/gh-datapipe-client.mts
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
  src/components/ui/sonner.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.51.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  84/293f3764badb0dd13706bd92639e3d8529a330
Due: none

fix: optimize chat tool routing and improve loading UX
  netlify/functions/chat.mts
  netlify/functions/lib/gh-datapipe-client.mts
  src/components/chat/chat-messages.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: optimize chat tool routing and improve loading UX (#1672)
  netlify/functions/chat.mts
  netlify/functions/lib/gh-datapipe-client.mts
  src/components/chat/chat-messages.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.51.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2c/44355822408513d5fab48670336510f0a321fb
Due: none

feat: add discover_repos tool to StarSearch chat
  netlify/functions/chat.mts
  netlify/functions/lib/gh-datapipe-client.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: make DiscoveredRepository nullable fields match backend schema
  netlify/functions/lib/gh-datapipe-client.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add discover_repos tool to StarSearch chat (#1673)
  netlify/functions/chat.mts
  netlify/functions/lib/gh-datapipe-client.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.52.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5f/5c00a43d8b0ea2c8d6caa8994ac38d6e878222
Due: none

feat: connect vector search to chat route for RAG context injection
  netlify/functions/chat.mts
  supabase/functions/embed-query/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: use exact Bearer token match in embed-query auth check
  supabase/functions/embed-query/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

chore: upgrade @netlify/functions from v4.3.0 to v5.1.2
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade @netlify/functions from v4.3.0 to v5.1.2 (#1678)
  package-lock.json
  package.json
Due: prettier --write

feat: connect vector search to chat for RAG context (#1674)
  netlify/functions/chat.mts
  supabase/functions/embed-query/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

chore(release): 4.53.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ca/e45b017850b7f71cf48d08410c6788ecd22f16
Due: none

feat: enrich RAG context with body preview, author, and timestamps (#1677)
  netlify/functions/chat.mts
  supabase/migrations/20260219000000_enrich_rag_context.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: enrich RAG context with body preview, author, and timestamps (#1677) (#1679)
  netlify/functions/chat.mts
  supabase/migrations/20260219000000_enrich_rag_context.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.54.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b7/03756e13fcc8740e90818c0e8999408ee6fa31
Due: none

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
