Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

docs: add GitHub issue template for workspace backfill feature
  .github-issue-workspace-backfill.md
Due: none

feat: workspace-level backfill for Extended Data Retention addon
  .env.example
  netlify/functions/polar-webhook.ts
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/services/polar/subscription.service.ts
  src/services/workspace-backfill.service.ts
  supabase/migrations/20251023070824_workspace_backfill_addon.sql
  tasks/prd-extended-data-retention-addon.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use SUPABASE_URL instead of VITE_SUPABASE_URL in webhook
  netlify/functions/polar-webhook.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address code review feedback for workspace backfill
  netlify/functions/polar-webhook.ts
  src/services/workspace-backfill.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address critical Cubic Dev AI review issues
  netlify/functions/polar-webhook.ts
  src/services/polar/subscription.service.ts
  src/services/workspace-backfill.service.ts
  supabase/migrations/20251023150000_atomic_backfill_increment.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address remaining Cubic Dev AI review issues
  .env.example
  src/services/workspace-backfill.service.ts
  tasks/prd-extended-data-retention-addon.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address CodeBunny review issues for workspace backfill
  docs/security/untrusted-metadata-review.md
  netlify/functions/polar-webhook.ts
  src/services/polar/subscription.service.ts
  supabase/migrations/20251023160000_unique_workspace_backfill_constraint.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: workspace-level backfill for Extended Data Retention addon (#1154)
  .env.example
  docs/security/untrusted-metadata-review.md
  netlify/functions/polar-webhook.ts
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/services/polar/subscription.service.ts
  src/services/workspace-backfill.service.ts
  supabase/migrations/20251023070824_workspace_backfill_addon.sql
  supabase/migrations/20251023150000_atomic_backfill_increment.sql
  supabase/migrations/20251023160000_unique_workspace_backfill_constraint.sql
  tasks/prd-extended-data-retention-addon.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve subscription activation failures after purchase (#1105)
  docs/postmortems/2025-10-23-subscription-activation-failures.md
  docs/setup/polar-webhook-error-handling.md
  netlify/functions/__tests__/polar-webhook.test.ts
  netlify/functions/polar-webhook.ts
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: test
  netlify/functions/__tests__/polar-webhook.test.ts
  src/services/__tests__/workspace.service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve webhook mock initialization in tests
  netlify/functions/__tests__/polar-webhook.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix: Subscription Activation Failures After Purchase (#1105) (#1155)
  docs/postmortems/2025-10-23-subscription-activation-failures.md
  docs/setup/polar-webhook-error-handling.md
  netlify/functions/__tests__/polar-webhook.test.ts
  netlify/functions/polar-webhook.ts
  src/services/__tests__/workspace.service.test.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade inngest from 3.41.0 to 3.44.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-hover-card from 1.1.14 to 1.1.15
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-menubar from 1.1.15 to 1.1.16
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-popover from 1.1.14 to 1.1.15
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-select from 2.2.5 to 2.2.6
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-select from 2.2.5 to 2.2.6 (#1160)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-popover from 1.1.14 to 1.1.15 (#1159)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-menubar from 1.1.15 to 1.1.16 (#1158)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-hover-card from 1.1.14 to 1.1.15 (#1157)
  package-lock.json
  package.json
Due: prettier --write

fix(build): exclude inngest from browser bundle to resolve build errors
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(build): replace direct inngest imports with client-safe wrapper
  src/components/features/repository/manual-sync-button.tsx
  src/components/features/repository/unified-sync-button.tsx
  src/lib/progressive-capture/hybrid-queue-manager.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(build): use browser stub alias to prevent inngest module resolution
  src/lib/inngest/browser-stub.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(build): export Inngest class in browser stub for Storybook compatibility
  src/lib/inngest/browser-stub.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(build): export NonRetriableError in browser stub
  src/lib/inngest/browser-stub.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct user ID lookup in workspace team plan detection
  src/hooks/use-has-paid-workspace.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: update mocks to include app_users lookup
  src/hooks/__tests__/use-has-paid-workspace.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: clear invalid activeWorkspaceId when workspace not found
  src/contexts/WorkspaceContext.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: show workspace dropdown when workspaces exist but none selected
  src/components/navigation/WorkspaceSwitcher.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: simplify workspace dropdown visibility logic
  src/components/common/layout/layout.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: remove unused workspace count hooks
  src/hooks/__tests__/use-workspace-count.test.ts
  src/hooks/use-workspace-count.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct user ID lookup in workspace team plan detection (#1162)
  src/components/common/layout/layout.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
  src/contexts/WorkspaceContext.tsx
  src/hooks/__tests__/use-has-paid-workspace.integration.test.ts
  src/hooks/__tests__/use-workspace-count.test.ts
  src/hooks/use-has-paid-workspace.ts
  src/hooks/use-workspace-count.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add service_role INSERT policy for issues table
  supabase/migrations/20251027000000_fix_issues_rls_insert_policy.sql
Due: none

fix: add service_role INSERT policy for issues table (#1163)
  supabase/migrations/20251027000000_fix_issues_rls_insert_policy.sql
Due: none

fix: sort discussions by created_at to show newest first
  src/hooks/useWorkspaceDiscussions.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Recent Activity sort option for discussions
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: sort discussions by created_at to show newest first (#1164)
  src/components/features/workspace/WorkspaceDiscussionsTable.tsx
  src/hooks/useWorkspaceDiscussions.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: identify and label bot accounts in lottery factor card (#1165)
  src/components/features/health/lottery-factor.tsx
  src/lib/utils/bot-detection.ts
  supabase/functions/_shared/bot-detection.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: apply filters before pagination in My Work section
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
