Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix(workspace): address PR #1076 review feedback
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspacePRsTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Revert "fix: suppress Deno process errors with @ts-expect-error directives"
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add aggressive repository backfill script
  docs/operations/aggressive-repository-backfill.md
  scripts/aggressive-backfill-repo.sh
Due: none

refactor: extract workspace tab components for improved maintainability (#1076)
  src/components/features/workspace/WorkspaceActivityTab.tsx
  src/components/features/workspace/WorkspaceIssuesTab.tsx
  src/components/features/workspace/WorkspacePRsTab.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: centralize operational workflows documentation
  docs/workflows/README.md
  docs/workflows/aggressive-repository-backfill.md
Due: none

refactor(env): replace Deno type declarations with Node.js process import
  src/lib/env.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use correct 'issues' table in similarity search (#1078)
  src/services/similarity-search.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: document Netlify Functions directory structure fix
  docs/infrastructure/netlify-functions-directory-fix.md
Due: none

docs: Document Netlify Functions directory structure fix (#1080)
  docs/infrastructure/netlify-functions-directory-fix.md
  docs/workflows/README.md
  docs/workflows/aggressive-repository-backfill.md
  scripts/aggressive-backfill-repo.sh
Due: none

fix: correct import paths after directory restructure
  netlify/functions/__tests__/repository-validation.test.ts
  netlify/functions/lib/error-handler.ts
  netlify/functions/lib/repository-validation.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

cleanup: remove obsolete Netlify functions migrated to Supabase
  .archived/inngest-prod-functions.mts.disabled
  .archived/inngest-prod.mts.disabled
  docs/cleanup-obsolete-files-removal.md
  netlify/functions/api-discover-repository.js
  netlify/functions/api-repository-status.js
  netlify/functions/api-test-reviewers.mts
  netlify/functions/backfill-cancel.ts
  netlify/functions/backfill-events-proxy.ts
  netlify/functions/backfill-events.ts
  netlify/functions/backfill-status.ts
  netlify/functions/backfill-trigger.ts
  netlify/functions/inngest-hybrid.ts
  netlify/functions/inngest-local-full.mts
  netlify/functions/inngest-prod.ts
  netlify/functions/inngest-simple.mts
  netlify/functions/inngest-test.js
  netlify/functions/inngest-unified.mts
  netlify/functions/test.mts
  netlify/functions/validate-repository.ts.backup
  netlify/functions/webhook-backfill-complete.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: restore backfill functions still used by frontend
  netlify/functions/backfill-cancel.ts
  netlify/functions/backfill-events-proxy.ts
  netlify/functions/backfill-events.ts
  netlify/functions/backfill-status.ts
  netlify/functions/backfill-trigger.ts
  pr-verification-comment.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: update cleanup documentation with frontend dependency discovery
  docs/cleanup-obsolete-files-removal.md
Due: none

refactor: extract workspace dashboard utilities and components
  src/components/features/workspace/WorkspaceContributorsTab.tsx
  src/lib/utils/time-range.ts
  src/services/workspace-metrics.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: use extracted utilities in workspace-page
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve TypeScript compilation errors in workspace components
  src/components/features/workspace/WorkspaceContributorsTab.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(logs): suppress console.logs in production
  scripts/replace-console-logs.sh
  src/hooks/use-user-workspaces.ts
  src/lib/dub.ts
  src/lib/feature-flags/posthog-client.ts
  src/lib/inngest/client-safe.ts
  src/lib/llm/posthog-openai-service.ts
  src/lib/logger.ts
  src/lib/progressive-capture/hybrid-queue-manager.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs(logging): add comprehensive logging documentation
  .continue/rules/console-log-security.md
  CONTRIBUTING.md
  docs/development/README.md
  docs/development/logging.md
Due: none

fix: Add respond tracking columns to correct 'issues' table
  docs/postmortems/2025-10-10-respond-tracking-table-mismatch.md
  supabase/migrations/20251010120000_fix_respond_tracking_issues_table.sql
Due: none

fix: update test and docs for removed inngest-prod.mts
  docs/cleanup-obsolete-files-removal.md
  tests/integration/inngest-handlers.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove subquery from trigger WHEN clause
  supabase/migrations/20251010120000_fix_respond_tracking_issues_table.sql
Due: none

cleanup: remove obsolete Netlify functions migrated to Supabase (#1082)
  .archived/inngest-prod-functions.mts.disabled
  .archived/inngest-prod.mts.disabled
  docs/cleanup-obsolete-files-removal.md
  netlify/functions/api-discover-repository.js
  netlify/functions/api-repository-status.js
  netlify/functions/api-test-reviewers.mts
  netlify/functions/inngest-hybrid.ts
  netlify/functions/inngest-local-full.mts
  netlify/functions/inngest-prod.ts
  netlify/functions/inngest-simple.mts
  netlify/functions/inngest-test.js
  netlify/functions/inngest-unified.mts
  netlify/functions/test.mts
  netlify/functions/validate-repository.ts.backup
  netlify/functions/webhook-backfill-complete.ts
  pr-verification-comment.md
  tests/integration/inngest-handlers.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: migrate console.log statements to production-safe logger
  src/App.tsx
  src/hooks/use-user-workspaces.ts
  src/lib/dub.ts
  src/lib/llm-citation-tracking.ts
  src/lib/llm/posthog-openai-service.ts
  src/lib/web-vitals-monitoring.ts
  src/main.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(api): resolve 404 error in backfill trigger endpoint
  netlify/functions/__tests__/backfill-trigger.test.ts
  src/lib/manual-backfill/server-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test(backfill): add comprehensive tests and documentation for PR #1087
  docs/data-fetching/manual-backfill-setup.md
  docs/fixes/pr-1087-manual-backfill-404-fix.md
  netlify/functions/README.md
  netlify/functions/__tests__/backfill-endpoints.integration.test.ts
  netlify/functions/__tests__/backfill-status.test.ts
  scripts/test-backfill-endpoints.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: migrate CODEOWNERS and Workspace Sync APIs to Supabase Edge Functions
  docs/infrastructure/codeowners-workspace-sync-supabase-migration.md
  netlify.toml
  netlify/functions/api-codeowners.mts.disabled
  netlify/functions/workspace-sync-simple.ts.disabled
  supabase/functions/codeowners/index.ts
  supabase/functions/workspace-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade @supabase/supabase-js from 2.50.5 to 2.57.4
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade openai from 5.11.0 to 5.22.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @zumer/snapdom from 1.9.3 to 1.9.11
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @radix-ui/react-toast from 1.2.14 to 1.2.15
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @netlify/functions from 4.1.10 to 4.2.5
  package-lock.json
  package.json
Due: prettier --write

fix: set X-RateLimit-Limit to configured max instead of computed value
  supabase/functions/codeowners/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore: remove obsolete tests for migrated Netlify functions
  netlify/functions/__tests__/api-codeowners-database.test.ts
  netlify/functions/__tests__/api-codeowners.test.ts
  netlify/functions/__tests__/workspace-sync.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(netlify): correct workspace-sync redirect path
  docs/infrastructure/codeowners-workspace-sync-supabase-migration.md
  netlify.toml
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: migrate CODEOWNERS and Workspace Sync APIs to Supabase Edge Functions (#1088)
  docs/infrastructure/codeowners-workspace-sync-supabase-migration.md
  netlify.toml
  netlify/functions/__tests__/api-codeowners-database.test.ts
  netlify/functions/__tests__/api-codeowners.test.ts
  netlify/functions/__tests__/workspace-sync.test.ts
  netlify/functions/api-codeowners.mts.disabled
  netlify/functions/workspace-sync-simple.ts.disabled
  src/components/features/workspace/WorkspaceAutoSync.tsx
  src/components/features/workspace/WorkspaceSyncButton.tsx
  supabase/functions/codeowners/index.ts
  supabase/functions/workspace-sync/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test(backfill): fix mock timing in backfill-status test
  netlify/functions/__tests__/backfill-status.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: upgrade openai from 5.11.0 to 5.22.0 (#1090)
  package-lock.json
  package.json
Due: prettier --write
