Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

test: fix contributor summary fallback test expectations
  src/lib/llm/__tests__/llm-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: enhance contributor summary specificity and fix truncation (#1141)
  src/components/features/contributor/contributor-hover-card.tsx
  src/components/features/workspace/ContributorProfileModal.tsx
  src/hooks/use-user-profile.ts
  src/hooks/useContributorActivity.ts
  src/lib/llm/__tests__/llm-service.test.ts
  src/lib/llm/llm-service.ts
  src/services/github-profile.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address code review feedback for similarity search
  src/services/similarity-search.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve NULL handling and type mapping bugs in similarity search
  src/services/similarity-search.ts
  supabase/migrations/20251018000001_standardize_embedding_dimensions.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Standardize embedding dimensions to 384 across all entities (#1142)
  src/services/similarity-search.ts
  supabase/migrations/20251018000001_standardize_embedding_dimensions.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Phase 2 AI-powered contributor enrichment (#803)
  src/hooks/useContributorActivity.ts
  src/lib/insights/trends-metrics.ts
  src/lib/llm/contributor-enrichment-types.ts
  src/lib/llm/llm-service.ts
  src/services/quality-scoring.ts
  src/services/topic-clustering.ts
  src/services/trend-analysis.ts
  supabase/migrations/20251018000002_contributor_analytics_and_enrichment.sql
  tasks/prd-phase2-ai-enrichment.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: Add comprehensive unit tests for Phase 2 AI enrichment services
  src/services/__tests__/quality-scoring.test.ts
  src/services/__tests__/topic-clustering.test.ts
  src/services/__tests__/trend-analysis.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address cubic-dev-ai review issues (#1143)
  src/hooks/useContributorActivity.ts
  src/services/quality-scoring.ts
  src/services/topic-clustering.ts
  src/services/trend-analysis.ts
  supabase/migrations/20251018000002_contributor_analytics_and_enrichment.sql
  tasks/prd-phase2-ai-enrichment.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: exclude inngest from browser bundle
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Phase 2 AI-powered contributor enrichment (#803) (#1143)
  src/hooks/useContributorActivity.ts
  src/lib/insights/trends-metrics.ts
  src/lib/llm/contributor-enrichment-types.ts
  src/lib/llm/llm-service.ts
  src/services/__tests__/quality-scoring.test.ts
  src/services/__tests__/topic-clustering.test.ts
  src/services/__tests__/trend-analysis.test.ts
  src/services/quality-scoring.ts
  src/services/topic-clustering.ts
  src/services/trend-analysis.ts
  supabase/migrations/20251018000002_contributor_analytics_and_enrichment.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve TypeScript errors from Supabase type inference and exclude inngest from browser bundle
  src/lib/insights/health-metrics.ts
  src/services/workspace-events.service.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: exclude inngest from Storybook browser bundle
  .storybook/main.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): add test mode authentication for CI environment
  src/components/features/auth/login-page.tsx
  src/hooks/use-github-auth.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): replace workspace tests with mock auth tests for CI
  .github/workflows/ci-tests.yml
  e2e/auth-mock-test.spec.ts
  e2e/workspace-invitation-lifecycle.spec.ts
  src/components/features/auth/login-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): enable test mode authentication for CI environment
  .github/workflows/ci-tests.yml
  e2e/auth-mock-test.spec.ts
  e2e/test-login-mode.spec.ts
  src/components/features/auth/login-page.tsx
  src/hooks/use-github-auth.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): fix Playwright beforeEach destructuring pattern
  e2e/auth-mock-test.spec.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: implement AI-powered contributor enrichment system
  scripts/seed-enrichment-test-data.ts
  src/components/features/workspace/ContributorProfileModal.tsx
  src/components/features/workspace/enrichment/ContributorInsights.tsx
  src/components/features/workspace/enrichment/PersonaBadges.tsx
  src/components/features/workspace/enrichment/QualityScoreCard.tsx
  src/components/features/workspace/enrichment/TopicShiftBadge.tsx
  src/components/features/workspace/enrichment/TopicTags.tsx
  src/components/features/workspace/enrichment/VelocityIndicator.tsx
  src/components/features/workspace/enrichment/index.ts
  src/lib/inngest/functions/enrich-contributors-cron.ts
  src/lib/inngest/functions/index.ts
  src/services/contributor-enrichment.ts
  src/services/persona-detection.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(enrichment): add error boundary and rate limiting to AI insights
  src/components/features/workspace/ContributorProfileModal.tsx
  src/components/features/workspace/enrichment/ContributorInsights.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(security): address all code review feedback
  scripts/seed-enrichment-test-data.ts
  src/components/features/workspace/enrichment/ContributorInsights.tsx
  src/services/contributor-enrichment.ts
  src/services/persona-detection.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: AI-Powered Contributor Enrichment System (#1146)
  scripts/seed-enrichment-test-data.ts
  src/components/features/workspace/ContributorProfileModal.tsx
  src/components/features/workspace/enrichment/ContributorInsights.tsx
  src/components/features/workspace/enrichment/PersonaBadges.tsx
  src/components/features/workspace/enrichment/QualityScoreCard.tsx
  src/components/features/workspace/enrichment/TopicShiftBadge.tsx
  src/components/features/workspace/enrichment/TopicTags.tsx
  src/components/features/workspace/enrichment/VelocityIndicator.tsx
  src/components/features/workspace/enrichment/index.ts
  src/lib/inngest/functions/enrich-contributors-cron.ts
  src/lib/inngest/functions/index.ts
  src/services/contributor-enrichment.ts
  src/services/persona-detection.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): make issue/discussion numbers clickable links in similar items modal
  src/components/features/workspace/ResponsePreviewModal.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add missing workspace user relations and foreign keys (#1147)
  supabase/migrations/20251021000000_fix_workspace_user_relations.sql
Due: none

docs: add comprehensive workspace migration and schema documentation
  CHANGELOG.md
  docs/database/workspace-schema.md
  docs/migrations/2025-10-workspace-user-relations-fix.md
Due: none

fix: address workspace migration bot review feedback (#1147)
  docs/database/workspace-schema.md
  docs/migrations/2025-10-workspace-user-relations-fix.md
  supabase/migrations/20251021000000_fix_workspace_user_relations.sql
  supabase/migrations/20251021000001_fix_workspace_rls_for_app_users.sql
Due: none

fix: add missing workspace user relations and foreign keys (#1148)
  CHANGELOG.md
  docs/database/workspace-schema.md
  docs/migrations/2025-10-workspace-user-relations-fix.md
  supabase/migrations/20251021000000_fix_workspace_user_relations.sql
  supabase/migrations/20251021000001_fix_workspace_rls_for_app_users.sql
Due: none

fix: map auth.users.id to app_users.id for workspace queries
  src/hooks/use-user-workspaces.ts
  src/lib/auth-helpers.ts
  src/lib/workspace/workspace-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: add integration tests for workspace access ID mapping
  src/hooks/__tests__/use-user-workspaces.integration.test.ts
  src/lib/__tests__/auth-helpers.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use app_users.id for workspace ownership and membership validation
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: fix regression test to capture all query calls
  src/hooks/__tests__/use-user-workspaces.integration.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: map auth.users.id to app_users.id for workspace queries (#1149)
  src/hooks/__tests__/use-user-workspaces.integration.test.ts
  src/hooks/use-user-workspaces.ts
  src/lib/__tests__/auth-helpers.integration.test.ts
  src/lib/auth-helpers.ts
  src/lib/workspace/workspace-client.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add rate limit handling for discussion capture with exponential backoff
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

refactor: add rate limit handling to githubGraphQL helper
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: add rate limit handling for discussion capture with exponential … (#1150)
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add Continue.dev AI code review workflow
  .continue/rules/code-quality.md
  .continue/rules/security.md
  .continue/rules/supabase-integration.md
  .continue/rules/typescript-standards.md
  .continue/rules/user-experience.md
  .github/workflows/continue-code-review.yml
  docs/workflows/continue-code-review.md
Due: prettier --write

fix: improve Continue CLI error handling and debugging
  .github/workflows/continue-code-review.yml
Due: prettier --write

fix: remove non-existent continuedev/code-reviewer config
  .github/workflows/continue-code-review.yml
Due: prettier --write

fix: use correct config name continuedev/review-bot
  .github/workflows/continue-code-review.yml
Due: prettier --write

feat: switch code review to use codebunny APP_ID
  .github/workflows/continue-review.yml
  actions/continue-review/README.md
Due: prettier --write

feat: migrate to CodeBunny for code reviews
  .github/workflows/continue-review.yml
  actions/continue-review/.gitignore
  actions/continue-review/APP_SETUP_GUIDE.md
  actions/continue-review/ENHANCED_REVIEW_IMPLEMENTATION.md
  actions/continue-review/HOW_IT_WORKS.md
  actions/continue-review/README.md
  actions/continue-review/SECURE_AUTH_GUIDE.md
  actions/continue-review/action.yml
  actions/continue-review/codebase-analyzer.ts
  actions/continue-review/enhanced-prompt-generator.ts
  actions/continue-review/examples/basic-workflow.yml
  actions/continue-review/examples/secure-app-workflow.yml
  actions/continue-review/github-app-auth.ts
  actions/continue-review/index.ts
  actions/continue-review/package.json
  actions/continue-review/review-metrics.ts
  actions/continue-review/tsconfig.json
  deno.lock
  docs/continue-agent-workflows.md
  docs/github-app/continue-agent-troubleshooting.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: migrate to CodeBunny for code reviews (#1152)
  .github/workflows/continue-review.yml
  actions/continue-review/.gitignore
  actions/continue-review/APP_SETUP_GUIDE.md
  actions/continue-review/ENHANCED_REVIEW_IMPLEMENTATION.md
  actions/continue-review/HOW_IT_WORKS.md
  actions/continue-review/README.md
  actions/continue-review/SECURE_AUTH_GUIDE.md
  actions/continue-review/action.yml
  actions/continue-review/codebase-analyzer.ts
  actions/continue-review/enhanced-prompt-generator.ts
  actions/continue-review/examples/basic-workflow.yml
  actions/continue-review/examples/secure-app-workflow.yml
  actions/continue-review/github-app-auth.ts
  actions/continue-review/index.ts
  actions/continue-review/package.json
  actions/continue-review/review-metrics.ts
  actions/continue-review/tsconfig.json
  deno.lock
  docs/continue-agent-workflows.md
  docs/github-app/continue-agent-troubleshooting.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
