Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

fix: upgrade @polar-sh/nextjs from 0.4.11 to 0.8.0 (#1318)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade dub from 0.66.5 to 0.68.0 (#1319)
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @supabase/supabase-js from 2.81.1 to 2.84.0 (#1320)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

feat: add shareable image functionality to Monthly Leaderboard
  src/components/features/contributor/contributor-of-the-month.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: show #1 contributor to logged-in users
  src/components/features/contributor/contributor-of-the-month.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve GitHub avatar CORS issues in shareable card capture
  src/components/features/contributor/contributor-of-the-month.tsx
  src/hooks/use-monthly-contributor-rankings.ts
  src/index.css
  src/lib/snapdom-capture.ts
  supabase/functions/github-avatar-proxy/config.toml
  supabase/functions/github-avatar-proxy/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

perf: lazy load snapdom and html2canvas to improve initial load
  public/social.png
  src/lib/snapdom-capture.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve GitHub avatar CORS issues in shareable card capture (#1327)
  public/social.png
  src/components/features/contributor/contributor-of-the-month.tsx
  src/hooks/use-monthly-contributor-rankings.ts
  src/index.css
  src/lib/snapdom-capture.ts
  supabase/functions/github-avatar-proxy/config.toml
  supabase/functions/github-avatar-proxy/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

Clean up remaining Storybook references
  CONTRIBUTING.md
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add shareable card functionality to Activity Metrics and Trends
  src/components/features/activity/metrics-and-trends-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add capture-optimized layouts for Activity Metrics and Trends
  src/components/features/activity/metrics-and-trends-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add capturing class to snapdom container for layout switching
  src/lib/snapdom-capture.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve capture layout styling for Activity Metrics and Trends
  src/components/features/activity/metrics-and-trends-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct data display and layout in Activity Metrics capture
  src/components/features/activity/metrics-and-trends-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add inline SVG icons to Trends capture view
  src/components/features/activity/metrics-and-trends-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve Trends capture layout with icons and badge
  src/components/features/activity/metrics-and-trends-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add observability for repository tracking flow (#1323)
  src/components/features/repository/repository-tracking-card.tsx
  src/hooks/use-repository-tracking.ts
  src/lib/error-tracking.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add shareable card functionality to Activity Metrics and Trends (#1329)
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/activity/velocity-card.tsx
  src/lib/snapdom-capture.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add observability for repository tracking flow (#1323) (#1331)
  src/components/features/repository/repository-tracking-card.tsx
  src/hooks/use-repository-tracking.ts
  src/lib/error-tracking.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Convert Respond button to dropdown menu with Mark as Responded option
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add workspace spam tab with horizontally scrollable table
  src/App.tsx
  src/components/features/activity/feed-source-toggle.tsx
  src/components/features/activity/pr-activity-wrapper.tsx
  src/components/features/feed/spam-feed-page.tsx
  src/components/features/workspace-page/components/WorkspaceTabNavigation.tsx
  src/components/features/workspace/WorkspaceSpamTab.tsx
  src/hooks/useWorkspaceSpam.ts
  src/lib/utils/workspace-routes.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add optimistic UI for Mark as Responded action
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update tab counts in optimistic UI for Mark as Responded
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove refresh call to prevent UI flickering on Mark as Responded
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Convert "Respond" button to dropdown menu with "Mark as Responded" option (#1333)
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add workspace spam tab with horizontally scrollable table (#1334)
  src/App.tsx
  src/components/features/activity/feed-source-toggle.tsx
  src/components/features/activity/pr-activity-wrapper.tsx
  src/components/features/feed/spam-feed-page.tsx
  src/components/features/workspace-page/components/WorkspaceTabNavigation.tsx
  src/components/features/workspace/WorkspaceSpamTab.tsx
  src/hooks/useWorkspaceSpam.ts
  src/lib/utils/workspace-routes.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(tracking): improve repository tracking pipeline reliability
  netlify/functions/api-repository-status.mts
  netlify/functions/api-track-repository.mts
  netlify/functions/lib/server-tracking.mts
  src/components/features/repository/repository-tracking-card.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(tracking): address PR review feedback for reliability improvements
  netlify/functions/api-repository-status.mts
  netlify/functions/lib/__tests__/server-tracking.test.ts
  netlify/functions/lib/server-tracking.mts
  src/components/features/repository/repository-tracking-card.tsx
  src/types/repository-api.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(security): use proper URL parsing instead of substring matching
  netlify/functions/lib/__tests__/server-tracking.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(db): correct column names in spam query migration
  supabase/migrations/20250115000000_optimize_spam_query_performance.sql
Due: none

fix: hide contribution square borders during capture
  src/index.css
Due: prettier --write

fix: use border none to fully hide contribution square borders
  src/index.css
Due: prettier --write

fix: add contribution square border fix to snapdom inline styles
  src/index.css
  src/lib/snapdom-capture.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(tracking): improve repository tracking pipeline reliability (#1337)
  netlify/functions/api-repository-status.mts
  netlify/functions/api-track-repository.mts
  netlify/functions/lib/__tests__/server-tracking.test.ts
  netlify/functions/lib/server-tracking.mts
  src/components/features/repository/repository-tracking-card.tsx
  src/types/repository-api.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add alerting and monitoring for repository tracking (#1326)
  docs/alerting/repository-tracking-alerts.md
  src/hooks/use-repository-tracking.ts
  src/lib/tracking-alerts.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Delete .github/workflows/continue-review.yml
  .github/workflows/continue-review.yml
Due: prettier --write

fix: add defensive error handling for Sentry/PostHog SDK calls
  src/lib/tracking-alerts.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add alerting and monitoring for repository tracking (#1338)
  docs/alerting/repository-tracking-alerts.md
  src/hooks/use-repository-tracking.ts
  src/lib/tracking-alerts.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix PR title links in workspace table
  src/components/features/workspace/WorkspacePRsTab.tsx
  src/hooks/useWorkspacePRs.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
