Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

fix: add missing Slack OAuth initiate edge function
  slack-app-manifest.yml
  supabase/functions/slack-oauth-initiate/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: add authentication headers to Slack OAuth initiation
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
  supabase/functions/slack-oauth-initiate/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

security: remove credential leak in edge function logs
  supabase/functions/insights/index.ts
  supabase/functions/slack-oauth-initiate/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat: add non-blocking Sentry error tracking integration
  package-lock.json
  package.json
  src/App.tsx
  src/components/sentry-test.tsx
  src/lib/error-tracker.ts
  src/lib/sentry-lazy.ts
  src/main.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

debug: add Sentry initialization debugging
  src/components/sentry-test.tsx
  src/lib/sentry-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: clean up Sentry initialization for production use
  src/lib/sentry-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add Sentry MCP server setup guide
  docs/sentry-mcp-setup.md
Due: none

chore: remove SentryTest component from production app
  src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add non-blocking Sentry error tracking integration (#1200)
  docs/sentry-mcp-setup.md
  package-lock.json
  package.json
  src/components/sentry-test.tsx
  src/lib/error-tracker.ts
  src/lib/sentry-lazy.ts
  src/main.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove broken Slack @2x image and add CSP allowlist
  docs/implementations/sentry-implementation-audit.md
  public/_headers
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: host Slack button image locally to avoid CDN issues
  public/images/add_to_slack.png
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: show Slack integration button to all users regardless of permissions
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace blank PNG with proper SVG Slack button
  public/images/add_to_slack.svg
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use official Slack logo with proper branding
  public/images/add_to_slack.svg
Due: none

chore: remove unused blank PNG Slack button image
  public/images/add_to_slack.png
Due: none

chore: remove outdated Sentry implementation audit
  docs/implementations/sentry-implementation-audit.md
Due: none

fix: add Slack CDN to CSP for workspace settings button (#1201)
  public/_headers
  public/images/add_to_slack.svg
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: upgrade @supabase/supabase-js from 2.75.0 to 2.75.1 (#1194)
  fly-social-cards/package-lock.json
  fly-social-cards/package.json
Due: prettier --write

fix: upgrade @radix-ui/react-collapsible from 1.1.11 to 1.1.12 (#1197)
  package-lock.json
  package.json
Due: prettier --write

fix(csp): add SHA256 hashes for React inline styles
  public/_headers
Due: npm run verify:csp

fix(csp): add unsafe-hashes and new style hash for inline attributes
  public/_headers
Due: npm run verify:csp

fix(csp): add SHA256 hashes for React inline styles (#1203)
  public/_headers
Due: npm run verify:csp

fix: upgrade @radix-ui/react-tooltip from 1.2.7 to 1.2.8 (#1196)
  package-lock.json
  package.json
  supabase/functions/insights/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: add trash icon to Remove from Workspace menu item
  src/components/features/workspace/ContributorsTable.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update table state immediately after removing contributor
  src/hooks/useWorkspaceContributors.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): comprehensive fix for 'Remove from Workspace' functionality
  src/components/features/workspace/ContributorsTable.tsx
  src/hooks/useWorkspaceContributors.ts
  src/lib/workspace-permissions.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): improve member name display in workspace settings
  src/components/features/workspace/settings/MembersTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct member name display in workspace settings
  src/components/features/workspace/settings/MembersTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add trash icon to Remove from Workspace menu item (#1204)
  src/components/features/workspace/ContributorsTable.tsx
  src/hooks/useWorkspaceContributors.ts
  src/lib/workspace-permissions.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct broken fallback logic for member name display
  src/components/features/workspace/settings/MembersTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): optimize member data fetching and improve fallback UX
  src/components/features/workspace/settings/MembersTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): improve member name display in workspace settings (#1205)
  src/components/features/workspace/settings/MembersTab.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(slack): use absolute URLs for OAuth callback redirects
  supabase/functions/.env.example
  supabase/functions/slack-oauth-callback/config.toml
  supabase/functions/slack-oauth-callback/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): use absolute URLs for OAuth callback redirects (#1206)
  supabase/functions/.env.example
  supabase/functions/slack-oauth-callback/config.toml
  supabase/functions/slack-oauth-callback/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): properly configure JWT verification for OAuth callback
  supabase/config.toml
  supabase/functions/slack-oauth-callback/config.toml
Due: none

fix(slack): resolve OAuth callback integration save failure
  supabase/functions/slack-oauth-callback/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

feat(workspace): improve Slack integration UI feedback and status display
  src/components/features/workspace/settings/SlackIntegrationCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(slack): resolve OAuth callback database constraint violation
  supabase/functions/.env.example
  supabase/functions/slack-oauth-callback/index.ts
  supabase/migrations/20251111000000_fix_slack_integrations_created_by_nullable.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix(slack): use maybeSingle() to handle multiple workspace owners
  supabase/functions/slack-oauth-callback/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

Path conditions:
  eslint --fix --cache --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx,mjs,mts}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,mts}) or (any of: *.{json,yml,yaml})) or (any of: *.{css,scss})
  bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh': any of: supabase/functions/**/*.ts
  npm run verify:csp: (any of: index.html) or (any of: public/_headers)
