Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

feat(health): add YOLO Coders button to lottery factor card
  src/components/features/health/lottery-factor.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve YOLO button layout on large screens
  src/components/features/activity/contributions.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(docs-review): encourage review of existing docs for code changes
  actions/continue-docs-review/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(workspace): correct column name in contributor query
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(health): add YOLO Coders button to lottery factor card (#1006)
  src/components/features/activity/contributions.tsx
  src/components/features/health/lottery-factor.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspace): add My Work section with similarity search
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/ResponsePreviewModal.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/components/features/workspace/index.ts
  src/components/icons/PeaceIcon.tsx
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
  src/services/similarity-search.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor(my-work): focus on actionable items only
  src/components/features/workspace/MyWorkCard.tsx
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(my-work): show all unanswered discussions and wire up response modal
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/use-my-work.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: lazy-load similarity search to avoid ONNX Runtime error
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove review-requested PRs query (column doesn't exist)
  src/components/features/workspace/MyWorkCard.tsx
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(my-work): restore review-requested PRs using reviewer_data JSONB
  src/components/features/workspace/MyWorkCard.tsx
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(my-work): add type filtering with PR/Issue/Discussion toggles
  src/components/features/workspace/MyWorkCard.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat(my-work): show GitHub handle and avatar instead of generic "You"
  src/components/features/workspace/MyWorkCard.stories.tsx
  src/components/features/workspace/MyWorkCard.tsx
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(my-work): show discussion author instead of logged-in user
  src/components/features/workspace/MyWorkCard.tsx
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(my-work): join contributors table to get discussion author avatar
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(my-work): resolve discussions foreign key error by fetching avatars separately
  src/hooks/use-my-work.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(my-work): improve similarity search error message
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(database): add workspace discussion similarity function with correct VARCHAR type
  supabase/migrations/20251007000000_add_workspace_discussion_similarity.sql
Due: none

docs: add implementation documentation for discussion similarity fix
  docs/implementations/discussion-similarity-type-fix.md
Due: none

fix(embeddings): add discussions to embedding generation pipeline
  src/lib/inngest/functions/compute-embeddings.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(embeddings): add discussions to embedding generation pipeline (#1013)
  src/lib/inngest/functions/compute-embeddings.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(embeddings): add discussions to embedding generation system
  supabase/migrations/20251007000000_add_discussions_embeddings.sql
Due: none

fix(embeddings): add discussions to embedding generation system (#1014)
  supabase/migrations/20251007000000_add_discussions_embeddings.sql
Due: none

fix(routing): move invitation route before workspace routes to prevent conflicts
  src/App.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(embeddings): configure esbuild to use ESM format for inngest-embeddings function
  netlify.toml
Due: none

fix(embeddings): configure esbuild to use ESM format for inngest-embeddings
  netlify.toml
Due: none

fix(embeddings): configure esbuild to use ESM format for inngest-embeddings (#1019)
  netlify.toml
Due: none

docs: add comprehensive edge functions documentation foundation
  docs/supabase/edge-functions-architecture.md
  public/_headers
  supabase/functions/README.md
  supabase/functions/_shared/README.md
  supabase/functions/_templates/function-template.ts
  supabase/functions/github-webhook/index.ts
  supabase/functions/health/index.ts
  supabase/functions/process-webhook/index.ts
  supabase/functions/repository-sync-graphql/index.ts
  supabase/functions/spam-detection/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

fix: revert CSP hash to match Git repo version
  public/_headers
Due: npm run verify:csp

docs: fix documentation based on cubic-dev-ai review
  docs/supabase/edge-functions-architecture.md
  supabase/functions/README.md
  supabase/functions/_shared/README.md
  supabase/functions/github-webhook/index.ts
  supabase/functions/process-webhook/index.ts
  supabase/functions/repository-sync-graphql/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(build): resolve Rollup 4.45.0 tree-shaking bug with conditional expressions
  package-lock.json
  package.json
  src/components/features/workspace/MyWorkCard.tsx
  src/components/features/workspace/ResponsePreviewModal.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/lib/inngest/functions/compute-embeddings.ts
  src/services/similarity-search.ts
  src/services/workspace.service.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: Documentation Foundation for Edge Functions (#1023)
  docs/supabase/edge-functions-architecture.md
  supabase/functions/README.md
  supabase/functions/_shared/README.md
  supabase/functions/_templates/function-template.ts
  supabase/functions/github-webhook/index.ts
  supabase/functions/health/index.ts
  supabase/functions/process-webhook/index.ts
  supabase/functions/repository-sync-graphql/index.ts
  supabase/functions/spam-detection/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(docs-review): encourage review of existing docs for code changes (#1007)
  actions/continue-docs-review/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: implement type safety, error boundaries, and performance optimizations
  docs/implementations/type-safety-and-performance-fixes.md
  netlify/functions/inngest-embeddings.mts
  scripts/trigger-embeddings.mjs
  scripts/trigger-embeddings.ts
  src/__tests__/similarity-search-performance.test.tsx
  src/__tests__/workspace-identifier.test.ts
  src/components/error-boundaries/ai-feature-error-boundary.tsx
  src/contexts/WorkspaceContext.tsx
  src/hooks/use-similarity-search-cache.ts
  src/pages/workspace-page.tsx
  src/types/workspace-identifier.ts
  supabase/functions/inngest-prod/index.ts
  supabase/functions/test-embeddings/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(embeddings): consolidate all embeddings to Supabase, fix 502 errors
  docs/infrastructure/dual-inngest-architecture.md
  netlify/functions/inngest-embeddings.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(db): ensure original_commit_id column exists in comments table
  supabase/migrations/20251008000000_ensure_original_commit_id_column.sql
Due: none

feat: add shared utilities for edge functions
  supabase/functions/__tests__/database.test.ts
  supabase/functions/_shared/MIGRATION_GUIDE.md
  supabase/functions/_shared/README.md
  supabase/functions/_shared/database.ts
  supabase/functions/_shared/github.ts
  supabase/functions/_shared/responses.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

WIP: attempt to fix supabase functions
  scripts/trigger-embeddings-supabase.mjs
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address cubic-dev-ai review feedback
  supabase/functions/_shared/database.ts
  supabase/functions/_shared/github.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix(inngest): route HTTP methods correctly for function registration
  supabase/functions/inngest-prod/index.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
