Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

chore: Remove non-working Snyk workflow
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

feat: Modernize Snyk security workflow with Continue CLI (#866)
  .github/workflows/snyk-security-scan.yml
Due: prettier --write

fix: Remove missing issue-similarity import from webhook handler
  fly-github-webhooks/src/handlers/pr-check-runs.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: Remove missing issue-similarity import from webhook handler (#867)
  fly-github-webhooks/src/handlers/pr-check-runs.js
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add GitHub App installation CTA components (Phase 0)
  src/components/features/github-app/github-app-install-cta.tsx
  src/hooks/use-github-app-status.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add Snyk security scanning workflow with Continue CLI
  .github/workflows/snyk-security.yml
  .gitignore
  .husky/pre-commit
Due: prettier --write

fix: Address security workflow feedback
  .github/workflows/snyk-security.yml
  .gitignore
  .husky/pre-commit
Due: prettier --write

fix: Improve security report generation robustness
  .github/workflows/snyk-security.yml
Due: prettier --write

fix: Remove incorrect Continue CLI authentication step
  .github/workflows/snyk-security.yml
Due: prettier --write

fix: Add Snyk authentication context to prompts
  .github/workflows/snyk-security.yml
Due: prettier --write

fix: Simplify Snyk auth message in prompts
  .github/workflows/snyk-security.yml
Due: prettier --write

feat: Optimize PR scans to only check changed files
  .github/workflows/snyk-security.yml
Due: prettier --write

fix: Explicitly use Snyk MCP and prevent auth checks
  .github/workflows/snyk-security.yml
Due: prettier --write

docs: modernize CONTRIBUTING.md with current practices
  CONTRIBUTING.md
Due: none

refactor: Use Snyk CLI directly instead of Continue CLI
  .github/workflows/snyk-security.yml
Due: prettier --write

chore: Update workflow name to reflect direct Snyk CLI usage
  .github/workflows/snyk-security.yml
Due: prettier --write

feat: Add AI-powered mitigation suggestions using Continue CLI
  .github/workflows/snyk-security.yml
Due: prettier --write

feat: Add Snyk-specific config and post mitigation as PR comment
  .github/workflows/snyk-security.yml
Due: prettier --write

refactor: Simplify workflow to only run on pull requests
  .github/workflows/snyk-security.yml
Due: prettier --write

feat: Add Snyk security scanning workflow with Continue CLI (#869)
  .github/workflows/snyk-security.yml
  .gitignore
  .husky/pre-commit
Due: prettier --write

docs: Add GitHub App installation guide
  public/docs/github-app-setup.md
  src/components/features/docs/docs-loader.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Integrate GitHub App CTA in workspace PR and Issue tabs
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

refactor: Simplify GitHub App CTA button layout
  src/components/features/github-app/github-app-install-cta.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Comment out GitHub App CTA until webhook features ready
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add GitHub App installation CTA (Phase 0) (#868)
  public/docs/github-app-setup.md
  src/components/features/docs/docs-loader.ts
  src/components/features/github-app/github-app-install-cta.tsx
  src/hooks/use-github-app-status.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Webhook consolidation Phase 0 - shared services & Check Runs (#833)
  app/services/check-runs/check-run-manager.ts
  app/services/webhook/data-service.ts
  app/services/webhook/embedding-queue.ts
  app/webhooks/pr-check-runs.ts
  app/webhooks/pull-request.ts
  tasks/prd-webhook-consolidation-similarity.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Webhook consolidation Phase 1 - refactor handlers with shared services (#833)
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Migrate webhook deployment to new webhooks-server (Phase 2)
  .github/workflows/deploy-github-webhooks.yml
  fly-github-webhooks/.env.example
  fly-github-webhooks/Dockerfile
  fly-github-webhooks/README.md
  fly-github-webhooks/SECURITY_IMPROVEMENTS.md
  fly-github-webhooks/deploy.sh
  fly-github-webhooks/fly.toml
  fly-github-webhooks/package-lock.json
  fly-github-webhooks/package.json
  fly-github-webhooks/src/handlers/installation.js
  fly-github-webhooks/src/handlers/issue-comment.js
  fly-github-webhooks/src/handlers/issues-direct.js
  fly-github-webhooks/src/handlers/issues.js
  fly-github-webhooks/src/handlers/labeled.js
  fly-github-webhooks/src/handlers/pr-check-runs.js
  fly-github-webhooks/src/handlers/pull-request-direct.js
  fly-github-webhooks/src/handlers/pull-request-reviewer-suggestions.js
  fly-github-webhooks/src/handlers/pull-request.js
  fly-github-webhooks/src/server.js
  fly-github-webhooks/src/utils/database.js
  fly-github-webhooks/src/utils/logger.js
  fly-github-webhooks/src/utils/validation.js
  fly-github-webhooks/test/pull-request-reviewer-suggestions.test.js
  fly-github-webhooks/test/server.test.js
  fly-github-webhooks/vitest.config.js
  webhooks-server/.dockerignore
  webhooks-server/.env.example
  webhooks-server/Dockerfile
  webhooks-server/README.md
  webhooks-server/fly.toml
  webhooks-server/package.json
  webhooks-server/src/server.ts
  webhooks-server/tsconfig.json
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Implement real-time similarity updates (Phase 3)
  app/services/webhook/similarity-updater.ts
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use only supported InvitationErrorType values
  src/pages/invitation-acceptance-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add event routing with prioritization and rate limiting (Phase 4)
  app/services/event-priority.ts
  app/webhooks/event-router.ts
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add PostHog monitoring and analytics (Phase 5)
  app/services/similarity-metrics.ts
  app/services/webhook-metrics.ts
  app/webhooks/pull-request.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Address PR #871 feedback: Security, reliability, and test improvements
  .github/workflows/snyk-security.yml
  app/services/check-runs/__tests__/check-run-manager.test.ts
  app/services/check-runs/check-run-manager.ts
  app/webhooks/__tests__/event-router.test.ts
  app/webhooks/event-router.ts
  docs/webhooks/improvements-sept-2025.md
  tasks/prd-webhook-consolidation-similarity.md
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix infinite render loop in WorkspaceContext
  src/contexts/WorkspaceContext.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Add dev mode console message for Netlify server requirement
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: Enable GitHub App CTA and add webhook similarity testing guide
  PR_DESCRIPTION.md
  docs/features/similarity-webhook-testing.md
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix GitHub App CTA and add sparkle indicators for installation status
  src/components/features/workspace/RepositoryList.tsx
  src/components/features/workspace/WorkspaceDashboard.tsx
  src/hooks/use-workspace-github-app-status.ts
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Fix infinite render loop in GitHub App status check
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Add debug logging for GitHub App installation status
  src/components/features/workspace/RepositoryList.tsx
  src/hooks/use-workspace-github-app-status.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
