Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

revert: remove static HTML shell approach (caused regressions)
  index.html
  public/_headers
Due: npm run verify:csp

perf: defer query-client persistence to improve initial render (#1367)
  src/lib/query-client.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

docs: add LCP improvements postmortem and update best practices
  docs/performance/README.md
  docs/performance/performance-best-practices.md
  docs/postmortems/lcp-improvements-dec-2025.md
Due: none

docs: add LCP improvements postmortem and update best practices (#1369)
  docs/performance/README.md
  docs/performance/performance-best-practices.md
  docs/postmortems/lcp-improvements-dec-2025.md
Due: none

fix: remove SECURITY DEFINER from 5 views (#1362)
  src/lib/inngest/functions/compute-embeddings.ts
  supabase/functions/inngest-prod/index.ts
  supabase/migrations/20251216000000_remove_security_definer_from_remaining_views.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: remove conflicting RLS policies on progressive_capture_jobs
  supabase/migrations/20251216000001_fix_progressive_capture_jobs_rls.sql
Due: none

fix: remove SECURITY DEFINER from 5 views (#1370)
  src/lib/inngest/functions/compute-embeddings.ts
  supabase/functions/inngest-prod/index.ts
  supabase/migrations/20251216000000_remove_security_definer_from_remaining_views.sql
  supabase/migrations/20251216000001_fix_progressive_capture_jobs_rls.sql
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'

fix: enable RLS on github_events_cache_2025_10 and contributor_analytics (#1363)
  supabase/migrations/20251216000002_enable_rls_missing_tables_1363.sql
Due: none

fix: enable RLS on public tables missing row-level security (#1363) (#1371)
  supabase/migrations/20251216000002_enable_rls_missing_tables_1363.sql
Due: none

feat: add SSR loaders and meta functions for critical routes (Phase 2)
  app/routes/home.tsx
  app/routes/profile.tsx
  app/routes/repo.tsx
  app/routes/trending.tsx
  src/lib/supabase-server.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add SSR guards to ThemeProvider (Phase 3)
  src/components/common/theming/theme-provider.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: enable streaming SSR with caching (Phase 4)
  app/entry.server.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add npm retry config to prevent transient CI failures
  .github/workflows/build.yml
  .github/workflows/ci-tests.yml
Due: prettier --write

fix: update build output path for RR v7
  netlify.toml
  package.json
Due: prettier --write

fix: add react-router-dom alias to vitest configs
  vitest.config.simple.ts
  vitest.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve LLM service test isolation issue
  src/lib/llm/__tests__/llm-service.test.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: update CI workflows for RR v7 build output path
  .github/workflows/lighthouse-ci.yml
  .github/workflows/performance-monitoring.yml
Due: prettier --write

fix: revert to standard Vite SPA build for Netlify
  .github/workflows/lighthouse-ci.yml
  .github/workflows/performance-monitoring.yml
  app/root.tsx
  app/routes/repo.tsx
  app/routes/signup-redirect.tsx
  app/routes/trending.tsx
  netlify.toml
  package.json
  react-router.config.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: configure React Router v7 SSR with Netlify Edge Functions
  .github/workflows/lighthouse-ci.yml
  .github/workflows/performance-monitoring.yml
  app/entry.server.tsx
  netlify.toml
  package.json
  react-router.config.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use react-router build for SSR server generation
  package.json
  react-router.config.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove SPA redirect for SSR mode, update dev command
  netlify.toml
Due: none

fix: update e2e tests for SSR mode compatibility
  e2e/critical-flows.spec.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: simplify Netlify build command for SSR compatibility
  netlify.toml
Due: none

fix: use npx for react-router CLI on Netlify
  netlify.toml
Due: none

debug: add verbose logging to Netlify build
  netlify.toml
Due: none

fix: use npm run build instead of custom command
  netlify.toml
Due: none

debug: add CLI version check to diagnose build failure
  netlify.toml
Due: none

fix: simplify build command and update deps
  netlify.toml
  package-lock.json
Due: prettier --write

debug: run react-router build directly to isolate issue
  netlify.toml
Due: none

debug: force clean npm install to bypass cache issues
  netlify.toml
Due: none

fix: add CI=false to prevent warnings-as-errors
  netlify.toml
Due: none

fix: use empty CI value instead of false
  netlify.toml
Due: none

fix: add @netlify/vite-plugin for proper deployment
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve Netlify deploy errors for missing export and env vars
  src/lib/inngest/functions/index-without-embeddings.ts
  src/lib/supabase.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: improve CI test stability for responsiveness test
  e2e/critical-flows.spec.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add SSR guards to posthog-lazy.ts for edge runtime
  src/lib/posthog-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add SSR guards to login page for edge runtime compatibility
  src/components/features/auth/login-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

test: skip auth-mock tests during SSR migration
  e2e/auth-mock-test.spec.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: add SSR guards to fix edge function 502 errors
  src/lib/feature-flags/monitoring.tsx
  src/lib/feature-flags/posthog-client.ts
  src/lib/feature-flags/utils.ts
  src/lib/sentry-lazy.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write
