Repository bdougie/contributor.info: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write, bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh', npm run verify:csp

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,mts}": [
    "eslint --fix --cache --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "supabase/functions/**/*.ts": [
    "bash -c 'cd /Users/briandouglas/code/contributor.info && ./scripts/utilities/format-deno.sh'"
  ],
  "*.{json,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "index.html": ["npm run verify:csp"],
  "public/_headers": ["npm run verify:csp"]
}

⚡ Bolt: Use native lazy loading for avatars (#1676)
  package-lock.json
  package.json
  src/components/ui/__tests__/optimized-avatar-simple.test.tsx
  src/components/ui/optimized-avatar-simple.tsx
  src/lib/__tests__/optimized-avatar-utils.test.ts
  src/lib/optimized-avatar-utils.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add clickable example questions to StarSearch empty state
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add card components for repo summary and contributor rankings
  src/components/chat/chat-cards/contributor-rankings-card.tsx
  src/components/chat/chat-cards/repo-summary-card.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: emit tool events to client stream for rich card rendering
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: use explicit FK hint in PR attention query and harden stream
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

style: use rounded-lg pill buttons for example questions
  src/components/chat/chat-messages.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: remove unknown casts and harden chat card components
  netlify/functions/chat.mts
  src/components/chat/chat-cards/contributor-rankings-card.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
  src/components/chat/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: guard example pills behind auth, add missing desktop error prop, and handle tool errors
  netlify/functions/chat.mts
  src/components/chat/chat-cards/repo-summary-card.tsx
  src/components/chat/chat-panel.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add clickable example questions to StarSearch chat (#1680)
  netlify/functions/chat.mts
  src/components/chat/chat-cards/contributor-rankings-card.tsx
  src/components/chat/chat-cards/repo-summary-card.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/chat-messages.tsx
  src/components/chat/chat-panel.tsx
  src/components/chat/types.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.55.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b8/d9d51be64856d5a3a7a4a622a271bddfdea5d4
Due: none

fix: actions/continue-triage/package.json to reduce vulnerabilities
  actions/continue-triage/package.json
Due: prettier --write

fix: prevent loading flash of status banners on repo pages
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/contributor/contributor-of-month-wrapper.tsx
  src/components/features/repository/repo-view.tsx
  src/hooks/use-cached-repo-data.ts
  src/hooks/use-repository-tracking.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: replace blue-tinted skeleton lines with standard Skeleton component
  src/components/skeletons/features/pr-activity-skeleton.tsx
  src/components/skeletons/layouts/contributions-skeleton.tsx
  src/components/skeletons/layouts/distribution-skeleton.tsx
  src/components/skeletons/layouts/health-skeleton.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: address PR review bugs for loading flash prevention
  src/components/features/activity/metrics-and-trends-card.tsx
  src/hooks/use-repository-tracking.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: prevent loading flash of status banners on repo pages (#1685)
  src/components/features/activity/metrics-and-trends-card.tsx
  src/components/features/contributor/contributor-of-month-wrapper.tsx
  src/components/features/repository/repo-view.tsx
  src/components/skeletons/features/pr-activity-skeleton.tsx
  src/components/skeletons/layouts/contributions-skeleton.tsx
  src/components/skeletons/layouts/distribution-skeleton.tsx
  src/components/skeletons/layouts/health-skeleton.tsx
  src/hooks/use-cached-repo-data.ts
  src/hooks/use-repository-tracking.ts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  c3/1343953d2d5f01aa1a8ed3ddc649be47590520
Due: none

chore(release): 4.55.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(ui): use gap option in VirtualizedList for correct total size (#1683)
  package-lock.json
  src/components/ui/__tests__/virtualized-list.test.tsx
  src/components/ui/virtualized-list.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: optimize workspace events fetching to eliminate N+1 queries (#1684)
  src/pages/workspace-page.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: actions/continue-triage/package.json to reduce vulnerabilities (#1682)
  actions/continue-triage/package.json
Due: prettier --write

chore(release): 4.56.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f5/4e09c9c51fae40cc94a3703abfe697d7f5945a
Due: none

feat: add gpt-4o-mini preprocessor to chat pipeline for injection detection
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

perf: parallelize preprocessor with repo lookup and datapipe check
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: refactor chat tools into parallel sub-agents (#1687)
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add chat preprocessor agent for injection detection (#1693)
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

Notes added by 'git notes add'
  b2/b660cbcb4940eb8237cd905acd090cbcc5f11f
Due: none

chore(release): 4.57.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: discover_repos card emission and extra repo DB round-trip
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: selective sub-agent prompts and SubAgentResult discriminant field
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

⚡ Bolt: Optimize contributor filtering and lookups (#1681)
  src/components/features/workspace/ContributorsList.tsx
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add data normalization layer for RAG pipeline (#1670)
  netlify/functions/lib/__tests__/datapipe-normalizer.test.ts
  netlify/functions/lib/datapipe-normalizer.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

fix: export NormalizeAllInput and add empty top_contributors test
  netlify/functions/lib/__tests__/datapipe-normalizer.test.ts
  netlify/functions/lib/datapipe-normalizer.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: add data normalization layer for RAG pipeline (#1695)
  netlify/functions/lib/__tests__/datapipe-normalizer.test.ts
  netlify/functions/lib/datapipe-normalizer.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.58.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f6/6386b433ac15d35952c21d959299eaab201734
Due: none

fix: address code review feedback on parallel sub-agents PR
  netlify/functions/__tests__/agents/repo-health-agent.test.ts
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

feat: refactor chat tools into parallel sub-agents (#1694)
  netlify/functions/__tests__/agents/repo-health-agent.test.ts
  netlify/functions/agents/contributor-agent.mts
  netlify/functions/agents/repo-health-agent.mts
  netlify/functions/chat.mts
Due: eslint --fix --cache --max-warnings=0 --no-warn-ignored, prettier --write

chore(release): 4.59.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
